#portfolio
  .table-responsive
    table.table
      tbody
        tr
          td.text-center
            i.fa.fa-comment
          td
            | First communication
          td
            | 2014/08/08 12:08
        tr
          td.text-center
            i.fa.fa-truck
          td
            | Oppurtunity 
            span.label.label-primary Pending
            | to 
            span.label.label-success Completed
          td
            | 2014/08/08 12:08
        tr
          td.text-center
            i.fa.fa-check
          td
            | @@@@@@@@@@@@@@@@@@@@@@
          td
            | 2014/08/08 12:08
        tr
          td.text-center
            i.fa.fa-users
          td
            | @@@@@@@@@@@@@@@@@@@@@@@@
          td
            | 2014/08/08 12:08
        tr
          td.text-center
            i.fa.fa-truck
          td
            | @@@@@@@@@@@@@@@@@@@@@
            span.label.label-primary Pending
            | to 
            span.label.label-success Completed
          td
            | 2014/08/08 12:08