
<div id="portfolio">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td class="text-center"><i class="fa fa-comment"></i></td>
          <td>First communication</td>
          <td>2014/08/08 12:08</td>
        </tr>
        <tr>
          <td class="text-center"><i class="fa fa-truck"></i></td>
          <td>Oppurtunity <span class="label label-primary">Pending</span>to <span class="label label-success">Completed</span></td>
          <td>2014/08/08 12:08</td>
        </tr>
        <tr>
          <td class="text-center"><i class="fa fa-check"></i></td>
          <td>@@@@@@@@@@@@@@@@@@@@@@</td>
          <td>2014/08/08 12:08</td>
        </tr>
        <tr>
          <td class="text-center"><i class="fa fa-users"></i></td>
          <td>@@@@@@@@@@@@@@@@@@@@@@@@</td>
          <td>2014/08/08 12:08</td>
        </tr>
        <tr>
          <td class="text-center"><i class="fa fa-truck"></i></td>
          <td>@@@@@@@@@@@@@@@@@@@@@<span class="label label-primary">Pending</span>to <span class="label label-success">Completed</span></td>
          <td>2014/08/08 12:08</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>