
<div class="panel panel-default">
  <div class="panel-heading">Add Campaign</div>
  <div class="panel-body">
    <div class="row col-lg-12">
      <div class="col-lg-3"><span> </span><strong>Title:</strong>
        <div> 
          <cite>{$title}</cite>
        </div>
      </div>
      <div class="col-lg-3"><span></span><strong>Starting Date: </strong>
        <div> 
          <cite>{$starting_date}</cite>
        </div>
      </div>
      <div class="col-lg-3"><span> </span><strong>Ending Date: </strong>
        <div> 
          <cite>{$ending_date}</cite>
        </div>
      </div>
      <div class="col-lg-3"><span> </span><strong>Category: </strong>
        <div> 
          <cite>{$campaign_category}{$campaign_category_id}</cite>
        </div>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-3"><span> </span><strong>Campaign Type: </strong>
        <div> 
          <cite>{$campaign_type}						</cite>
        </div>
      </div>
    </div>
  </div>
</div>