.panel.panel-default
	.panel-heading Add Campaign
	.panel-body
		.row.col-lg-12.xepan-push
			.col-lg-4
				.atk-form-row
				strong Title:
				div 
					cite.atk-form-field.atk-form-row {$title}
			.col-lg-4
				.atk-form-row
					strong Starting Date: 
					div 
						cite.atk-form-field.atk-form-row {$starting_date}
			.col-lg-4
				.atk-form-row
					strong Ending Date: 
					div 
						cite.atk-form-field.atk-form-row {$ending_date}
		.row.col-lg-12
			.col-lg-4
				.atk-form-row
					strong Campaign Type: 
					div 
						cite.atk-form-field.atk-form-row {$campaign_type}
			.col-lg-4
				.atk-form-row
					strong Associate Marketing Category: 
					div 
						cite.atk-form-field.atk-form-row {$category}
			.col-lg-4
				.atk-form-row
					strong Associate Social Users: 
					div 
						cite.atk-form-field.atk-form-row {$user}						