
<div class="panel panel-default">
  <div class="panel-heading">Add Campaign</div>
  <div class="panel-body">
    <div class="row col-lg-12 xepan-push">
      <div class="col-lg-4">
        <div class="atk-form-row"></div><strong>Title:</strong>
        <div> 
          <cite class="atk-form-field atk-form-row">{$title}</cite>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="atk-form-row"><strong>Starting Date: </strong>
          <div> 
            <cite class="atk-form-field atk-form-row">{$starting_date}</cite>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="atk-form-row"><strong>Ending Date: </strong>
          <div> 
            <cite class="atk-form-field atk-form-row">{$ending_date}</cite>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-4">
        <div class="atk-form-row"><strong>Campaign Type: </strong>
          <div> 
            <cite class="atk-form-field atk-form-row">{$campaign_type}</cite>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="atk-form-row"><strong>Associate Marketing Category: </strong>
          <div> 
            <cite class="atk-form-field atk-form-row">{$category}</cite>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="atk-form-row"><strong>Associate Social Users: </strong>
          <div> 
            <cite class="atk-form-field atk-form-row">{$user}						</cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>