.panel.panel-default
	.panel-heading Add Campaign
	.panel-body
		.row.col-lg-12
			.col-lg-3
				.atk-form-row
				strong Title:
				div 
					cite {$title}
			.col-lg-3
				.atk-form-row
					strong Starting Date: 
					div 
						cite {$starting_date}
			.col-lg-3
				.atk-form-row
					strong Ending Date: 
					div 
						cite {$ending_date}
			.col-lg-3
				.atk-form-row
					strong Category: 
					div 
						cite {$campaign_category}{$campaign_category_id}

		.row.col-lg-12
			.col-lg-3
				.atk-form-row
					strong Campaign Type: 
					div 
						cite {$campaign_type}						