.panel.panel-default
	.panel-heading Add/Edit Sms
	.panel-body
		.row.col-lg-12.xepan-push
		.row.col-lg-12
			.col-lg-6
				span 
				strong Title: 
				div 
					cite {$title}
			.col-lg-6
				span 
				strong Category:
				div 
					cite {$marketing_category}{$marketing_category_id}
		.row.col-lg-12
				span 
				strong Message: 
				div 
					cite {$message_blog}