
<div class="panel panel-default">
  <div class="panel-heading">Add/Edit Sms</div>
  <div class="panel-body">
    <div class="row col-lg-12 xepan-push"></div>
    <div class="row col-lg-12">
      <div class="col-lg-6"><span> </span><strong>Title: </strong>
        <div> 
          <cite>{$title}</cite>
        </div>
      </div>
      <div class="col-lg-6"><span> </span><strong>Category:</strong>
        <div> 
          <cite>{$marketing_category}{$marketing_category_id}</cite>
        </div>
      </div>
    </div>
    <div class="row col-lg-12"><span> </span><strong>Message: </strong>
      <div> 
        <cite>{$message_blog}</cite>
      </div>
    </div>
  </div>
</div>