
<div class="panel panel-default">
  <div class="panel-heading">Add Social Post</div>
  <div class="panel-body">
    <div class="row col-lg-12 atk-push"></div>
    <div class="row col-lg-12">
      <div class="col-lg-4"><span> </span><strong>Category:</strong>
        <div> 
          <cite>{$marketing_category}{$marketing_category_id}</cite>
        </div>
      </div>
      <div class="col-lg-4"><span> </span><strong>Post Title: </strong>
        <div> 
          <cite>{$title}</cite>
        </div>
      </div>
      <div class="col-lg-4"><span> </span><strong>URL: </strong>
        <div> 
          <cite>{$url}</cite>
        </div>
      </div>
    </div>
    <div class="row xepan-push-large">			</div>
    <div class="row col-lg-12"><span> </span><strong>Attachment: </strong>
      <div> 
        <cite>{$attachment} </cite>
      </div>
    </div>
    <div class="row xepan-push-large"></div>
    <div class="row col-lg-12"><span> </span><strong>Blog:</strong>
      <div> 
        <cite>{$message_blog}</cite>
      </div>
    </div>
  </div>
</div>