
<div class="panel panel-default">
  <div class="panel-heading">Add New Sms</div>
  <div class="panel-body">
    <div class="row col-lg-12 xepan-push"></div>
    <div class="row col-lg-12">
      <div class="col-lg-3"><span> </span><strong>Category:</strong>
        <div> 
          <cite>{$marketing_category}{$marketing_category_id}</cite>
        </div>
      </div>
      <div class="col-lg-3"><span></span><strong>Name: </strong>
        <div> 
          <cite>something else here</cite>
        </div>
      </div>
      <div class="col-lg-3"><span> </span><strong>Title: </strong>
        <div> 
          <cite>{$title}</cite>
        </div>
      </div>
      <div class="col-lg-3"><span> </span><strong>Message: </strong>
        <div> 
          <cite>{$message_160}</cite>
        </div>
      </div>
    </div>
  </div>
</div>