
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th class="footable-visible footable-first-column footable-sortable">Campaign</th>
        <th class="footable-visible footable-sortable">Completed On</th>
        <th data-hide="phone" class="footable-visible footable-sortable">Leads</th>
        <th data-hide="phone,tablet" class="text-center footable-visible footable-last-column footable-sortable">Response</th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td></td>
          <td></td>
          <td></td>
          <td></td>{/}
        </tr>{/}{/}
        {not_found}
        {$not_found_message}
        {/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>