
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body"> 
        <header class="main-box-header clearfix">
          <h2>Lead Details</h2>
        </header>
        <div class="col-lg-12"> 
          <div class="col-lg-5 xepan-push">
            <div class="row xepan-push"><strong>Source:</strong>
              <div class="row"></div>
              <cite>{source}Source here{/}</cite>
            </div>
            <div class="row xepan-push"><strong>Assign To:</strong>
              <div class="row"></div>
              <cite>{$assign_to}{$assign_to_id}</cite>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-lg-6 xepan-push"> <strong>Category:</strong>
            <div class="row"></div>
            <cite>{$ass_cat}{$contact_id}{$marketing_category}{$asso_form}</cite>
          </div>
        </div>
        <div class="row xepan-push-large"></div>
        <div style="display:none;" class="col-lg-12"> 
          <div class="col-lg-6 xepan-push"><strong>Communication Graph:</strong>
            <div class="row">
              <div sparkType="bar" class="sparkline">{$weekly_communication}  </div>
            </div>
          </div>
          <div class="col-lg-6 xepan-push"> <strong>Opportunity Chart:</strong>
            <div class="row"></div><span sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]" class="sparkline">
               
              {$open_count},{$converted_count},{$rejected_count}</span>
          </div>
        </div>
        <div class="col-lg-12"> <strong>Remark:</strong>
          <div class="col-md-12">
            <div class="atk-form-row atk-form-field"> {$remark}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>{$Content}