.row
  .col-lg-12
    .panel.panel-default
      .panel-body 
        header.main-box-header.clearfix
          h2 Lead Details
        .col-lg-12  
          .col-lg-6
                strong Source:
                br
                cite {source}Source here{/}
          .col-lg-6  
                strong Category:
                br
                cite {$marketing_category}{$marketing_category_id}
        br
        br
        br
        br        
        .col-lg-12  
          .col-lg-6
                strong Communication Graph:
                br
                span.sparkline(sparkType="bar" sparkHeight="40px" sparkbarColor="lightgray")
                        {communication}40,10,30,30,10,5,20,40,10,30,30{/} 
          .col-lg-6 
                strong Opportunity Chart:
                br
                span.sparkline(sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]") 
                        {$open_count},{$converted_count},{$rejected_count}
        
