
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body"> 
        <header class="main-box-header clearfix">
          <h2>Lead Details</h2>
        </header>
        <div class="col-lg-12"> 
          <div class="col-lg-6"><strong>Source:</strong><br/>
            <cite>{source}Source here{/}</cite>
          </div>
          <div class="col-lg-6"> <strong>Category:</strong><br/>
            <cite>{$marketing_category}{$marketing_category_id}</cite>
          </div>
        </div><br/><br/><br/><br/>
        <div class="col-lg-12"> 
          <div class="col-lg-6"><strong>Communication Graph:</strong><br/><span sparkType="bar" sparkHeight="40px" sparkbarColor="lightgray" class="sparkline">{communication}40,10,30,30,10,5,20,40,10,30,30{/} </span></div>
          <div class="col-lg-6"> <strong>Opportunity Chart:</strong><br/><span sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]" class="sparkline">
               
              {$open_count},{$converted_count},{$rejected_count}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>