.row
  .col-lg-12
    .panel.panel-default
      .panel-body 
        header.main-box-header.clearfix
          h2 Lead Details
        .col-lg-12  
          .col-lg-5.xepan-push
                .row.xepan-push
                  strong Source:
                  .row
                  cite {source}Source here{/}
                .row.xepan-push
                  strong Assign To:
                  .row
                  cite {$assign_to}{$assign_to_id}
          .col-md-1
          .col-lg-6.xepan-push  
                strong Category:
                .row
                cite {$ass_cat}{$contact_id}{$marketing_category}{$asso_form}
        .row.xepan-push-large
        
        .col-lg-12(style="display:none;") 
          .col-lg-6.xepan-push
                strong Communication Graph:
                .row
                 .sparkline(sparkType = "bar") {$weekly_communication}  
          .col-lg-6.xepan-push 
                strong Opportunity Chart:
                .row
                span.sparkline(sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]") 
                        {$open_count},{$converted_count},{$rejected_count}
        .col-lg-12  
              strong Remark:
              .col-md-12
                .atk-form-row.atk-form-field  {$remark}
{$Content}