
<ul class="graph-stats">
  <li>
    <div class="clearfix">
      <div class="title pull-left">Earnings</div>
      <div data-toggle="tooltip" title="" data-original-title="10% down" class="value pull-right">$94.382 <i class="fa fa-level-down red"></i></div>
    </div>
    <div class="progress">
      <div role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100" style="width: 69%;" class="progress-bar"><span class="sr-only">69% Complete</span></div>
    </div>
  </li>
  <li>
    <div class="clearfix">
      <div class="title pull-left">Orders</div>
      <div data-toggle="tooltip" title="" data-original-title="24% up" class="value pull-right">3.930 <i class="fa fa-level-up green"></i></div>
    </div>
    <div class="progress">
      <div role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%;" class="progress-bar progress-bar-danger"><span class="sr-only">42% Complete</span></div>
    </div>
  </li>
  <li>
    <div class="clearfix">
      <div class="title pull-left">New Clients</div>
      <div data-toggle="tooltip" title="" data-original-title="8% up" class="value pull-right">894 <i class="fa fa-level-up green"></i></div>
    </div>
    <div class="progress">
      <div role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;" class="progress-bar progress-bar-success"><span class="sr-only">78% Complete</span></div>
    </div>
  </li>
  <li>
    <div class="clearfix">
      <div class="title pull-left">Visitors</div>
      <div data-toggle="tooltip" title="" data-original-title="17% down" class="value pull-right">824.418 <i class="fa fa-level-down red"></i></div>
    </div>
    <div class="progress">
      <div role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100" style="width: 94%;" class="progress-bar progress-bar-warning"><span class="sr-only">94% Complete</span></div>
    </div>
  </li>
</ul>