ul.graph-stats
  li
    .clearfix
      .title.pull-left
        | Campaign
      .value.pull-right(data-toggle='tooltip', title='', data-original-title='2% down')
        | 10 
        i.fa.fa-level-down.red
    .progress
      .progress-bar(role='progressbar', aria-valuenow='69', aria-valuemin='0', aria-valuemax='100', style='width: 69%;')
        span.sr-only 69% Complete
  li
    .clearfix
      .title.pull-left
        | Lead
      .value.pull-right(data-toggle='tooltip', title='', data-original-title='24% up')
        | 1024 
        i.fa.fa-level-up.green
    .progress
      .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='42', aria-valuemin='0', aria-valuemax='100', style='width: 42%;')
        span.sr-only 42% Complete
  li
    .clearfix
      .title.pull-left
        | Converted
      .value.pull-right(data-toggle='tooltip', title='', data-original-title='8% up')
        | 5% 
        i.fa.fa-level-up.green
    .progress
      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='78', aria-valuemin='0', aria-valuemax='100', style='width: 78%;')
        span.sr-only 78% Complete
  li
    .clearfix
      .title.pull-left
        | Rejected
      .value.pull-right(data-toggle='tooltip', title='', data-original-title='17% down')
        | 95% 
        i.fa.fa-level-down.red
    .progress
      .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='94', aria-valuemin='0', aria-valuemax='100', style='width: 94%;')
        span.sr-only 94% Complete