
<div class="row col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Header Settings</div>
    <div class="panel-body">
      <div class="row col-lg-12">
        <div class="col-lg-4"><strong>Email Reply To:</strong><br/>
          <cite>abc@gmail.com</cite>
        </div>
        <div class="col-lg-4"><strong>From Email:</strong><br/>
          <cite>xyz@gmail.com</cite>
        </div>
        <div class="col-lg-4"><strong>Sender Email:</strong><br/>
          <cite>pqr@gmail.com</cite>
        </div>
      </div><br/><br/><br/>
      <div class="row col-lg-12">
        <div class="col-lg-4"><strong>Replier Name:</strong><br/>
          <cite>abc@gmail.com</cite>
        </div>
        <div class="col-lg-4"><strong>From Name:</strong><br/>
          <cite>xyz@gmail.com</cite>
        </div>
        <div class="col-lg-4"><strong>Sender Name:</strong><br/>
          <cite>pqr@gmail.com</cite>
        </div>
      </div>
    </div>
  </div>
</div>