.row.col-lg-12
			.panel.panel-default
				.panel-heading Header Settings
				.panel-body
					.row.col-lg-12
						.col-lg-4
							strong Email Reply To:
							br
							cite abc@gmail.com
						.col-lg-4
							strong From Email:
							br
							cite xyz@gmail.com
						.col-lg-4
							strong Sender Email:
							br
							cite pqr@gmail.com
					br
					br
					br		
					.row.col-lg-12
						.col-lg-4
							strong Replier Name:
							br
							cite abc@gmail.com
						.col-lg-4
							strong From Name:
							br
							cite xyz@gmail.com
						.col-lg-4
							strong Sender Name:
							br
							cite pqr@gmail.com