.row
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-envelope
        span.headline Newsletter
        span Sent : {$newsletter_count} | Opportunity : {$nwl_opp_count}
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-envelope
        span.headline SMS
        span Sent : {$sms_count} | Opportunity : {$sms_opp_count}       
.row
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-globe
        span.headline Social
        span Sent : {$social_count} | Opportunity : {$social_opp_count}
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-user
        span.headline Telecall
        span Call : {$tele_count} | Opportunity : {$tele_opp_count}                 
  .col-md-12
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-user
        span.headline Personal Relation
        span Opportunity : {$personal_opp_count} 