
<div class="row">
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">Newsletter</span><span class="value">4k</span></div>
  </div>
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">SMS</span><span class="value">1k       </span></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-globe"></i><span class="headline">Social</span><span class="value">9k</span></div>
  </div>
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-user"></i><span class="headline">Telecall</span><span class="value">4k                 </span></div>
  </div>
  <div class="col-md-12">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-user"></i><span class="headline">Personal Relation</span><span class="value">4k </span></div>
  </div>
</div>