
<div class="row">
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">Newsletter</span><span>Sent : {$newsletter_count} | Opportunity : {$nwl_opp_count}</span></div>
  </div>
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">SMS</span><span>Sent : {$sms_count} | Opportunity : {$sms_opp_count}       </span></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-globe"></i><span class="headline">Social</span><span>Sent : {$social_count} | Opportunity : {$social_opp_count}</span></div>
  </div>
  <div class="col-md-6">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-user"></i><span class="headline">Telecall</span><span>Call : {$tele_count} | Opportunity : {$tele_opp_count}                 </span></div>
  </div>
  <div class="col-md-12">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-user"></i><span class="headline">Personal Relation</span><span>Opportunity : {$personal_opp_count} </span></div>
  </div>
</div>