.row
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-envelope
        span.headline Newsletter
        span.value 4k
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-envelope
        span.headline SMS
        span.value 1k       
.row
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-globe
        span.headline Social
        span.value 9k
  .col-md-6
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-user
        span.headline Telecall
        span.value 4k                 
  .col-md-12
      .main-box.infographic-box.colored.emerald-bg
        i.fa.fa-user
        span.headline Personal Relation
        span.value 4k 