.row.col-lg-12
			.panel.panel-default
				.panel-heading Login Credentials
				.panel-body
					.row.col-lg-12
						.col-lg-6
							strong Email Username:
							br
							cite vaibhavsharma38@gmail.com
						.col-lg-6
							strong Email Password:
							br
							cite ***********