
<div class="col-lg-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6">Title will be placed here</div>
      <div class="col-lg-6"><span class="label label-success">Jaipur Printing</span></div>
    </div>
  </div><img alt="" src="img/samples/email-template-3.png" class="img-responsive"/>
  <div class="col-lg-4">
    <div class="row xepan-push"></div>
    <div class="dropdown">
      <button type="button" data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle">Active<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Inactive</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row xepan-push"></div><a href="#" class="btn btn-primary"><i class="fa fa-sm"></i><i class="fa fa-delicious"></i></a>
  </div>
  <div class="col-lg-4">
    <div class="row xepan-push"></div>{$test_button}
  </div>
</div>