.email-detail-nano-content(tabindex='0', style='right: -13px;')
  #email-detail-inner
    #email-detail-subject.clearfix
      span.subject Subject: {$title}
      span.label.label-success {$marketing_category}{$marketing_category_id}
    #email-detail-sender.clearfix
      .picture.hidden-xs
        img(alt='', src='img/samples/angelina-300.jpg')
      .users
        .from.clearfix
          .name
            | {$created_by}
      .tools
        .date
          | {$created_at}
        .btns
          .btn-group 
               {$action}    
    #email-body
      {message_blog}
      
      {/message_blog}
    