.col-lg-4
          .row
            .col-lg-12
              .col-lg-6
                |Title will be placed here
              .col-lg-6
                span.label.label-success Jaipur Printing
   
          img.img-responsive(alt='', src='img/samples/email-template-3.png')
          .col-lg-4
            .row.xepan-push
            .dropdown
                  button.btn.btn-success.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                    | Active
                    span.caret
                  ul.dropdown-menu
                    li
                      |Inactive
          .col-lg-4
            .row.xepan-push
            a.btn.btn-primary(href='#')
              i.fa.fa-sm
              i.fa.fa-delicious

          .col-lg-4
            .row.xepan-push
            {$test_button}