.col-lg-12
  .panel.panel-default
    .panel-body 
      header.main-box-header.clearfix
        h2 Create Opportunity
      .col-lg-9
            input#inputSuccess.form-control(type='text')

      .col-lg-3 
            a.btn.btn-primary.pull-right(href='#')
              i.fa.fa-lg
              |  Add Opportunity
                  
  .col-lg-12
  .panel.panel-default
    .panel-body
      header.main-box-header.clearfix
        h2 Previous Opportunities
      .main-box-body.clearfix.table-responsive
        table.table
          thead
            tr
              th
                  span Opportunity
              th
                  span Status
              th
                  span Duration

          tbody
            tr
              td
                | Previous added opportunity here
              td
                .dropdown
                  button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                    | Inactive
                    span.caret
                  ul.dropdown-menu
                    li
                      |Active
                    li
                      |Closed
              td
                | 01/01/2016
                br
                | 02/01/2016
                br
                |  1 month 
              td(style='width: 20%;')
                a.table-link(href='#')
                  span.fa-stack
                    i.fa.fa-square.fa-stack-2x
                    i.fa.fa-pencil.fa-stack-1x.fa-inverse
                a.table-link.danger(href='#')
                  span.fa-stack
                    i.fa.fa-square.fa-stack-2x
                    i.fa.fa-trash-o.fa-stack-1x.fa-inverse