ol.dd-list
{rows}{row}
li.dd-item.dd-item-list.draggable-event(data-id="{$id}" data-contenttype="{$type}" data-eventsource='{ "title":"{$title}", "_nid": "{$id}" , "document_id" : "{$id}" , "start" : "{$date}" , "contenttype" : "{$contenttype}" }')
        .dd-handle-list
          i(class = "{$icon}")  
        .dd-handle
         div(style="width: 100%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;") {$title}
{/}{/}
