.row.xepan-push-large
	.col-md-12
		div.xepan-push.atk-form-row
			{$campaign}
		div.xepan-push.atk-form-row
			{$date}
		div.xepan-push.atk-form-row
			{$time}
.row.xepan-push
		{$FormButtons}
.row
{$Content}			