
<div class="row">
  <div class="col-lg-3 hidden-xs hidden-sm">
    <div id="external-events" class="main-box">
      <header class="main-box-header clearfix">
        <h2>Draggable Events</h2>
      </header>
      <div class="main-box-body clearfix">
        <div data-eventclass="label-primary" style="position: relative;" class="external-event label-primary ui-draggable">My Event 1</div>
        <div data-eventclass="label-danger" style="position: relative;" class="external-event label-danger ui-draggable">My Event 2</div>
        <div data-eventclass="label-success" style="position: relative;" class="external-event label-success ui-draggable">My Event 3</div>
        <div data-eventclass="label-warning" style="position: relative;" class="external-event label-warning ui-draggable">My Event 4</div>
        <div data-eventclass="label-info" style="position: relative;" class="external-event label-info ui-draggable">My Event 5</div>
        <div data-eventclass="label-default" style="position: relative;" class="external-event label-default ui-draggable">My Event 6</div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="drop-remove" type="checkbox" value="option1"/> Remove after drop
          </label>
        </div>
      </div>
    </div>
  </div>{$Content}
</div>