{rows}{row}
.row.xepan.xepan-push-small
	.col-md-12
		.draggable-event(data-id="{$id}")
			.text-muted(style="width: 100%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;")
				{$title}
{/}{/}