{rows}{row}
.row.xepan-push-small
	.col-md-12
		.external-event.label.label-primary(data-id="{$id}")
			span(style="width: 100%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;")      	{$title}
{/}{/}