.col-lg-4.col-md-6.col-sm-6         
  .main-box.small-graph-box.emerald-bg
    span.heading.h4 Print Marketing in Udaipur
    span.label.label-success.pull-right Draft 
    br
    hr  
    span Dear customer udaipur printing team wishes you a very happy new year ! 
    br
    br
    .row
      .col-lg-12
        .col-lg-2
        .col-lg-7  
          .btn-group(role='group', aria-label='...')
            {$test_button}