div(id="{$_name}" class="{$class}")
	{rows}{row}
	.col-md-4
		.social-box.col-md-12.col-sm-4.facebook
			i.fa.fa-facebook
			.clearfix
				span.social-count 1k
				span.social-action likes &nbsp; 
				span.social-count 70
				span.social-action comments &nbsp;
				span.social-count 25 
				span.social-action Shares 
			span.social-name Maximum Response From
	{/}{/}		