
<div id="{$_name}" class="xepan-grid clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="gallery-photos-wrapper">
    <ul id="{$_name}" class="clearfix gallery-photos gallery-photos-hover ui-sortable">
      {header}{/}
      {$subheader}
      {rows}{row}
      <li data-id="{$id}" class="col-md-2 col-sm-3 col-xs-6">
        <div style="background-image:url({$file})" class="photo-box"></div><a style="top:25px;left:30px;color:white;" class="remove-photo-link"></a>{$edit}
        {$delete}
      </li>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}
      {/}
    </ul>{$Paginator}
  </div>
</div>