
<div class="col-md-12 panel panel-default">
  <div class="panel-heading">
    <h5>Call And Score Analysis</h5>
  </div>
  <div class="panel-body">
    <div class="col-md-4"><a href="#"><span sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]" class="sparkline daily_graph">{$daily_analysis} </span>
        <div class="text-success">Daily</div></a></div>
    <div class="col-md-4"><a href="#"><span sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]" class="sparkline weekly_graph">{$weekly_analysis}  </span>
        <div class="text-success">Weekly</div></a></div>
    <div class="col-md-4"><a href="#"><span sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]" class="sparkline monthly_graph">{$monthly_analysis}</span>
        <div class="text-success">Monthly		</div></a></div>
  </div>
</div>