.panel.panel-default
	.panel-body
		.row.xepan.push-small
			h1.text-center {$name}
			.btn-group.pull-right
				.pull-left {$btn-opportunity}
				button.positive-lead.btn.btn-primary.btn-xs(data-id="{$id}" data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Positive Lead')
					i.fa.fa-plus-circle
				button.negative-lead.btn.btn-primary.btn-xs(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Negative Lead')
					i.fa.fa-minus-circle 	
		hr
		.row
			.col-md-12.xepan-push
				{$communication_type}
		.row.xepan-push
			.col-md-12
				{$search}
		.row.xepan-push
			.col-md-12
				{$FormButtons}			