
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">
  {Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block"> 
      <div class="form-group pull-right xepan-filter-form"><span>{$grid_buttons}</span><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span>
      </div>
    </div>
  </header>
  {/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th><span>Lead {$name_sort}</span></th>
        <th id="{$priority_sortid}"><span>Priority {$priority_sort}    </span></th>
        <th data-hide="desktop,phone,tablet">Contact</th>
        <th id="{$score_sortid}"> <span>Score {$score_sort}</span></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$avatar}<a href="" data-id="{$id}" class="do-view-lead"><span class="user-subhead">{$effective_name}</span></a>
            <div class="user-subhead">
              <h6>[{city}{/}] - [{$type}]</h6>
            </div>
            <div> <small class="text-muted">{$last_communication} </small></div>
            <div><small class="text-muted">{$date}</small></div>
          </td>
          <td>{$priority}</td>
          <td>{$contacts_str} &nbsp; &nbsp; {action}Action Here{/}</td>
          <td>{score}xyz{/}
            <a href="" data-id="{$id}" class="tele-lead">
              <div style="display: none;" class="area-hidden">{$name}</div><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa-phone fa fa-stack-1x fa-inverse">           </i></span></a></td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>
<style>
  .view-lead-grid .table{
      height:534px;
      max-height:534px;
      overflow-x:hidden;
      overflow-y:scroll;
  }
</style>