.panel.panel-default 
	.panel-body
		.row.xepan.push-small
			h1.text-center {$name}
			hr
		.row 	
			.col-md-6
				{$description}	
			.col-md-6		
				.row.xepan-push-small
					{$title}
				.row.xepan-push-small
					{$FormButtons}
				.row.xepan-push-small
					{$btn-opportunity}