.panel.panel-default 
	.panel-body
		.row.xepan.push-small
			h1.text-center {$name}
			hr
		.row 	
			.col-md-12
				{$title}
			.col-md-12		
				.row.xepan-push-small
				{$description}	
			.col-md-3
				.row.xepan-push-small
				{$FormButtons}
			.col-md-3		
				.row.xepan-push-small
				{$btn-opportunity}
			.col-md-3		
			.col-md-3		
