.row.col-lg-12
			.panel.panel-default
				.panel-heading Throttling
				.panel-body
					.row.col-lg-12
						.col-lg-3
							strong Return Path:
							br
							cite ijk@gmail.com
						.col-lg-3
							strong SMTP Auto Reconnect:
							br
							cite 5
						.col-lg-3
							strong Email Threshold:
							br
							cite Threshold here
						.col-lg-3
							strong Email Port:
							br
							.checkbox.checkbox-nice
										input#remember-me(type='checkbox', checked='checked', disabled='true')
										label(for='post-in-groups')
												strong Post In Groups										