
<div class="row col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Throttling</div>
    <div class="panel-body">
      <div class="row col-lg-12">
        <div class="col-lg-3"><strong>Return Path:</strong><br/>
          <cite>ijk@gmail.com</cite>
        </div>
        <div class="col-lg-3"><strong>SMTP Auto Reconnect:</strong><br/>
          <cite>5</cite>
        </div>
        <div class="col-lg-3"><strong>Email Threshold:</strong><br/>
          <cite>Threshold here</cite>
        </div>
        <div class="col-lg-3"><strong>Email Port:</strong><br/>
          <div class="checkbox checkbox-nice">
            <input id="remember-me" type="checkbox" checked="checked" disabled="true"/>
            <label for="post-in-groups"><strong>Post In Groups										</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>