.row.col-lg-12
			.panel.panel-default
				.panel-heading Transport settings
				.panel-body
					.row.col-lg-12
						.col-lg-3
							strong Email Transport:
							br
							cite SMTP Transport
						.col-lg-3
							strong Encryption:
							br
							cite SSL
						.col-lg-3
							strong Email Host:
							br
							cite Host Name
						.col-lg-3
							strong Email Port:
							br
							cite Port Name	