  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[SUBJECT]</title>
    <style type="text/css">
    body {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     margin:0 !important;
     width: 100% !important;
     -webkit-text-size-adjust: 100% !important;
     -ms-text-size-adjust: 100% !important;
     -webkit-font-smoothing: antialiased !important;
   }
   .tableContent img {
     border: 0 !important;
     display: block !important;
     outline: none !important;
   }
   a{
    color:#382F2E;
  }

  p, h2{
    color:#382F2E;
  }

  div,p,ul,h2{
    margin:0;
  }

  
 a.link1{
color:#698EC3;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

a.link2{

}

h2{
color:#555555;
 font-size:21px;
 font-weight:normal;
}

    .bgBody {background:#ffffff;}
    .bgItem {background:#ffffff;}

p, li{
 color:#999999;
 font-size:13px;
 line-height:19px;
}
 
 </style>

<script type="colorScheme" class="swatch active">
    {
        "name":"Default",
        "bgBody":"ffffff",
        "link":"698EC3",
        "color":"999999",
        "bgItem":"ffffff",
        "title":"555555"
    }

    </script>  

</head>
<body paddingwidth="0" paddingheight="0" class='bgBody'  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" >
    <tr>
      <td valign='top' >
        <table  width="600" border="0" cellspacing="0" cellpadding="0" align="center" style='font-family:helvetica, sans-serif;' class='bgItem'>
          <tr>
            <td width='20'>&nbsp;</td>
            <td>
              <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                <!--  =========================== The header ===========================  -->                

                <!--  =========================== The body ===========================  -->
                <tr>
                  <td class='movableContentContainer'>
                    <!--  ==== movable content in the body ===  -->

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='25'>&nbsp;</td></tr>

                        <tr>
                          <td>
                            <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                              <tr>

                                <td align='left' valign='middle' >
                                  <div class="contentEditableContainer contentImageEditable">
                                    <div class="contentEditable" >
                                      <img src="images/logo.png" alt='Compagnie logo' data-default="placeholder" data-max-width="300" width='129' height='22'>
                                    </div>
                                  </div>
                                </td>

                                <td align='right' valign='top' >
                                  <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                                    <div class="contentEditable" >
                                      <a target='_blank' href="[SHOWEMAIL]" style='color:#CCCCCC;font-size:13px;text-decoration:none;'>Open in your browser</a>
                                    </div>
                                  </div>
                                </td>
                                <td width='18' align='right' valign='top'>
                                  <div class="contentEditableContainer contentImageEditable" style='display:inline-block;'>
                                    <div class="contentEditable" >
                                      <a target='_blank' href="[SHOWEMAIL]"><img src="images/openBrowser.png" alt='open in browser image' data-default="placeholder" width='15' height='15' style='padding-left:10px;'></a>
                                    </div>
                                  </div>
                                </td>

                              </tr>
                            </table>
                          </td>  
                        </tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='25'>&nbsp;</td></tr>

                        <tr>
                          <td bgcolor='#698EC3' height='6' style='border-top-right-radius:3px;border-top-left-radius:3px;'>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr>
                          <td bgcolor='#698EC3' align='center' valign='middle'>
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/bigImg.jpg" alt='featured image' data-default="placeholder" data-max-width="560" height='264' width='560'>
                              </div>
                            </div>
                          </td>
                        </tr>

                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr>
                          <td bgcolor='#698EC3' style='padding:20px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;' align='center'>
                            <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                              <div class="contentEditable" >
                                <p style='color:#ffffff;font-size:16px;line-height:19px;'>Architects of your dreams</p>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr><td height='25'>&nbsp;</td></tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='10'>&nbsp;</td></tr>
                        <tr>
                          <td align='left' valign='top'>
                            <div class="contentEditableContainer contentTextEditable">
                              <div class="contentEditable" >
                                <h2 >About us</h2>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr><td height='15'>&nbsp;</td></tr>
                        <tr>
                          <td align='left' valign='top'>
                            <div class="contentEditableContainer contentTextEditable">
                              <div class="contentEditable" >
                                <p >Give information about your company, where you do businesses and the types of services you offer. Link to different pages of your website.
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr><td height='25'>&nbsp;</td></tr>
                        <tr>
                          <td align='right' valign='top'>
                            <div class="contentEditableContainer contentTextEditable">
                              <div class="contentEditable" >
                                <a target='_blank' href="#" class='link1'>Read more →</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='35'>&nbsp;</td></tr>
                        <tr><td style='border-bottom:1px solid #EEEEEE'></td></tr>
                        <tr><td height='25'>&nbsp;</td></tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='10'>&nbsp;</td></tr>
                        <tr>
                          <td valign='top'>
                            <table width="255" border="0" cellspacing="0" cellpadding="0" align="center" >
                              <tr>
                                <td valign='top'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >About your location</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='12'></td></tr>

                              <tr>
                                <td valign='top' style='padding-right:30px;'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Generic information about the type of household the buyer is trying to purchase, including average selling prices. Or, information to the seller regarding average prices sold for houses in her area.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='25'></td></tr>

                              <tr>
                                <td valign='top' style='padding-bottom:15px;'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href="#" style='padding:8px 10px;color:#ffffff;font-size:13px;background:#698EC3;text-decoration:none; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px'>Find out more →</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>

                          <td valign='top'>
                            <table width="255" border="0" cellspacing="0" cellpadding="0" align="center" >
                              <tr>
                                <td valign='top'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >Open house</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='12'></td></tr>

                              <tr>
                                <td valign='top' style='padding-right:30px;'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Do you know of a house that’s been shown right now that might be of interest? Mention give the details, such as date and time.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='25'></td></tr>

                              <tr>
                                <td valign='top' style='padding-bottom:15px;'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href="#" style='padding:8px 10px;color:#ffffff;font-size:13px;background:#698EC3;text-decoration:none; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px'>Find out more →</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='35'>&nbsp;</td></tr>
                        <tr><td style='border-bottom:1px solid #EEEEEE'></td></tr>
                        <tr><td height='25'>&nbsp;</td></tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                        <tr><td height='10'>&nbsp;</td></tr>
                        <tr>
                          <td valign='top'>
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/macCat.jpg" alt='product image' data-default="placeholder" data-max-width="255" width='255' height='154'>
                              </div>
                            </div>
                          </td>

                          <td valign='top'>
                            <table width="255" border="0" cellspacing="0" cellpadding="0" align="center" >
                              <tr>
                                <td valign='top'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >Featured House</h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>

                          <tr><td height='28'></td></tr>

                          <tr>
                            <td valign='top' align='center'>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>This email was sent to [email] when you signed up on [CLIENTS.WEBSITE,our website]. Please add us to your contacts to ensure the newsletters land in your inbox.
                                  </p>
                                </div>
                              </div>
                            </tr>

                            <tr><td height='28'></td></tr>

                          <tr>
                            <td valign='top' style='padding-right:30px;'>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <ul style='padding-left:20px;'>
                                    <li style='color:#AAAAAA;font-size:13px;line-height:19px;'>
                                      Type of House
                                    </li>
                                    <li style='color:#AAAAAA;font-size:13px;line-height:19px;'>
                                      Asking Price
                                    </li>
                                    <li style='color:#AAAAAA;font-size:13px;line-height:19px;'>
                                      Square feet
                                    </li>
                                    <li style='color:#AAAAAA;font-size:13px;line-height:19px;'>
                                      Rooms
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr><td height='25'></td></tr>

                      <tr>
                        <td valign='top' style='padding-bottom:15px;'>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <a target='_blank' href="#" style='padding:8px 10px;color:#ffffff;font-size:13px;background:#698EC3;text-decoration:none; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px'>Find out more →</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>

        <div class='movableContent'>
                  <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                    <tr><td height='50'>&nbsp;</td></tr>

                    <tr>
                      <td bgcolor='#F2F2F2' style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px'>
                        <table width="560" border="0" cellspacing="5" cellpadding="0" align="center" bgcolor='#F2F2F2'>
                          <tr>
                            <td bgcolor='#F2F2F2' width='410' align='left' valign='top'>
                              <table width="410" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#F2F2F2'>
                                <tr><td height='22' colspan='3'>&nbsp;</td></tr>
                                <tr>
                                  <td width='10'></td>
                                  <td>
                                    <div class='contentEditableContainer contentTextEditable'>
                                      <div class="contentEditable">
                                        <p >
                                          Stay in Touch! 
                                        </p>
                                      </div>
                                    </div>
                                  </td>
                                  <td width='10'></td>
                                </tr>
                                <tr><td height='22' colspan='3'>&nbsp;</td></tr>
                              </table>
                            </td>
                            <td bgcolor='#F2F2F2' width='65' valign='top' align='center'>
                              <table width="65" width='65' border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#F2F2F2'>
                                <tr>
                                  <td bgcolor='#ffffff' width='65' height='65' align='center' valign='middle'>
                                    <div class='contentEditableContainer contentFacebookEditable'>
                                      <div class="contentEditable" valign='middle'>
                                        <a target='_blank' href="#"><img src="images/facebook.png" alt='facebook link' data-default="placeholder" data-max-width="37" width='37' height='37' data-customIcon="true" ></a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td bgcolor='#F2F2F2' width='65' valign='top' align='center'>
                              <table width="65" height='65' border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#F2F2F2'>
                                <tr>
                                  <td bgcolor='#ffffff' width='65' height='65' align='center' valign='middle'>
                                    <div class='contentEditableContainer contentTwitterEditable'>
                                      <div class="contentEditable" valign='middle'>
                                        <a target='_blank' href="#"><img src="images/twitter.png" alt='twitter link' data-default="placeholder" data-max-width="37" width='37' height='37' data-customIcon="true" ></a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class='movableContent'>
                  <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                    <tr><td height='28'></td></tr>

                    <tr>
                      <td valign='top' align='center'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>This email was sent to [email] when you signed up on [CLIENTS.WEBSITE] Please add us to your contacts to ensure the newsletters land in your inbox.
                            </p>
                          </div>
                        </div>
                        </td>
                      </tr>
                  </table>
                </div>

                <div class='movableContent'>
                  <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                    <tr><td height='28'></td></tr>

                    <tr>
                      <td valign='top' align='center'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <p style='color:#CCCCCC; font-weight:bold;font-size:13px;line-height: 30px;'>[CLIENTS.COMPANY_NAME]</p>
                          </div>
                        </div>
                         <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <p style='color:#CCCCCC; font-size:13px;line-height: 15px;'>[CLIENTS.ADDRESS]</p>
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <a target='_blank' href="[FORWARD]" style='line-height: 20px;color:#CCCCCC; font-size:13px;'>Forward to a friend</a>
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <a target='_blank' href='[UNSUBSCRIBE]' style='line-height:19px;color:#CCCCCC; font-size:13px;'>Unsubscribe</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>



      </td>
    </tr>
    <!--  =========================== The footer ===========================  -->

      <tr><td height='28'>&nbsp;</td></tr>

    </table>
  </td>
  <td width='20'>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>

  
    </body>
    </html>
