{$content}
<div class="panel panel-default">
  <div class="panel-heading">Add Social Post</div>
  <div class="panel-body">
    <div class="row col-lg-12"><a href="#" class="btn btn-primary pull-right"> ADD	</a></div><br/><br/><br/>
    <div class="row col-lg-12">
      <div class="col-lg-3"><span> </span><strong>Category:</strong>
        <div> 
          <cite>Print Marketing</cite>
        </div>
      </div>
      <div class="col-lg-3"><span></span><strong>Name: </strong>
        <div> 
          <cite>name here</cite>
        </div>
      </div>
      <div class="col-lg-3"><span> </span><strong>Post Title: </strong>
        <div> 
          <cite>post title here</cite>
        </div>
      </div>
      <div class="col-lg-3"><span> </span><strong>URL: </strong>
        <div> 
          <cite>www.url.com</cite>
        </div>
      </div>
    </div><br/><br/><br/>
    <div class="row col-lg-12">
      <div class="col-lg-6"><span> </span><strong>Attachment: </strong>
        <div> 
          <cite>attachement here</cite>
        </div>
      </div>
      <div class="col-lg-6"><span> </span><strong>Message 160 Characters:</strong>
        <div> 
          <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper, magna eget sagittis auctor, leo lectus mattis tortor, vitae auctor ligula nibh in elit. Aenean eget eleifend nisl</cite>
        </div>
      </div>
    </div><br/><br/><br/>
    <div class="row col-lg-12">			<span> </span><strong>Message 255 Characters:</strong>
      <div> 
        <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper, magna eget sagittis auctor, leo lectus mattis tortor, vitae auctor ligula nibh in elit. Aenean eget eleifend nisl</cite>
      </div>
    </div><br/><br/><br/>
    <div class="row col-lg-12"><span> </span><strong>Message 3000 Characters:</strong>
      <div> 
        <cite>ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper, magna eget sagittis auctor, leo lectus mattis tortor, vitae auctor ligula nibh in elit. Aenean eget eleifend nisl. Donec porta enim mi, eu porttitor augue ultricies et. Quisque porta leo vel quam sodales porttitor. Suspendisse posuere sollicitudin ullamcorper. Morbi eu laoreet ante. Vivamus cursus blandit tellus ac finibus. Nulla vulputate at lorem sed suscipit. Integer ac quam ac nibh viverra pellentesque. Proin vitae lobortis magna. Sed tellus felis, volutpat quis pulvinar laoreet, bibendum eget mi. Praesent justo justo, volutpat sit amet lorem at, fermentum volutpat nunc. Mauris sed metus felis. Cras lobortis iaculis dignissim. In maximus neque a fermentum iaculis.</cite>
      </div>
    </div><br/><br/><br/>
    <div class="row col-lg-12"><span> </span><strong>Blog:</strong>
      <div> 
        <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper, magna eget sagittis auctor, leo lectus mattis tortor, vitae auctor ligula nibh in elit. Aenean eget eleifend nisl. Donec porta enim mi, eu porttitor augue ultricies et. Quisque porta leo vel quam sodales porttitor. Suspendisse posuere sollicitudin ullamcorper. Morbi eu laoreet ante. Vivamus cursus blandit tellus ac finibus. Nulla vulputate at lorem sed suscipit. Integer ac quam ac nibh viverra pellentesque. Proin vitae lobortis magna. Sed tellus felis, volutpat quis pulvinar laoreet, bibendum eget mi. Praesent justo justo, volutpat sit amet lorem at, fermentum volutpat nunc. Mauris sed metus felis. Cras lobortis iaculis dignissim. In maximus neque a fermentum iaculis.	</cite>
      </div>
    </div>
  </div>
</div>