#user-profile
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Vaibhav Sharma
    .main-box-body.clearfix
      .profile-status
        i.fa.fa-circle
        |  Online
      img.profile-img.img-responsive.center-block(alt='', src='img/samples/robert-300.jpg')
      .profile-label
        span.label.label-danger Admin
      .profile-stars
        span Nick name
      .profile-since
        | Contact since: Jan 2012
    div
      .profile-contact
        ul.fa-ul
          li
            i.fa-li.fa
            | Emails: 
            div vaibhav@gmail.com
            div vaibhav@gmail.com

          li
            i.fa-li.fa.
            | Phone No: 
            div 9887012345
            div 9887012345
      .profile-message-btn.center-block.text-center
        a.btn.btn-success(href='#')
          i.fa.fa-envelope
          | Send Email
        a.btn.btn-success(href='#')
          i.fa.fa-envelope
          | Send Message 
      div
        .profile-details
          ul.fa-ul
            li
              i.fa-li.fa
              | Organization: 
              div xavoc

            li
              i.fa-li.fa.
              | Post: 
              div @@@@@@@@
            li
              i.fa-li.fa.
              | Website: 
              div 
                a(href='#') www.xavoc.com
      div
        .profile-im
          h5 IM Numbers                               
          ul.fa-ul
            li
              i.fa-li.fa
              | Skype: 
              span vaibhav.sharma.21

            li
              i.fa-li.fa.
              | Whatsapp: 
              span +919887012345
      div
        .profile-events
          hr
          h5 Events                               
          ul.fa-ul
            li
              i.fa-li.fa
              | DOB: 
              span 21/12/91

            li
              i.fa-li.fa.
              | Anaversery: 
              span ------  
      div
        .profile-relation
          hr
          h5 Relationship                               
          ul.fa-ul
            li
              i.fa-li.fa
              | Fathers Name: 
              span @@@@@@@

            li
              i.fa-li.fa.
              | Mothers Name: 
              span @@@@@@@