.panel.panel-default
  .panel-body
    .col-md-12
      {$form} 
.row.xepan-push-large
  .panel.panel-default
    .panel-body
      .col-md-9
        {$bar_chart}
      .col-md-3  
        {$graph_stats}
.row.xepan-push-large
  .panel.panel-default
    .panel-body
      {$social_lister}

.row.xepan-push-large.panel.panel-default.panel-body
    .col-md-5    
        {$map}    
    .col-md-6
        {$lead_response}         
.row.xepan-push-large
  {$campaign_response}
      
