
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-8">
      <input id="inputSuccess" type="text" placeholder="'How' Many 'Leads' Generated 'Within'" class="form-control"/>
    </div>
    <div class="col-md-2">
      <div class="container">
        <div class="dropdown pull-right">
          <button id="menu1" type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Filter Time Span<span class="caret"></span></button>
          <ul role="menu" aria-labelledby="menu1" class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">This Month</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Current Year</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Last Year</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Last 2 Years</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="container">   
        <div class="dropdown pull-right">
          <button id="menu1" type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Category Filter<span class="caret"></span></button>
          <ul role="menu" aria-labelledby="menu1" class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Printing Industries</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Outsourcing</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Third Party</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category      </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row xepan-push-large"><img src="img/samples/header.png"/></div>
<div class="row xepan-push-large">
  <div class="col-md-4">
    <div class="social-box col-md-12 col-sm-4 facebook"><i class="fa fa-facebook"></i>
      <div class="clearfix"><span class="social-count">1k</span><span class="social-action">likes &nbsp; </span><span class="social-count">70</span><span class="social-action">comments &nbsp;</span><span class="social-count">25 </span><span class="social-action">Shares </span></div><span class="social-name">Maximum Response From</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="social-box col-md-12 col-sm-4 twitter"><i class="fa fa-twitter"></i>
      <div class="clearfix"><span class="social-count">1k</span><span class="social-action">Tweets &nbsp; </span><span class="social-count">70</span><span class="social-action">Retweets &nbsp; </span></div><span class="social-name">twitter</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="social-box col-md-12 col-sm-4 google"><i class="fa fa-google-plus"></i>
      <div class="clearfix"><span class="social-count">2k</span><span class="social-action">circles &nbsp;</span><span class="social-count">1k</span><span class="social-action">posts &nbsp; </span><span class="social-count">70</span><span class="social-action">comments </span></div><span class="social-name">google+</span>
    </div>
  </div>
</div>
<div class="row xepan-push-large panel panel-default panel-body">
  <div class="col-md-5">   <img src="img/samples/map.png"/></div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">Newsletter</span><span class="value">4k</span></div>
      </div>
      <div class="col-md-6">
        <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">SMS</span><span class="value">1k       </span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-globe"></i><span class="headline">Social</span><span class="value">9k</span></div>
      </div>
      <div class="col-md-6">
        <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-user"></i><span class="headline">Telecall</span><span class="value">4k                 </span></div>
      </div>
      <div class="col-md-12">
        <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-user"></i><span class="headline">Personal Relation</span><span class="value">4k          </span></div>
      </div>
    </div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="main-box-body clearfix">
    <table data-filter-text-only="true" data-filter="#filter" data-page-size="6" class="table footable toggle-circle-filled default breakpoint footable-loaded">
      <thead>
        <tr>
          <th class="footable-visible footable-first-column footable-sortable">Campaign<span class="footable-sort-indicator"></span></th>
          <th class="footable-visible footable-sortable">Completed On<span class="footable-sort-indicator"></span></th>
          <th data-hide="phone" class="footable-visible footable-sortable">Leads<span class="footable-sort-indicator"></span></th>
          <th data-hide="phone,tablet" class="text-center footable-visible footable-last-column footable-sortable">Response<span class="footable-sort-indicator"></span></th>
        </tr>
        <tr style="display: table-row;">
          <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">Printing Companies (Jaipur)</a></td>
          <td class="footable-visible">2013/08/08</td>
          <td class="footable-visible"><a href="#">900</a></td>
          <td class="text-center footable-visible footable-last-column"><span class="label label-success">Great</span></td>
        </tr>
        <tr style="display: table-row;">
          <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">Printing Companies (Udaipur)</a></td>
          <td class="footable-visible">2013/08/08</td>
          <td class="footable-visible"><a href="#">500</a></td>
          <td class="text-center footable-visible footable-last-column"><span class="label label-success">Great    </span></td>
        </tr>
      </thead>
    </table>
  </div>
</div>