
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-12">{$form} </div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-9">{$bar_chart}</div>
      <div class="col-md-3">
         
        {$graph_stats}
      </div>
    </div>
  </div>
</div>
<div class="row xepan-push-large">
  <div class="panel panel-default">
    <div class="panel-body">{$social_lister}</div>
  </div>
</div>
<div class="row xepan-push-large panel panel-default panel-body">
  <div class="col-md-5">
       
    {$map}    
  </div>
  <div class="col-md-6">{$lead_response}         </div>
</div>
<div class="row xepan-push-large">{$campaign_response}</div>