{$Content}
.row
	.col-lg-12
		.col-lg-2
		.col-lg-8
			.panel.panel-default
				.panel-heading Facebook Configuration
				.panel-body
					.row.col-lg-12
						.col-lg-5
							strong Name:
							br
							cite name here
							br
							br
							.row
								.col-lg-12
									.checkbox.checkbox-nice
										input#remember-me(type='checkbox', checked='checked', disabled='true')
										label(for='post-in-groups')
												strong Post In Groups
						.col-lg-7
							strong App Id:
							br
							cite Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry.
							br
							br
							br
							.row
								.col-lg-12
									strong Secret Key:
									br
									cite Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500sLorem Ipsum is simply dummy text of the printing and typesetting industry.
		