{$Content}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">{$contact_view_full_width}</div>
  <div class="col-lg-3 co-md-3 col-sm-3">{$contact_view}</div>{other_details}
  <div class="col-lg-9 col-md-8 col-sm-8">
    <div class="main-box clearfix">
      <div class="tabs-wrapper profile-tabs">
        <ul class="nav nav-tabs responsive-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-details">Details</a></li>
          <li><a data-toggle="tab" href="#tab-opportunity">Opportunity</a></li>
          <li><a data-toggle="tab" href="#tab-activity">Activity  </a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-details" class="tab-pane active">{details}
            <div class="alert alert-warning"><i class="fa fa-warning fa-fw fa-lg"></i><strong>Warning!</strong> Please Fill the basic information first. </div>{/details}
          </div>
          <div id="tab-opportunity" class="tab-pane">{opportunity}
            <div class="alert alert-warning"><i class="fa fa-warning fa-fw fa-lg"></i><strong>Warning!</strong> Please Fill the basic information first. </div>{/opportunity}
          </div>
          <div id="tab-activity" class="tab-pane">{activity}
            <div class="alert alert-warning"><i class="fa fa-warning fa-fw fa-lg"></i><strong>Warning!</strong> Please Fill the basic information first. </div>{/activity}
          </div>
        </div>
      </div>
    </div>
  </div>{/}        
</div>