{$Content}
<div class="main-box no-header clearfix">
  <header class="main-box-header clearfix">
    <h2 class="pull-left">Leads</h2>
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
      </div><a href="?page=xepan_marketing_leadprofile" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Lead</a>
      <div class="btn-group pull-right">
        <button class="btn btn-primary">Category Filter</button>
        <button data-toggle="dropdown" data-placeholder="false" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
            <labe>
              <l for="ID">Jaipur</l>
            </labe>
          </li>
          <li>
            <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
            <label for="ID">Udaipur</label>
          </li>
          <li>
            <input id="ID" type="checkbox" name="NAME" value="VALUE"/>
            <label for="ID">Jodhpur</label>
          </li>
        </ul>
      </div>
      <div class="form-group pull-right">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Sort By<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <label for="ID">Date Created</label>
          </li>
          <li>
            <label for="ID">Activness</label>
          </li>
          <li>
            <label for="ID">Source</label>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Name/Email</span></th>
            <th><span>Communication</span></th>
            <th><span>Category</span></th>
            <th><span>Oppurtunities  </span></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 100px; height: 25px; vertical-align: top;" width="100" height="25"></canvas>
              </div>
            </td>
            <td>Udaipur Printing{7More} </td>
            <td class="text-center"> <img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="?page=xepan_marketing_leadprofile" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">vaibhavsharma38@gmail.com</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="img" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Kota Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="#" class="user-link">Vaibhav Sharma</a><span class="user-subhead">Admin</span></td>
            <td>
              <div class="graph-content spark-orders">
                <canvas style="display: inline-block; width: 125px; height: 25px; vertical-align: top;" width="125" height="25"></canvas>
              </div>
            </td>
            <td>Jaipur Printing{7More}</td>
            <td><img alt="" src="http://jsdo-it-static-contents.s3.amazonaws.com/images/capture/y/b/d/ybdA.jpg?t=1387460235"/></td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>