{Content}
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="main-box clearfix profile-box-contact">
    <div class="main-box-body clearfix">
      <div class="profile-box-header green-bg clearfix">
        <div class="fa fa-times pull-right"></div>
        <div class="fa fa-pencil pull-right"> </div>
        <div class="col-lg-12 text-center">
          <h2> <b>Jaipur Printing</b></h2>
        </div><br/><br/>
        <div class="col-lg-12 text-center"> 
          <cite>Leads: 200</cite>
        </div><br/><br/><br/>
        <div class="col-lg-12">.........................Graph here .........................</div>
      </div>
      <div class="profile-box-footer clearfix">
        <div class="col-lg-4"></div>
        <div class="col-lg-5"> 
          <div class="btn-group">
            <div role="group" aria-label="..." class="btn-group">
              <button class="btn btn-danger btn-sm">Deactivate</button>
              <button class="btn btn-danger btn-sm"> <i class="fa fa-sm"></i><i class="fa fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-2"> </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="main-box clearfix profile-box-contact">
    <div class="main-box-body clearfix"> 
      <div class="profile-box-header red-bg clearfix">
        <div class="fa fa-times pull-right"></div>
        <div class="fa fa-pencil pull-right"></div>
        <div class="col-lg-12 text-center">
          <h2> <b>Udaipur Printing</b></h2>
        </div><br/><br/>
        <div class="col-lg-12 text-center"> 
          <cite>Leads: 100</cite>
        </div><br/><br/><br/>
        <div class="col-lg-12">.........................Graph here .........................</div>
      </div>
      <div class="profile-box-footer clearfix">
        <div class="col-lg-4"></div>
        <div class="col-lg-5"> 
          <div class="btn-group">
            <div role="group" aria-label="..." class="btn-group">
              <button class="btn btn-primary btn-sm">Activate</button>
              <button class="btn btn-primary btn-sm"> <i class="fa fa-sm"></i><i class="fa fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-2">       </div>
      </div>
    </div>
  </div>
</div>