{Content}
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="main-box clearfix profile-box-contact">
    <div class="main-box-body clearfix">
      <div class="profile-box-header gray-bg clearfix"><img alt="" src="img/samples/kunis-300.jpg" class="profile-img img-responsive"/>
        <h2>Mila Kunis</h2>
        <div class="job-position">Actress</div>
        <ul class="contact-details">
          <li><i class="fa fa-map-marker"></i> San Francisco</li>
          <li><i class="fa fa-envelope"></i> mila@kunis.com</li>
          <li><i class="fa fa-phone"></i> (823) 321-0192</li>
        </ul>
      </div>
      <div class="profile-box-footer clearfix"><a href="#"><span class="value">44</span><span class="label">Messages</span></a><a href="#"><span class="value">91</span><span class="label">Sales</span></a><a href="#"><span class="value">3</span><span class="label">Projects</span></a></div>
    </div>
  </div>
</div>