{Content}
.col-lg-4.col-md-6.col-sm-6.col-xs-12
  .main-box.clearfix.profile-box-contact
    .main-box-body.clearfix
      .profile-box-header.green-bg.clearfix
        .fa.fa-times.pull-right
        .fa.fa-pencil.pull-right  
        .col-lg-12.text-center
            h2 
              b Jaipur Printing
        br
        br    
        .col-lg-12.text-center 
          cite Leads: 200
        br
        br
        br
        .col-lg-12
          |.........................Graph here .........................

      .profile-box-footer.clearfix
        .col-lg-4
        .col-lg-5  
          .btn-group
              .btn-group(role='group', aria-label='...')
                button.btn.btn-danger.btn-sm Deactivate
                button.btn.btn-danger.btn-sm 
                  i.fa.fa-sm
                  i.fa.fa-cog
        .col-lg-2 


.col-lg-4.col-md-6.col-sm-6.col-xs-12
  .main-box.clearfix.profile-box-contact
    .main-box-body.clearfix  
      .profile-box-header.red-bg.clearfix
        .fa.fa-times.pull-right
        .fa.fa-pencil.pull-right
        .col-lg-12.text-center
            h2 
              b Udaipur Printing
        br
        br    
        .col-lg-12.text-center 
          cite Leads: 100
        br
        br
        br
        .col-lg-12
          |.........................Graph here .........................

      .profile-box-footer.clearfix
        .col-lg-4
        .col-lg-5  
          .btn-group
              .btn-group(role='group', aria-label='...')
                button.btn.btn-primary.btn-sm Activate
                button.btn.btn-primary.btn-sm 
                  i.fa.fa-sm
                  i.fa.fa-cog
        .col-lg-2        
