{Content}
.col-lg-4.col-md-6.col-sm-6.col-xs-12
  .main-box.clearfix.profile-box-contact
    .main-box-body.clearfix
      .profile-box-header.gray-bg.clearfix
        img.profile-img.img-responsive(alt='', src='img/samples/kunis-300.jpg')
        h2 Mila Kunis
        .job-position
          | Actress
        ul.contact-details
          li
            i.fa.fa-map-marker
            |  San Francisco
          li
            i.fa.fa-envelope
            |  mila@kunis.com
          li
            i.fa.fa-phone
            |  (823) 321-0192
      .profile-box-footer.clearfix
        a(href='#')
          span.value 44
          span.label Messages
        a(href='#')
          span.value 91
          span.label Sales
        a(href='#')
          span.value 3
          span.label Projects
