
<div id="{$_name}">
  <div class="panel panel-default">{$Content}
    <div class="panel-body">
      <div class="col-md-12">{form_layout}
        <!-- <div class="col-md-6">Date Range{$range}</div>-->
        <div class="col-md-3 atk-form-row">From Date{$from_date}</div>
        <div class="col-md-3 atk-form-row">To Date{$to_date}</div>
        <div class="col-md-3 atk-form-row">Group {$group}</div>
        <div class="col-md-3"></div>    {/}
      </div>
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-6">{$lead_vs_score}</div>
        <div class="col-md-6">{$ratio_filter}</div>
      </div>
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="panel panel-default">
      <div class="panel-body">{$hot_lead}</div>
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Revenue Channels</h3>{$roi_of_channel}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Sales Current Pipeline</h3>{$sale_current_pipeline}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Lead Engaging by channel</h3>{$engagin_by_channel}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Customer Satisfaction</h3>{$customer_satisfaction}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Sales Activity by Sales Emp.</h3>{$sales_activity_by_sales_emp}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Month over Month Growth</h3>{$month_over_month_growth}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Key opportunity month/six-month/year</h3>{$key_opportunity}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Closed Rate by Sales Emp</h3>{$closed_rate_by_sale_emp}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Apportunity amount vs Discount amount</h3>{$apportunity_amount_vs_discount_amount}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>High Revenue By Employee</h3>{$high_revenue_by_employee}
        </div>
      </div>
    </div>
  </div>
</div>