
{$Content}
.main-box.no-header.clearfix
  header.main-box-header.clearfix
    h2.pull-left Newsletter Category Management
    .filter-block.pull-right
      .form-group.pull-left
        input.form-control(type='text', placeholder='Search...')
        i.fa.fa-search.search-icon
      a.btn.btn-primary.pull-right(href='#')
        i.fa.fa-plus-circle.fa-lg
        |  Add Category

        
  .main-box-body.clearfix
    .table-responsive
      table.table.user-list.table-hover
        thead
          tr
            th
              span Name
            th  
              span No. Of newsletters
            th
              span Status  
        tbody
          tr
            td
              a(href='?page=xepan_marketing_newsletter') Jaipur Printing
            td
              span 50  
              
            td
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive        
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              a(href='#') Jodhpur Printing
            td 
              span 50  
              
            td
              .dropdown
                button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Inactive
                  span.caret
                ul.dropdown-menu
                  li
                    |Active        
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              a(href='#') Udaipur Printing
            td
              span 120  
              
            td
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive        
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          