{$Content}
<div class="main-box no-header clearfix">
  <header class="main-box-header clearfix">
    <h2 class="pull-left">Newsletter Category Management</h2>
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
      </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Category</a>
    </div>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Name</span></th>
            <th> <span>No. Of newsletters</span></th>
            <th><span>Status  </span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="?page=marketing_newsletter">Jaipur Printing</a></td>
            <td><span>50  </span></td>
            <td>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive        </li>
                </ul>
              </div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><a href="#">Jodhpur Printing</a></td>
            <td> <span>50  </span></td>
            <td>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-danger btn-sm dropdown-toggle">Inactive<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Active        </li>
                </ul>
              </div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><a href="#">Udaipur Printing</a></td>
            <td><span>120  </span></td>
            <td>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive        </li>
                </ul>
              </div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>