{$Content}
<div class="main-box no-header clearfix">
  <header class="main-box-header clearfix">
    <h2 class="pull-left">Opportunity</h2>
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
      </div><a href="?page=marketing_leadprofile" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Opportunity</a>
      <div class="form-group pull-right">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Sort By<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <label for="ID">Date Created</label>
          </li>
          <li>
            <label for="ID">Activness</label>
          </li>
          <li>
            <label for="ID">Source</label>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Name</span></th>
            <th><span>Source</span></th>
            <th><span>Opportunity</span></th>
            <th><span>Duration   </span></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=xepan_marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-danger btn-sm dropdown-toggle">Inactive<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Active</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>telephone</td>
            <td>Hover opportunity</td>
            <td>01/01/2016<br/>02/01/2016<br/> 1 month </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?xepan_page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>01/01/2016<br/>02/01/2016<br/> 1 month </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>01/01/2016<br/>02/01/2016<br/> 1 month </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="?page=marketing_leadprofile" class="user-link">Vaibhav Sharma</a>
              <div class="dropdown">
                <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Active<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Inactive</li>
                  <li>Closed</li>
                </ul>
              </div>
            </td>
            <td>Email</td>
            <td>Hover opportunity</td>
            <td>
               
              01/01/2016<br/>02/01/2016<br/> 1 month 
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>