{$Content}
.main-box.no-header.clearfix
  header.main-box-header.clearfix
    h2.pull-left Opportunity
    .filter-block.pull-right
      .form-group.pull-left
        input.form-control(type='text', placeholder='Search...')
        i.fa.fa-search.search-icon
      a.btn.btn-primary.pull-right(href='?page=xepan_marketing_leadprofile')
        i.fa.fa-plus-circle.fa-lg
        |  Add Opportunity
      


      .form-group.pull-right
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | Sort By
          span.caret
        ul.dropdown-menu
          li
            label(for='ID') Date Created
          li
            label(for='ID') Activness
          li
            label(for='ID') Source

        
  .main-box-body.clearfix
    .table-responsive
      table.table.user-list.table-hover
        thead
          tr
            th
              span Name
            th
              span Source
            th
              span Opportunity
            
            th
              span Duration   
            th  
        tbody
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Inactive
                  span.caret
                ul.dropdown-menu
                  li
                    |Active
                  li
                    |Closed

  

            td
              | telephone
            td
              | Hover opportunity

            td
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?xepan_page=marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
  
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
 
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
 
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
     
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed
  
            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
             
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/robert-300.jpg')
              a.user-link(href='?page=xepan_marketing_leadprofile') Vaibhav Sharma
              .dropdown
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Active
                  span.caret
                ul.dropdown-menu
                  li
                    |Inactive
                  li
                    |Closed

            td
              | Email
            td
              | Hover opportunity

            td 
              | 01/01/2016
              br
              | 02/01/2016
              br
              |  1 month 
              
            
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
