{$Content}
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Content</div>
      <div class="panel-body">
        <div style="height:596px; overflow:auto;">{$MarketingContent}     </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">Calendar</div>
      <div class="panel-body"> 
        <div id="calendar"> </div>{$asso_form}
      </div>
    </div>
  </div>
</div>