| {$Content}
.row
  .col-lg-4
    .panel.panel-default
      .panel-heading Content
      .panel-body
        div(style="height:596px; overflow:auto;")
          {$MarketingContent}     
  .col-lg-8
    .panel.panel-default
      .panel-heading Calendar
      .panel-body  
        #calendar  
        {$asso_form}