{$Content}
.row
	.col-lg-12
		.col-lg-4
			.panel.panel-default
				.panel-heading Online Accounts
				.panel-body
					.row.col-lg-12
						.col-lg-4
							a.btn.btn-sm.btn-primary.text-center(href='#')
								i.fa.fa-facebook
								|  Facebook

						.col-lg-4
							a.btn.btn-sm.btn-primary.text-center(href='#')
								i.fa.fa-google
								|  Google
						.col-lg-4
							a.btn.btn-sm.btn-primary.text-center(href='#')
								i.fa.fa-linkedin
								|  Linkedin
					br
					br
					.row.col-lg-12
						.col-lg-4
							a.btn.btn-sm.btn-primary.text-center(href='#')
								i.fa.fa-twitter
								|  Twitter

						.col-lg-4
							a.btn.btn-sm.btn-primary.text-center(href='#')
								i.fa.fa-yahoo
								|  Yahoo
						.col-lg-4
							a.btn.btn-sm.btn-primary.text-center(href='#')
								i.fa.fa-pinterest
								|  Pinterest
		.col-lg-8		 			
			.row
				.col-lg-12
					.panel.panel-default
						.panel-heading Facebook Accounts
						.panel-body
							.table-responsive
								table.table.user-list.table-hover
									thead
										tr
											th
												span Id
											th
												span Status
									tbody
										tr
											td
												img(alt='', src='img/samples/scarlet-159.png')
												a.user-link(href='?page=xepan_marketing_facebookconfig') Scarlett Johansson
												span.user-subhead Friends: 150
												&nbsp;&nbsp; 
												span.user-subhead Groups: 15
												&nbsp;&nbsp;
												span.user-subhead Pages: 2
											td 
												.dropdown
													button.btn.btn-success.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
														| Active
														span.caret
													ul.dropdown-menu
														li
															|Inactive
											td(style='width: 20%;')
												a.table-link(href='#')
													span.fa-stack
														i.fa.fa-square.fa-stack-2x
														i.fa.fa-pencil.fa-stack-1x.fa-inverse
												a.table-link(href='#')
													span.fa-stack
														i.fa.fa-square.fa-stack-2x
														i.fa.fa-trash-o.fa-stack-1x.fa-inverse 	
											tr
											td
												img(alt='', src='img/samples/scarlet-159.png')
												a.user-link(href='#') Scarlett Johansson
												span.user-subhead Friends: 150
												&nbsp;&nbsp; 
												span.user-subhead Groups: 15
												&nbsp;&nbsp;
												span.user-subhead Pages: 2
											td 
												.dropdown
													button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
														| Active
														span.caret
													ul.dropdown-menu
														li
															|Inactive
											td(style='width: 20%;')
												a.table-link(href='#')
													span.fa-stack
														i.fa.fa-square.fa-stack-2x
														i.fa.fa-pencil.fa-stack-1x.fa-inverse
												a.table-link(href='#')
													span.fa-stack
														i.fa.fa-square.fa-stack-2x
														i.fa.fa-trash-o.fa-stack-1x.fa-inverse 		 					
											tr
											td
												img(alt='', src='img/samples/scarlet-159.png')
												a.user-link(href='#') Scarlett Johansson
												span.user-subhead Friends: 150
												&nbsp;&nbsp; 
												span.user-subhead Groups: 15
												&nbsp;&nbsp;
												span.user-subhead Pages: 2
											td 
												.dropdown
													button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
														| Active
														span.caret
													ul.dropdown-menu
														li
															|Inactive
											td(style='width: 20%;')
												a.table-link(href='#')
													span.fa-stack
														i.fa.fa-square.fa-stack-2x
														i.fa.fa-pencil.fa-stack-1x.fa-inverse
												a.table-link(href='#')
													span.fa-stack
														i.fa.fa-square.fa-stack-2x
														i.fa.fa-trash-o.fa-stack-1x.fa-inverse 		 												 					