.row
  .col-lg-4
    .panel.panel-default
      .panel-heading Content
      .panel-body(style="height:490px; overflow:auto;") {$MarketingContent}     
  .col-lg-8
    .panel.panel-default
      .panel-heading {$day}
      .panel-body  
        #daycalendar
        {$asso_form}
