
<div class="row">
  <div class="col-md-12 panel panel-default">
    <div class="panel-heading">
      <h5>Call And Score Analysis</h5>
    </div>
    <div class="panel-body">
      <div class="col-md-4"><a href="#"><span sparkType="pie" sparkHeight="50px" data-id="{$id}" sparksliceColors="[orange,green,red]" class="sparkline">1,2,3,7,3,2,1</span>
          <div class="text-success">Daily</div></a></div>
      <div class="col-md-4"><a href="#"><span sparkType="pie" sparkHeight="50px" data-id="{$id}" sparksliceColors="[orange,green,red]" class="sparkline">1,2,3,8,4,3</span>
          <div class="text-success">Weekly</div></a></div>
      <div class="col-md-4"><a href="#"><span sparkType="pie" sparkHeight="50px" data-id="{$id}" sparksliceColors="[orange,green,red]" class="sparkline"> 1,2,3,7,8,1</span>
          <div class="text-success">Monthly				</div></a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">{$side}</div>
  <div class="col-md-7">{filter_block}
    <div class="row xepan-push-small">{$top}</div>
    <div class="row">
      	
      {$bottom}
    </div>{/filter_block}
  </div>
</div>