div(class="container")
	.row.col-md-12(style ="margin-top:40px; margin-bottom:50px;")
			h2.text-center It's sad to see you go
	.row(style ="margin-bottom:100px;")
		.col-md-4
		.col-md-4
			h2.text-center Changed Your Mind, subscribe again
			{$subscription}
		.col-md-4