.container.xpean-unsubscribe-page(style="margin-top:30px; margin-bottom:200px;")
	.panel.panel-default
		.panel-body
			h1(style="text-align:center") It's Sad To See You Go
			hr
			.row.col-md-12
				{$form}


	style.
		h1{
		color:#4e4e4e !important;
		}

		hr{
		color: #4e4e4e;
		background-color: #4e4e4e;
		height: 2px;
		}

		select{
		width:100%;
		}
		textarea{
		width:100%;
		}