.row.xepan-push
	.col-md-6
		strong Lead : 
		{$lead_id}
	.col-md-6
		strong Assign To :
		{$assign_to_id}
.row.xepan-push
	.col-md-12
		strong Opportunity Title :
		{$title}
.row.xepan-push		
	.col-md-12 
		strong Opportunity Description :	
		{$description}
.row.xepan-push
	.col-md-4
		strong Fund Alloted :
		{$fund}
	.col-md-4
		strong Discount Percentage : 
		{$discount_percentage}
	.col-md-4
		strong Approximate Closing Date :
		{$closing_date}
