
<div class="row xepan-push">
  <div class="col-md-6 atk-form-row atk-form-field"><strong>Lead : </strong>{$lead_id}{$lead}</div>
  <div class="col-md-6 atk-form-row atk-form-field"><strong>Assign To :</strong>{$assign_to_id}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12 atk-form-row atk-form-field"><strong>Opportunity Title :</strong>{$title}</div>
</div>
<div class="row xepan-push">		
  <div class="col-md-12 atk-form-row atk-form-field"><strong>Opportunity Description :	</strong>{$description}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row atk-form-field"><strong>Fund Alloted :</strong>{$fund}</div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong>Discount Percentage : </strong>{$discount_percentage}</div>
  <div class="col-md-4 atk-form-row atk-form-field"><strong>Approximate Closing Date :</strong>{$closing_date}</div>
</div>