
<div class="row xepan-push">
  <div class="col-md-6"><strong>Lead : </strong>{$lead_id}</div>
  <div class="col-md-6"><strong>Assign To :</strong>{$assign_to_id}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12"><strong>Opportunity Title :</strong>{$title}</div>
</div>
<div class="row xepan-push">		
  <div class="col-md-12"> <strong>Opportunity Description :	</strong>{$description}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-4"><strong>Fund Alloted :</strong>{$fund}</div>
  <div class="col-md-4"><strong>Discount Percentage : </strong>{$discount_percentage}</div>
  <div class="col-md-4"><strong>Approximate Closing Date :</strong>{$closing_date}</div>
</div>