.row.xepan-push
	.col-md-6.atk-form-row.atk-form-field
		strong Lead : 
		{$lead_id}{$lead}
	.col-md-6.atk-form-row.atk-form-field
		strong Assign To :
		{$assign_to_id}
.row.xepan-push
	.col-md-12.atk-form-row.atk-form-field
		strong Opportunity Title :
		{$title}
.row.xepan-push		
	.col-md-12.atk-form-row.atk-form-field
		strong Opportunity Description :	
		{$description}
.row.xepan-push
	.col-md-4.atk-form-row.atk-form-field
		strong Fund Alloted :
		{$fund}
	.col-md-4.atk-form-row.atk-form-field
		strong Discount Percentage : 
		{$discount_percentage}
	.col-md-4.atk-form-row.atk-form-field
		strong Approximate Closing Date :
		{$closing_date}
