
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Filter Lead </h2>
      </header>
      <div class="main-box-body clearfix">
        <div id="invoice-companies" class="row">
          <div class="col-sm-3">{$category}</div>
          <div class="col-sm-7">{$lead}
            <div class="filter-block pull-right"><a href="#" class="create-lead btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Create Lead</a></div>
          </div>
          <div class="col-sm-2">{$FormButtons}			</div>
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>