.row
	.col-lg-12
		.main-box.clearfix
			header.main-box-header.clearfix
				h2.pull-left Filter Lead 
			.main-box-body.clearfix
				#invoice-companies.row
					.col-sm-3
						{$category}
					.col-sm-7
						{$lead}
						.filter-block.pull-right
							a.create-lead.btn.btn-primary.pull-right(href='#')
								i.fa.fa-plus-circle.fa-lg
								|  Create Lead
					.col-sm-2
						{$FormButtons}			
					.col-md-12