    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>[SUBJECT]</title>
      <style type="text/css">
      body {
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       margin:0 !important;
       width: 100% !important;
       -webkit-text-size-adjust: 100% !important;
       -ms-text-size-adjust: 100% !important;
       -webkit-font-smoothing: antialiased !important;
     }
     .tableContent img {
       border: 0 !important;
       display: block !important;
       outline: none !important;
     }
     a{
      color:#382F2E;
    }

    p, h1{
      margin:0;
    }

    div,p,ul,h1{
      margin:0;
    }

    .bigger{
      font-size: 24px;
    }
    .bgBody{
      background: #333333;
    }
    .bgItem{
      background: #ffffff;
    }
    h2{
      color:#444444;
      font-size:16px;
      font-weight:normal;
      margin:0;
    }
    p{
      color:#AAAAAA;
      font-size:13px;
      line-height:19px;
      font-weight:normal;
    }
    a.link2{
      padding:10px 20px;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      color:#ffffff;
      font-size:13px;
      background:#C3CAA9;
      text-decoration:none;
    }

    a.link1{
      font-weight:bold;
      color:#7E8564;
      font-size:13px;
    }

    </style>
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"333333",
    "link":"7E8564",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
  }
</script>
  </head>
  <body paddingwidth="0" paddingheight="0"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" style='font-family:Helvetica, Arial,serif;'>

      <tr>
        <td >
          <table class='bgBody' width="600" border="0" cellspacing="0" cellpadding="0" align="center">
<!-- =============================== Header ====================================== -->           

<!-- =============================== Body ====================================== -->
          <tr>
            <td valign='top' class='movableContentContainer'>
              
            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                <tr>
            <td bgcolor='#C4CAA9'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                <tr><td height='28' colspan='4'></td></tr>
                <tr>
                  <td width='28'></td>

                  <td align='left' valign='middle' >
                     <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                      <div class="contentEditable" >
                        <p style='color:#ffffff;font-size:13px;text-decoration:none;'>[DATE|0|F j, Y]</p>
                      </div>
                    </div>
                  </td>

                  <td align='right' valign='top' >
                    <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                      <div class="contentEditable" >
                        <a target='_blank' href="[SHOWEMAIL]" style='color:#7E8564;font-size:13px;'>Open in your browser</a>
                      </div>
                    </div>
                  </td>

                  <td width='28'></td>
                </tr>
                <tr><td height='28' colspan='4'></td></tr>
              </table>
            </td>
          </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center" class='bgItem'>
                <tr>
            <td >
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                <tr><td height='30' colspan='6'></td></tr>
                
                <tr>
                  <td width='28'></td>

                  <td align='left'>
                    <div class="contentEditableContainer contentImageEditable">
                      <div class="contentEditable" >
                        <img src="images/logo.png" alt='Compagnie logo' data-default="placeholder" data-max-width="300" width='80' height='80'>
                      </div>
                    </div>
                  </td>


                  <td width='15'></td>

                  <td width='100' align='right'>
                    <div class='contentEditableContainer contentTextEditable'>
                      <div class="contentEditable" valign='middle'>
                        <a target='_blank' href='[FORWARD]' style='font-size:13px;'>Tell a friend</a>
                      </div>
                    </div>
                  </td>

                  <td width='28'></td>
                </tr>

                <tr><td height='30' colspan='6'></td></tr>
              </table>
            </td>
          </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                <tr>
            <td>
              <div class="contentEditableContainer contentImageEditable">
                <div class="contentEditable" >
                  <img src="images/bigImg.jpg" alt='Featured images' data-default="placeholder" data-max-width="600" width='600' height='338'>
                </div>
              </div>
            </td>
          </tr>
              </table>
            </div>


            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr>
            <td bgcolor='#E4A552'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">  
                <tr><td height='25' colspan='3'></td></tr>

                <tr>
                  <td width='25'></td>
                  
                  <td>
                    <table width="550" border="0" cellspacing="0" cellpadding="0"  align="center">
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <h1 style='font-size:16px;color:#ffffff;font-weight:normal;margin:0;'>Your company Name</h1>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='10'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p style='font-size:13px;color:#ffffff;margin:0;'>
                                Your mission statement, vision or purpose in one sentence. Keep it short in the email but if you need to expand, link to your website’s <a target='_blank' href='#'>About us</a> page.
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>

                  <td width='25'></td>
                </tr>

                <tr><td height='25' colspan='3'></td></tr>
              </table>
            </td>
          </tr>
              </table>
            </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center" >
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td class='bgItem' width='295' valign='top'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>

                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >Private Classes</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Do you offer private classes, themed lessons or  special events? Extend an invitation and get people to sign up.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link2' style='color:#ffffff;'>Link to your website</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>

                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>

                    <td width='10'></td>

                    <td class='bgItem' width='295'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>

                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2>Group Classes</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Include a link to your group class schedule. You can also provide a link for people to download a PDF.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link2' style='color:#ffffff;'>Link to Schedule</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>

                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>

                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td width='300' valign='top' class='bgItem'>
                      <div class="contentEditableContainer contentImageEditable">
                        <div class="contentEditable" >
                          <img src="images/medImg.jpg" alt='product image' data-default="placeholder" data-max-width="300" width='300' height='240'>
                        </div>
                      </div>
                    </td>
                    <td width='300' valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2>Health tip</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Do you have a health tip, meditation tip or exercise of the week to share? Give a hint about it</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link2' style='background: #E3A552;color:#ffffff;'>Link to your website</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>

                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td width='300' valign='top'class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2>Health tip</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='font-size:13px;line-height:19px;font-weight:normal;'>Do you have a health tip, meditation tip or exercise of the week to share? Give a hint about it</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link2' style='background: #E3A552;color:#ffffff;'>Link to your website</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                    <td width='300' valign='top' class='bgItem'>
                      <div class="contentEditableContainer contentImageEditable">
                        <div class="contentEditable" >
                          <img src="images/medImg.jpg" alt='product image' data-default="placeholder" data-max-width="305" width='305' height='240'>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td valign='top' bgcolor='#C3CAA9'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td>
                                  <table border="0" cellspacing="0" cellpadding="0"  align="center">
                                    <tr>
                                      <td width='175'><div style='border:1px solid #A9B288;'></div></td>
                                      <td width='200' style='padding:0 10px;'>
                                        <div class="contentEditableContainer contentTextEditable">
                                          <div class="contentEditable" style='color:#585C49;font-size:26px;font-weight:normal;font-family:georgia;text-align:center;'>
                                            <h1 class='bigger'>Frequently Asked question</h1>
                                          </div>
                                        </div>
                                      </td>
                                      <td width='175'><div style='border:1px solid #A9B288;'></div></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr><td height='25'></td></tr>
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='color:#7E8564;font-size:13px;line-height:19px;font-weight:normal;text-align:center;'>This is a great spot to answer a question that people ask often. You can also use this space to offer a promotion or seasonal special. It’s visually different, so keep it for an important message.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35'></td></tr>
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" align='center'>
                                      <a target='_blank' href='#' style='padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px;background:#7E8564;text-decoration:none;'>Call to action</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>
                  
                  <tr>
                    <td valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2>Blog post name</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left' width='330'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >You can provide a short description of a blog post you wrote recently.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link1'>Call to action</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='120'></td>
                          <td >
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/blogImg.png" alt='Blog image' data-default="placeholder" data-max-width="100" width='100' height='100'>
                              </div>
                            </div>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>
                  
                  <tr>
                    <td valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2>About the Instructor</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left' width='330'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Talk about the instructor, where they were trained, what they believe in. Keep it personal so people get a sense of who will be guiding them to a more healthful lifestyle.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link1' >Call to action</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='120'></td>
                          <td >
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/blogImg.png" alt='Blog image' data-default="placeholder" data-max-width="100" width='100' height='100'>
                              </div>
                            </div>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='50'></td></tr>

          <tr><td  style='border-bottom:1px solid #999999;'></td></tr>

          <tr><td height='25'></td></tr>

          <tr>
            <td valign='top' align='center'>
              <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" >
                  <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>Are you giving up on your healthy resolutions? You can&nbsp;<a target='_blank' href='[UNSUBSCRIBE]' style='color:#A8B0B6;font-weight:bold;'>unsubscribe</a>&nbsp;here and we won’t make you feel guilty anymore.
                  </p>
                </div>
              </div>
            </td>
          </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                <tr><td height='25'></td></tr>

                <tr>
                  <td>
                    <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td valign='top' align='left' width='370'>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" align='center'>
                              <p  style='text-align:left;color:#999999;font-size:12px;font-weight:normal;line-height:20px;'>
                                <span style='font-weight:bold;'>[CLIENTS.COMPANY_NAME]</span>
                                <br>
                                [CLIENTS.ADDRESS]
                                <br>
                                <a target='_blank' href="[FORWARD]" style='font-size:13px; color:#999999;'>Forward to a friend</a>
                              </p>
                            </div>
                          </div>
                        </td>

                        <td width='30'></td>

                        <td valign='top' width='52'>
                          <div class="contentEditableContainer contentFacebookEditable">
                            <div class="contentEditable">
                              <a target='_blank' href="#"><img src="images/facebook2.png" width='52' data-customIcon="true" height='52' alt='facebook icon' data-default="placeholder" data-max-width="52"></a>
                            </div>
                          </div>
                        </td>

                        <td width='16'></td>

                        <td valign='top' width='52'>
                          <div class="contentEditableContainer contentTwitterEditable">
                            <div class="contentEditable">
                              <a target='_blank' href="#"><img src="images/twitter2.png" width='52' data-customIcon="true" height='52' alt='twitter icon' data-default="placeholder" data-max-width="52"></a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>


            </td>
          </tr>
<!-- =============================== footer ====================================== -->
        

        </table>
      </td>
    </tr>

    <tr><td height='55'></td></tr>


    </table>

   
      </body>
      </html>
