<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<title>[SUBJECT]</title>
		<style type="text/css">
body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h2{
  color:#382F2E;
  margin:0;
}
h2{
	color:#832e53;font-size:21px;font-weight:normal;
}

div,p,ul,h2{
  margin:0;
}	
a.link1{
	
}

a.link2{
  color:#c6e170;font-size:13px;font-weight:bold;text-decoration:none;
}

a.link3{
  
}
.bgBody{
background: #efe6bd;
}
.bgItem{
background: #ffffff;
}
h2{
color:#832e53;font-size:21px;font-weight:normal;
}	
p{
color:#999999;font-size:13px;line-height:19px;

}
</style>

<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"efe6bd",
    "link":"c6e170",
    "color":"999999",
    "bgItem":"ffffff",
    "title":"832e53"
  }
</script>
	</head>
	<body  leftpadding="0" offset="0" paddingheight="0" paddingwidth="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" toppadding="0">
		<table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" class="tableContent" width="100%">
			<tbody>
				<tr>
					<td valign="top">
						<table align="center" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family:helvetica, sans-serif;" width="600">
							<tbody>
								<tr>
									<td width="20">
									</td>
									<td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
											<!--  =========================== The header ===========================  -->
											<tbody>
												
												<!--  =========================== The body ===========================  -->
												<tr>
													<td class="movableContentContainer" >

														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="25">
																	</td>
																</tr>
																<tr>
																	<td>
																		<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" width='75'>
																						<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																							<div class="contentEditable"><img src="imgs/Floral_logo.png" alt="Logo" title="Logo" width="50" height="50" data-max-width="100"></div>
																						</div>
																					</td>
																					<td width='25'></td>
																					<td width='285'>
																						<div class="contentEditableContainer contentTextEditable">
																							<div class="contentEditable">
																								<h2>[CLIENTS.COMPANY_NAME]</h2>
																							</div>
																						</div>
																					</td>
																					<td width='25'></td>
																					<td align="right" valign="top" width='125'>
																						<div class="contentEditableContainer contentTextEditable" style="display:inline-block;">
																							<div class="contentEditable">
																								<a target='_blank' href="[SHOWEMAIL]" style="color:#A8B0B6;font-size:13px;text-decoration:none;">Open in your browser</a></div>
																						</div>
																					</td>
																					<td align="right" valign="top" width="25">
																						<div class="contentEditableContainer contentImageEditable" style="display:inline-block;">
																							<div class="contentEditable">
																								<a target='_blank' href="[SHOWEMAIL]"><img alt="open in browser image" data-default="placeholder" height="15" src="imgs/openBrowser.png" style="padding-left:10px;" width="15"></a></div>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</table>
														</div>


														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="25">
																	</td>
																</tr>
																<tr>
																	<td align="center" bgcolor="#832e53" width="560" >
																		
																		<table valign="top" cellpadding="0" cellspacing="0" width="560" height="93" border="0">
																			<tbody>
																				<tr>
																					<td>
																						<div class="contentEditableContainer contentImageEditable">
																							<div class="contentEditable">
																								<img src="imgs/bigImg.jpg" width="560" height='92'>
																							</div>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</table>
														</div>


														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td align="center" bgcolor="#f68455" style="padding:20px;">
																		<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																			<div class="contentEditable">
																				<p style="color:#efe6bd;font-size:16px;line-height:19px;">
																					Flowers for Any Occasion</p>
																			</div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>




														<!--  ==== movable content in the body ===  -->
														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" class='bgItem'  border="0" cellpadding="0" cellspacing="0" style="border:1px solid #dddddd" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td colspan="3" height="16">
																						</td>
																					</tr>
																					<tr>
																						<td width="16">
																						</td>
																						<td>
																							<table align="center"  border="0" cellpadding="0" cellspacing="0" valign="top" width="526">
																								<tbody>
																									<tr>
																										<td align="left" valign="top">
																											<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																												<div class="contentEditable">
																													<h2>
																														Services</h2>
																												</div>
																											</div>
																										</td>
																									</tr>
																									<tr>
																										<td height="13">
																										</td>
																									</tr>
																									<tr>
																										<td align="left" valign="top">
																											<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																												<div class="contentEditable">
																													<p >
																														What kind of services do you provide? Do you specialize in weddings or special occasions? Do you provide landscaping tips?</p>
																												</div>
																											</div>
																										</td>
																									</tr>
																									<tr>
																										<td height="20">
																										</td>
																									</tr>
																									<tr>
																										<td align="right" style="padding-bottom:8px;" valign="top">
																											<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																												<div class="contentEditable">
																													<a target='_blank' href="#" style="padding:8px;background:#c6e170;font-size:13px;color:#555555;text-decoration:none;font-weight:bold;">See our Gallery →</a></div>
																											</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="16">
																						</td>
																					</tr>
																					<tr>
																						<td colspan="3" height="16">
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td class='bgItem' style="border:1px solid #dddddd;" width="269">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="269">
																								<tbody>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																									<tr>
																										<td width="9">
																										</td>
																										<td width="251">
																											<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																												<div class="contentEditable"><img src="imgs/Floral_Placeholders_2.png" alt="" title="" width="251" height="251" data-max-width="251"></div>
																											</div>
																										</td>
																										<td width="9">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="18">
																						</td>
																						<td class='bgItem' style="border:1px solid #dddddd;" width="269">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="269">
																								<tbody>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																									<tr>
																										<td width="9">
																										</td>
																										<td width="251">
																											<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																												<div class="contentEditable"><img src="imgs/Floral_Placeholders_3.png" alt="" title="" width="251" height="251" data-max-width="251"></div>
																											</div>
																										</td>
																										<td width="9">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td valign="top" width="175">
																							<table align="left" bgcolor="#f68455" border="0" cellpadding="0" cellspacing="0" valign="top" width="175">
																								<tbody>
																									<tr>
																										<td colspan="3" height="18">
																										</td>
																									</tr>
																									<tr>
																										<td width="18">
																										</td>
																										<td width="139">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<h2 style='color:#efe6bd'>
																														Get a quote</h2>
																												</div>
																											</div>
																										</td>
																										<td width="18">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="18">
																										</td>
																										<td width="139">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<p style="color:#efe6bd;font-size:13px;line-height:19px;">
																														Get a free quote for your event</p>
																												</div>
																											</div>
																										</td>
																										<td width="18">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="18">
																										</td>
																									</tr>
																									<tr>
																										<td bgcolor="#f23005" colspan="3" height="18">
																										</td>
																									</tr>
																									<tr>
																										<td bgcolor="#f23005" width="18">
																										</td>
																										<td bgcolor="#f23005" width="139">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<a target='_blank' href="#" style="color:#efe6bd;font-size:13px;text-decoration:none;">Book appointment → </a></div>
																											</div>
																										</td>
																										<td bgcolor="#f23005" width="18">
																										</td>
																									</tr>
																									<tr>
																										<td bgcolor="#f23005" colspan="3" height="18">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="18">
																						</td>
																						<td class='bgItem' style="border:1px solid #dddddd;" valign="top" width="365">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="365">
																								<tbody>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="20">
																										</td>
																										<td width="325">
																											<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="327">
																												<tbody>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<h2>The importance of colour</h2>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="13">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<p >
																																		Limit the use of color so as not to overwhelm people. Keep to 3 harmonious colours, or 2 complimentary colours.</p>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="16">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<a target='_blank' href="#" class='link2'>See examples</a></div>
																															</div>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																										<td width="20">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td class='bgItem' style="border:1px solid #dddddd;" valign="top" width="316">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="316">
																								<tbody>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="20">
																										</td>
																										<td width="276">
																											<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="276">
																												<tbody>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																																<div class="contentEditable">
																																	<h2 >
																																		Customer testimonials</h2>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="13">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																																<div class="contentEditable">
																																	<p >
																																		Also called "social proof", customer testimonials serve to show what people appreciate most about your business and help boost your reputation.</p>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="16">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																																<div class="contentEditable">
																																	<a target='_blank' href="#" class='link2'>See more on Twitter</a></div>
																															</div>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																										<td width="20">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="18">
																						</td>
																						<td class='bgItem' style="border:1px solid #dddddd;" valign="top" width="224">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="224">
																								<tbody>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="20">
																										</td>
																										<td width="180">
																											<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="180">
																												<tbody>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																																<div class="contentEditable">
																																	<img src="imgs/Floral_Placeholders_1.png" width="180">
																																</div>
																															</div>
																														</td>
																													</tr>
																													
																												</tbody>
																											</table>
																										</td>
																										<td width="20">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>


														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="30">
																	</td>
																</tr>
																<tr>
																	<td bgcolor="#832e53">
																		<table align="center" bgcolor="#832e53" border="0" cellpadding="0" cellspacing="0" width="560">
																			<tbody>
																				<tr>
																					<td align="left" bgcolor="#832e53" valign="top" width="344">
																						<table align="center" bgcolor="#832e53" border="0" cellpadding="0" cellspacing="0" width="344">
																							<tbody>
																								<tr>
																									<td colspan="3" height="28">
																									</td>
																								</tr>
																								<tr>
																									<td width="30">
																									</td>
																									<td valign="middle">
																										<div class="contentEditableContainer contentTextEditable">
																											<div class="contentEditable">
																												<p style="color:#ffffff;font-size:14px;line-height:19px;">
																													Stay in Touch!</p>
																											</div>
																										</div>
																									</td>
																									<td width="10">
																									</td>
																								</tr>
																								<tr>
																									<td colspan="3" height="28">
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																					<td align="center" bgcolor="#76294b" valign="top" width="72">
																						<table align="center" bgcolor="#76294b" border="0" cellpadding="0" cellspacing="0" width="72">
																							<tbody>
																								<tr>
																									<td align="center" bgcolor="#76294b" height="72" valign="middle" width="72">
																										<div class="contentEditableContainer contentFacebookEditable">
																											<div class="contentEditable" valign="middle">
																												<a target='_blank' href=""><img alt="facebook link" data-default="placeholder" data-max-width="37" height="37" src="imgs/facebook.png" width="37" data-customIcon="true" ></a></div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																					<td align="center" bgcolor="#692542" valign="top" width="72">
																						<table align="center" bgcolor="#692542" border="0" cellpadding="0" cellspacing="0" height="72" width="72">
																							<tbody>
																								<tr>
																									<td align="center" bgcolor="#692542" height="72" valign="middle" width="72">
																										<div class="contentEditableContainer contentTwitterEditable">
																											<div class="contentEditable" valign="middle">
																												<a target='_blank' href=""><img alt="twitter link" data-default="placeholder" data-max-width="37" height="37" src="imgs/twitter.png" width="37" data-customIcon="true" ></a></div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																					<td align="center" bgcolor="#5c203a" valign="top" width="72">
																						<table align="center" bgcolor="#5c203a" border="0" cellpadding="0" cellspacing="0" height="72" width="72">
																							<tbody>
																								<tr>
																									<td align="center" bgcolor="#5c203a" height="72" valign="middle" width="72">
																										<div class="contentEditableContainer contentImageEditable">
																											<div class="contentEditable" valign="middle">
																												<img alt="Pinterest" data-max-width="37" height="37" src="imgs/pinterest.png" width="37"></div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</table>
														</div>

														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="28">
																	</td>
																</tr>
																<tr>
																	<td align="center" valign="top">
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#A8B0B6; font-size:13px;line-height: 16px;">
																					This email was sent to [email] when you signed up on [CLIENTS.WEBSITE] Please add us to your contacts to ensure the newsletters land in your inbox.</p>
																			</div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>


														<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="28">
																	</td>
																</tr>
																<tr>
																	<td align="center" valign="top">
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;">
																					[CLIENTS.COMPANY_NAME]</p>
																			</div>
																		</div>
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#A8B0B6;font-size:13px;line-height: 15px;">
																			[CLIENTS.ADDRESS]</p>
																			</div>
																		</div>
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<a target='_blank' href="[FORWARD]" style="line-height: 20px;color:#A8B0B6; font-size:13px;">Forward to a friend</a>
																			</div>
																		</div>
																		<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																			<div class="contentEditable">
																				<a target='_blank' href="[UNSUBSCRIBE]" style="line-height: 20px;color:#A8B0B6; font-size:13px;">Unsubscribe</a></div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>



													</td>
												</tr>
												<!--  =========================== The footer ===========================  -->
												
												
												
												<tr>
													<td height="28">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td width="20">
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		

</body></html>