
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>[SUBJECT]</title>

    <style type="text/css">

    body, .bgBody {background: #F4F1DF; font-family:"Georgia", "Times New Roman", Times, sans-serif; font-size:12px; line-height:18px; color:#000;margin:0;}
    p {margin-bottom:10px; margin-top:0;font-family:"Georgia", "Times New Roman", Times, sans-serif; font-size:15px;line-height:150%;}
    a.link1 {
        text-decoration:none;
        color:#ffffff;
        font-size: 13px;
        border-radius: 3px;
         -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-top:10px solid #cc000A;
        border-left: 20px solid #cc000A;
        border-right: 20px solid #cc000A;
        border-bottom: 10px solid #cc000A;
        background-color: #cc000A;
    }
    a{
        text-decoration: none;
    }
    h1 {margin-top:0; margin-bottom:2px;padding:0; color:#797671; font-size:22px; line-height:24px;  font-weight:normal;font-family:"Georgia", "Times New Roman", Times, sans-serif;}
    h2 {margin-top:0; color:#797671; font-size:20px;  font-weight:normal;font-family:"Georgia", "Times New Roman", Times, sans-serif;}
    h3 {margin:0 0 2px 0; color:#797671; font-size:18px; font-family:"Georgia", "Times New Roman", Times, sans-serif;font-weight: normal;}
    .bgItem {background:#fff;}
    .bgBody {background:#f4f1df;}
    ul li{
        font-size: 14px;
    }
    </style>

    <script type="colorScheme" class="swatch active">
    {
        "name":"Default",
        "bgBody":"f4f1df",
        "link":"ffffff",
        "color":"000000",
        "bgItem":"ffffff",
        "title":"797671"
    }
    </script>

</head>

<body style="margin:0;">
<table cellpadding="0" cellspacing="0" border="0" width="100%"  class="bgBody" align='center'>
<tr>
   <td align='center'>
      <table cellpadding="0" cellspacing="0" border="0" width="600"  class="bgBody">
         

         <tr>
            <td class='movableContentContainer'>
                
                <div class="movableContent">
                    <table cellpadding="0" cellspacing="0" border="0" width="600">
                        <tr>
                             <td>
                                 <table cellpadding="0" cellspacing="0" border="0" width="600" >
                                     <tr><td height='20'></td></tr>
                                     <tr>
                                      <td align="center">
                                         <div class="contentEditableContainer contentTextEditable">
                                             <div class="contentEditable">
                                                 <p style='margin:0;font-size: 14px;'>Having trouble viewing this message, <a target='_blank' href="[SHOWEMAIL]" style='color:#000000;text-decoration: underline;'>open it in a browser window</a></p>
                                             </div>
                                         </div>
                                      </td>
                                   </tr>
                                 </table>
                             </td>
                         </tr>
                    </table>
                </div>


                <!-- Image -->
               <div class="movableContent">
                    <table cellpadding="0" cellspacing="0" border="0" width="600">
                        <tr><td height='20'></td></tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" width="600" >
                                 <tr>
                                    <td align="center">
                                       <div class="contentEditableContainer contentImageEditable">
                                          <div class="contentEditable" style="text-align:center;">
                                             <img data-default="placeholder" src="images/canada_header.png" data-max-width="600" width='600' style='background:#fc0d1b;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                              </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- .Image -->

                <!-- Text -->
                <div class="movableContent">
                    <table width="600" cellpadding="0" cellspacing="0" align="center" >
                        <tr><td height='20'></td></tr>
                        <tr>
                           <td >
                              <table width="600" cellpadding="0" cellspacing="0" align="center" class='bgItem' style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                                 <tr><td colspan="3" height='20'></td></tr>
                                 <tr>
                                    <td width='20'></td>
                                    <td >
                                       <div class="contentEditableContainer contentTextEditable">
                                          <div class="contentEditable">
                                              <h2 style="text-align:left;">Excerpt from "10 Fascinating Facts About Canada"</h2>
                                              <p style="text-align:left;">Canada is well known for its large territory, ubiquitous politeness and poutine (french fries, meet your new best friends: gravy and cheese curds)</p>
                                              <p style="text-align:left;">Here are a few lesser known facts about Canada:</p>
                                              <ul style="text-align:left;">
                                                  <li style="text-align:left;">Churchill, MB boasts a Bear to Townsperson ratio of 1:1</li>
                                                  <li style="text-align:left;">Over 50% of Canadian adults holds a college diploma or univeristy degree</li>
                                                  <li style="text-align:left;">In 2007, the Royal Canadian Mint unveiled a 100 kg gold bullion coin</li>
                                              </ul>
                                              <br>
                                              <p style="text-align:right;"><a target='_blank' href="" class='link1'>Read the full list at listverse.com</a></p>
                                          </div>
                                      </div>
                                    </td>
                                    <td width='20'></td>
                                 </tr>
                                 <tr><td colspan="3" height='20'></td></tr>
                              </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- .Text -->

                <!-- Image + text -->
                <div class="movableContent">
                    <table width="600" cellpadding="0" cellspacing="0" align="center"  >
                        <tr><td height='20'></td></tr>
                        <tr>
                            <td >
                                <table cellpadding="0" cellspacing="0" border="0" width='600' class="bgItem" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                                    <tr><td colspan="5" height='20'></td></tr>
                                    <tr>
                                       <td width='20'></td>
                                        <td valign="top">
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable">
                                                    <img data-default="placeholder" src="images/p1.jpg" width='300' data-max-width="300">
                                                </div>
                                            </div>
                                        </td>
                                        <td width='20'></td>
                                        <td valign="top" >
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                    <h2 style="text-align:left;">Famous Canadians</h2>
                                                    <p style="text-align:left;">Canada has its fair share of stars: Anna Paquin, William Shatner, Jim Carrey, Ellen Page, Ryan Gosling and Seth Rogen, just to name a few.</p>
                                                    <p style="text-align:left;">Who's your favourite Canadian big screen star?</p>
                                                    <br>
                                                    <p style="text-align:right;"><a target='_blank' class='link1' href="">Read the full list at listverse.com</a></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td width='20'></td>
                                    </tr>
                                    <tr><td colspan="5" height='20'></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- .Image + text -->

                <!-- Image + Image -->
                <div class="movableContent">
                    <table width="600" cellpadding="0" cellspacing="0" align="center"  >
                        <tr><td height='20'></td></tr>
                        <tr>
                            <td >
                                <table cellpadding="0" cellspacing="0" border="0" width='600' class="bgItem" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                                    <tr>
                                        <td colspan="5" height='20'>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td width='20'>
                                       </td>
                                        <td valign="top">
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable">
                                                    <img data-default="placeholder" src="images/p2.jpg" width='268' data-max-width="268">
                                                </div>
                                            </div>
                                        </td>
                                        <td width='20'></td>
                                        <td valign="top" >
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable">
                                                    <img data-default="placeholder" src="images/p3.jpg" width='268' data-max-width="268">
                                                </div>
                                            </div>
                                        </td>
                                        <td width='20'></td>
                                    </tr>
                                    <tr><td colspan="5" height='20'></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- .Image + Image -->

                <!-- Gmap + text -->
                <div class="movableContent">
                    <table width="600" cellpadding="0" cellspacing="0" align="center"  >
                        <tr><td height='20'></td></tr>
                        <tr>
                           <td >
                              <table cellpadding="0" cellspacing="0" border="0" width='600' class="bgItem" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                                 <tr>
                                    <td colspan="3" height='20'>
                                    </td>
                                </tr>
                                
                                  <tr>
                                    <td width='20'></td>
                                    <td colspan="3">
                                        <div class="contentEditableContainer contentTextEditable">
                                             <div class="contentEditable">
                                                 <h2 style="text-align:left;">Come and visit!</h2>
                                             </div>
                                         </div>
                                     </td>
                                      <td width='20'></td>
                                 </tr>
                                
                                 <tr>
                                    <td width='20'></td>
                                     <td colspan="3">
                                         <div class="contentGmapEditable contentEditableContainer">
                                             <div class="contentEditable">
                                                 <img data-default="placeholder" src="images/map.jpg" width="560">
                                             </div>
                                         </div>
                                    </td>
                                    <td width='20'></td>
                                 </tr>

                                 <tr><td colspan="3" height='10'></td></tr>
                                 <tr>
                                    <td width='20'></td>
                                        <td valign="top" >
                                         <div class="contentEditableContainer contentTextEditable">
                                             <div class="contentEditable">
                                                 <p style="text-align:left;">Canada is located in the nothernmost part of North America, but you won't have to go that far to visit us!</p>
                                                 <p>Come see us at [CLIENTS.ADDRESS] or give us a all at [CLIENTS.PHONE].</p>
                                                 <p style="text-align:right;"><a target='_blank'  href="" style='color:#cc000d ;border:none;background: none;'>Get directions</a></p>
                                             </div>
                                         </div>
                                     </td>
                                     <td width='20'></td>
                                 </tr>
                                 <tr><td colspan="3" height='20'></td></tr>
                              </table>
                           </td>
                        </tr>
                    </table>
                </div>
                <!-- .Gmap + text -->

                <div class='movableContent'>
                  <table cellspacing="0" cellpadding="0" border="0" width='600'>
                    <tr><td height="20"></td></tr>
                    <tr>
                        <td>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="padding-top: 7px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px; line-height: 150%; background: #FC0D1B;text-decoration:none;">
                                <tr><td height='20'></td></tr>
                                <tr>
                                    <td align="center">
                                        <table align="center" cellpadding="0" cellspacing="0" width="600"  >
                                            <tr>
                                                <td>
                                                    <table align="center" cellpadding="0" cellspacing="0" width="600"  >
                                                        <tr>
                                                            <td width='20'></td>
                                                            <td align="left" width='50'>
                                                                <div class="contentEditableContainer contentImageEditable">
                                                                    <div class="contentEditable" style="text-align:left;">
                                                                        <a target='_blank' href="[CLIENTS.WEBSITE]"><img data-default="placeholder" src="images/Logo.png" alt="[CLIENTS.COMPANY_NAME]" width="50" data-max-width="50" ></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='10'></td>
                                                            <td width="500" align="left">
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable" style="text-align:left;">
                                                                        <p style="color: #ffffff; text-align: left; font-size: 20px; line-height: 150%;">[CLIENTS.COMPANY_NAME]</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='20'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td height='20'></td></tr>
                                            <tr>
                                                <td>
                                                    <table align="center" cellpadding="0" cellspacing="0" width="600" >
                                                        <tr>
                                                            <td width='20'></td>
                                                            <td width='351'>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable" style="text-align:left;">
                                                                        <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">[CLIENTS.ADDRESS]</p>
                                                                        <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;"><a target='_blank' href="[CLIENTS.WEBSITE]" style="text-decoration:underline; color:#ffffff">[CLIENTS.WEBSITE]</a>&nbsp;|&nbsp;<a target='_blank' href="mailto:[SENDER_EMAIL]" style="text-decoration:underline; color:#ffffff">[SENDER_EMAIL]</a></p>
                                                                        <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">Call us: [CLIENTS.PHONE]
                                                                        </p>
                                                                        <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;"><a target='_blank' style='color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;text-decoration:underline;' href="[FORWARD]">Forward to a friend</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='20'></td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentTwitterEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="http://twitter.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteTweet.png" title="Follow us on Twitter" width="20" data-max-width='20' data-customIcon="true"></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentFacebookEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="http://facebook.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitebook.png" title="Like us on Facebook" width="20" data-max-width='20' data-customIcon="true"></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="https://plus.google.com/" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePlus.png" title="Google plus" width="20" ></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="http://pinterest.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePin.png" title="See who we're pinning" width="20" ></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="http://tumblr.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteCam.png" title="Follow us on Tumblr" width="20" ></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="http://youtube.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteTube.png" title="Follow us on Tumblr" width="20" ></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="27" valign="top">
                                                                <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank' href="#" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteRSS.png" title="Get the latest blog posts" width="20" ></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='20'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td height='20'></td></tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" border="0" width="600">
                                                        <tr>
                                                            <td width='20'></td>
                                                            <td  align="left" width='560'>
                                                                <div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
                                                                    <div class="contentEditable">
                                                                        <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">This email was sent to [email] because you signed up when you visited our website. <a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:underline; color:#ffffff">Click here</a> to unsubscribe.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='20'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td height='20'></td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="20"><td></tr>
                  </table>
                </div>


            </td>
        </tr>
        
      </table>
   </td>
</tr>
</table><!--table 100%-->


</body>

</html>