div(id="{$_name}" class="{$class}")
	{preview}
	h3 Fluid Width Layout
	{/}
	.template(style="display:none")
		div(style="width:100%")
			p(style='width:100%; background-color:red') I AM
				b Fluid
			table
				tr
					td ROWS1
					td RWO2
					td ROW3
				tr
					td XX1
					td XX2
					td XX3