<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>[SUBJECT]</title>
		<style type="text/css">
body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 ul{
 	margin:0;
 }
p{
color:#999999;
font-size:13px;
line-height:19px;
margin:0;
}
h2,h1{
color:#555555;
font-size:21px;
font-weight:normal;
margin: 0;
}

h2.white{
	color:#ffffff;
}

a{
  color:#000000;
}

a.link1{
  font-size:13px;
  color:#52999E;
  font-weight:bold;
  text-decoration:none;
}
a.link2{
padding:8px;
background:#52999E;
font-size:13px;
color:#ffffff;
text-decoration:none;
font-weight:bold;
}
.bgBody{
background: #F6F6F6;
}
.bgItem{
background: #ffffff;
}


</style>

<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"F6F6F6",
    "link":"52999E",
    "color":"999999",
    "bgItem":"ffffff",
    "title":"555555"
  }
</script>
	</head>
	<body class='bgBody' leftpadding="0" offset="0" paddingheight="0" paddingwidth="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" toppadding="0">
		<table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" class="tableContent" width="100%">
			<tbody>
				<tr>
					<td valign="top">
						<table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" style="font-family:helvetica, sans-serif;" width="600">
							<tbody>
								<tr>
									<td width="20">
									</td>
									<td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
											<!--  =========================== The header ===========================  -->
											<tbody>
												
												
												
												<!--  =========================== The body ===========================  -->
												<tr>
													<td class="movableContentContainer">
														<!--  ==== movable content in the body ===  -->

														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="25">
																	</td>
																</tr>
																<tr>
																	<td>
																		<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle">
																						<div class="contentEditableContainer contentImageEditable">
																							<div class="contentEditable">
																								<img alt="Company logo" data-default="placeholder" data-max-width="300" height="27" src="images/logo.png" width="107" /></div>
																						</div>
																					</td>
																					<td align="right" valign="top">
																						<div class="contentEditableContainer contentImageEditable" style="display:inline-block;">
																							<div class="contentEditable">
																								<a target='_blank' href="[SHOWEMAIL]" style="color:#A8B0B6;font-size:13px;text-decoration:none;">Open in your browser</a></div>
																						</div>
																					</td>
																					<td align="right" valign="top" width="18">
																						<div class="contentEditableContainer contentImageEditable" style="display:inline-block;">
																							<div class="contentEditable">
																								<a target='_blank' href="[SHOWEMAIL]"><img alt="open in browser image" data-default="placeholder" height="15" src="images/openBrowser.png" style="padding-left:10px;" width="15" /></a></div>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</table>
														</div>

														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="25">
																	</td>
																</tr>
																<tr>
																	<td align="center" bgcolor="#52999E" height="184" style="background:url('images/bigImg.png') #52999E no-repeat;background-size:560px 184px;" valign="middle" width="560">
																		<div class="contentEditableContainer contentImageEditable">
																			<div class="contentEditable">
																				<img alt="product image" data-default="placeholder" data-max-width="560" height="184" src="images/bigImg.png" width="560" /></div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>

														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td align="right" bgcolor="#275D61" style="padding:20px;">
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#ffffff;font-size:16px;line-height:19px;">
																					Rates and Services.</p>
																			</div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>


														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" class='bgItem' border="0" cellpadding="0" cellspacing="0" style="border:1px solid #dddddd" valign="top" width="558">
																				<tbody>
																					<tr>
																						<td colspan="3" height="16">
																						</td>
																					</tr>
																					<tr>
																						<td width="16">
																						</td>
																						<td>
																							<table align="center" class='bgItem' border="0" cellpadding="0" cellspacing="0" valign="top" width="526">
																								<tbody>
																									<tr>
																										<td align="left" valign="top">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<h2>
																														About us</h2>
																												</div>
																											</div>
																										</td>
																									</tr>
																									<tr>
																										<td height="13">
																										</td>
																									</tr>
																									<tr>
																										<td align="left" valign="top">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<p>
																														Give information about your company, the services you offer and your vision. Link back to your website.</p>
																												</div>
																											</div>
																										</td>
																									</tr>
																									<tr>
																										<td height="20">
																										</td>
																									</tr>
																									<tr>
																										<td align="right" style="padding-bottom:8px;" valign="top">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<a target='_blank' href="#" class='link2' style='color:#ffffff;'>Find out more → </a></div>
																											</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="16">
																						</td>
																					</tr>
																					<tr>
																						<td colspan="3" height="16">
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td class='bgItem' style="border:1px solid #dddddd;" width="269">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="269">
																								<tbody>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																									<tr>
																										<td width="9">
																										</td>
																										<td width="251">
																											<div class="contentEditableContainer contentImageEditable">
																												<div class="contentEditable">
																													<img alt="product image" data-default="placeholder" data-max-width="251" height="142" src="images/leftImg.png" width="251" /></div>
																											</div>
																										</td>
																										<td width="9">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="18">
																						</td>
																						<td class='bgItem' style="border:1px solid #dddddd;" width="269">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="269">
																								<tbody>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																									<tr>
																										<td width="9">
																										</td>
																										<td width="251">
																											<div class="contentEditableContainer contentImageEditable">
																												<div class="contentEditable">
																													<img alt="product image" data-default="placeholder" data-max-width="251" height="142" src="images/rightImg.png" width="251" /></div>
																											</div>
																										</td>
																										<td width="9">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="9">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td valign="top" width="175">
																							<table align="left" bgcolor="#52999E" border="0" cellpadding="0" cellspacing="0" valign="top" width="175">
																								<tbody>
																									<tr>
																										<td colspan="3" height="18">
																										</td>
																									</tr>
																									<tr>
																										<td width="18">
																										</td>
																										<td width="139">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<h1 class='white' style="color:#ffffff;font-size:21px;font-weight:normal;">
																														Free estimate</h1>
																												</div>
																											</div>
																										</td>
																										<td width="18">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="18">
																										</td>
																										<td width="139">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<p style="color:#C0DEE0;font-size:13px;line-height:19px;">
																														Thinking of revamping your website?</p>
																												</div>
																											</div>
																										</td>
																										<td width="18">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="18">
																										</td>
																									</tr>
																									<tr>
																										<td bgcolor="#275D61" colspan="3" height="18">
																										</td>
																									</tr>
																									<tr>
																										<td bgcolor="#275D61" width="18">
																										</td>
																										<td bgcolor="#275D61" width="139">
																											<div class="contentEditableContainer contentTextEditable">
																												<div class="contentEditable">
																													<a target='_blank' href="#" style="color:#C0DEE0;font-size:13px;text-decoration:none;">Get a free estimate → </a></div>
																											</div>
																										</td>
																										<td bgcolor="#275D61" width="18">
																										</td>
																									</tr>
																									<tr>
																										<td bgcolor="#275D61" colspan="3" height="18">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="18">
																						</td>
																						<td class='bgItem' style="border:1px solid #dddddd;" valign="top" width="365">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="365">
																								<tbody>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="20">
																										</td>
																										<td width="325">
																											<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="327">
																												<tbody>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<h2>
																																		Why you should revamp your website</h2>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="13">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<p >
																																		What’s the value of the services you offer? Why should people consider hiring your rather than doing the work internally?</p>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="16">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<a target='_blank' href="#" class='link1'>Read more</a></div>
																															</div>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																										<td width="20">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="movableContent">
															<table border="0" cellpadding="0" cellspacing="0" width="560">
																<tbody>
																	<tr>
																		<td height="25">
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="560">
																				<tbody>
																					<tr>
																						<td class='bgItem' style="border:1px solid #dddddd;" valign="top" width="316">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="316">
																								<tbody>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="20">
																										</td>
																										<td width="276">
																											<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="276">
																												<tbody>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<h2>
																																		Customer testimonial</h2>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="13">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<p >
																																		Have a happy customer? A case study? White paper? Share the information. Hint at the story, but give the full picture on your website</p>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="16">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<a target='_blank' href="#" class='link1'>Read more</a></div>
																															</div>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																										<td width="20">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td width="18">
																						</td>
																						<td class='bgItem' style="border:1px solid #dddddd;" valign="top" width="224">
																							<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="224">
																								<tbody>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																									<tr>
																										<td width="20">
																										</td>
																										<td width="180">
																											<table align="center" border="0" cellpadding="0" cellspacing="0" valign="top" width="180">
																												<tbody>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<h2>
																																		Statistics</h2>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="13">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<ul style="padding-left: 20px;">
																																		<li style="font-size:13px;line-height:19px;">
																																			<p>Proven data and analysis</p></li>
																																		<li style="font-size:13px;line-height:19px;">
																																			<p>Can help people make</p></li>
																																		<li style="font-size:13px;line-height:19px;">
																																			<p>Rational decisions</p></li>
																																	</ul>
																																</div>
																															</div>
																														</td>
																													</tr>
																													<tr>
																														<td height="16">
																														</td>
																													</tr>
																													<tr>
																														<td>
																															<div class="contentEditableContainer contentTextEditable">
																																<div class="contentEditable">
																																	<a target='_blank' href="#" class='link1'>Read more</a></div>
																															</div>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																										<td width="20">
																										</td>
																									</tr>
																									<tr>
																										<td colspan="3" height="15">
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													
														<div class='movableContent'>
															<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="30">
																	</td>
																</tr>
																<tr>
																	<td bgcolor="#52999E">
																		<table align="center" bgcolor="#52999E" border="0" cellpadding="0" cellspacing="0" width="560">
																			<tbody>
																				<tr>
																					<td align="left" bgcolor="#52999E" valign="top" width="416">
																						<table align="center" bgcolor="#52999E" border="0" cellpadding="0" cellspacing="0" width="416">
																							<tbody>
																								<tr>
																									<td colspan="3" height="28">
																									</td>
																								</tr>
																								<tr>
																									<td width="30">
																									</td>
																									<td valign="middle">
																										<div class="contentEditableContainer contentTextEditable">
																											<div class="contentEditable">
																												<p style="color:#ffffff;font-size:14px;line-height:19px;">
																													Stay in Touch!</p>
																											</div>
																										</div>
																									</td>
																									<td width="10">
																									</td>
																								</tr>
																								<tr>
																									<td colspan="3" height="28">
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																					<td align="center" bgcolor="#3C8287" valign="top" width="72">
																						<table align="center" bgcolor="#3C8287" border="0" cellpadding="0" cellspacing="0" width="72">
																							<tbody>
																								<tr>
																									<td align="center" bgcolor="#3C8287" height="72" valign="middle" width="72">
																										<div class="contentEditableContainer contentFacebookEditable">
																											<div class="contentEditable" valign="middle">
																												<a target='_blank' href=""><img alt="facebook link" data-default="placeholder" data-max-width="37" height="37" src="images/facebook.png" width="37" data-customIcon="true" /></a></div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																					<td align="center" bgcolor="#275D61" valign="top" width="72">
																						<table align="center" bgcolor="#275D61" border="0" cellpadding="0" cellspacing="0" height="72" width="72">
																							<tbody>
																								<tr>
																									<td align="center" bgcolor="#275D61" height="72" valign="middle" width="72">
																										<div class="contentEditableContainer contentTwitterEditable">
																											<div class="contentEditable" valign="middle">
																												<a target='_blank' href=""><img alt="twitter link" data-default="placeholder" data-max-width="37" height="37" src="images/twitter.png" width="37" data-customIcon="true" /></a></div>
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</table>
														</div>

														<div class='movableContent'>
															<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="28">
																	</td>
																</tr>
																<tr>
																	<td align="center" valign="top">
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#A8B0B6; font-size:13px;line-height: 16px;">
																					This email was sent to [email] when you signed up on [CLIENTS.WEBSITE] Please add us to your contacts to ensure the newsletters land in your inbox.</p>
																			</div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>

														<div class='movableContent'>
															<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
																<tr>
																	<td height="28">
																	</td>
																</tr>
																<tr>
																	<td align="center" valign="top">
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;">
																					[CLIENTS.COMPANY_NAME]</p>
																			</div>
																		</div>
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<p style="color:#A8B0B6;font-size:13px;line-height: 15px;">[CLIENTS.ADDRESS]</p>
																			</div>
																		</div>
																			
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<a target='_blank' href="[FORWARD]" style="line-height: 20px;color:#A8B0B6; font-size:13px;">Forward to a friend</a>
																			</div>
																		</div>
																		<div class="contentEditableContainer contentTextEditable">
																			<div class="contentEditable">
																				<a target='_blank' href="[UNSUBSCRIBE]" style="line-height: 20px;color:#A8B0B6; font-size:13px;">Unsubscribe</a></div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>


													</td>
												</tr>
												<!--  =========================== The footer ===========================  -->
												
												
												
												<tr>
													<td height="28">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td width="20">
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		
    --><!--Default Zone End--></body>
</html>
