    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>[SUBJECT]</title>
    <style type="text/css">
        body,
        .bgBody
        {
            background:#858588;
            font-family:"Georgia","Times New Roman",Times,sans-serif;
            font-size:14px;
            line-height: 150%;
            color:#000;
            margin:0;
        }
        p
        {
            margin-bottom:10px;
            margin-top:0;
            font-family:"Georgia","Times New Roman",Times,sans-serif;
            font-size:14px;
            line-height:150%;
        }
       
        a.button1{
          padding-top:10px;
          padding-bottom:10px;
          padding-right:20px;
          padding-left:20px;
          border-radius:3px;
          -moz-border-radius:3px;
          -webkit-border-radius:3px;
          color:#ffffff;
          font-size:13px;
          background:#463F60;
          text-decoration:none;
        }
        a.link2{
          color:#008A9E;
          text-decoration: none;
        }
        h1
        {
            margin-top:0;margin-bottom:2px;
            padding:0;
            color:#e80000;
            font-size:24px;
            line-height:150%;
            font-weight:normal;
            font-family:"Georgia","Times New Roman",Times,sans-serif;
        }
        
        h2
        {
            margin-top:0;
            color:#E80000;
            font-size:20px;
            font-weight:normal;font-family:"Georgia","Times New Roman",Times,sans-serif;
        }
        h3
        {
            margin:0 0 2px 0;
            color:#e80000;
            font-size:20px;
            font-family:"Georgia","Times New Roman",Times,sans-serif;
        }
        img{
          border:none;
        }
        .bgItem{background:#fff;}
        .bgBody{background:#858588;}
        td{
          text-align: center;
        }
        a{
          display:inline-block;
        }

    </style>
    <script type="colorScheme" class="swatch active">
        {
            "name":"Default",
            "bgBody":"858588",
            "link":"008A9E",
            "color":"000000",
            "bgItem":"ffffff",
            "title":"E80000"
        }
    </script>
</head>
<body style="margin:0;">
<table align='center' cellpadding="0" cellspacing="0" border="0" width="100%" class="bgBody">
  <tr>
    <td>
      <table  cellpadding="0" cellspacing="0" border="0" width="600" align='center'>
        <tr>
          <td class='movableContentContainer' align='center'>
            
            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <div class='contentEditableContainer contentTextEditable'>
                      <div class="contentEditable">
                        <p align="center" style="color:#ffffff">
                          Having trouble seeing the email? <a target='_blank' href="[SHOWEMAIL]" style="color:#e2fafa">Open it in a browser window</a>
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background: #464449;'>
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class="contentEditable">
                        <img data-default="placeholder" src="images/header.jpg" width="560" data-max-width="600" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background: #464449;'>
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="3"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">The Stars and Stripes</h2>
                              <p style="text-align:left;"><em>"Resolved, that the flag of the United States be thirteen stripes, alternate red and white; that the union be thirteen stars, white in a blue field representing a new constellation."</em><br>
                                  - Resolution adopted by the  Marine Committee of the Second Continental Congress on June 14, 1777.</p>
                              <p style="text-align:left;">However, there were no instructions as to how the stars where to be placed, wich is why initially, the flags had the stars in several different formations.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read more </a></p>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">Towering Pyramids: Bonfires on July 3rd</h2>
                              <p style="text-align:left;">Before fireworks were mainstream, huge bonfires were built to celebrate Independance day.</p>
                              <p style="text-align:left;">The bonfires reached monumental proportions, but none matched the 100-foot pyramid built for the Gallows Hill bonfire in Salem, MA.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read the article on The Atlantic</a></p>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p1.jpg" width="275" data-max-width="300">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p2.jpg" width="275" data-max-width="300">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                              <h2 style="text-align:left;">As American as Apple Pie</h2>
                              <p style="text-align:left;">One American tradition; two very different ways of preparing it - one of them doesn't even have apples in the ingredients!
                              </p>
                              <p style="text-align:left;">Get the recipes:</p>
                              <p style="text-align:left;">
                                <a target='_blank' class='link2' href="http://www.kraftcanada.com/recipes/ritz-mock-apple-pie-83403" style="padding:10px 20px;font-size:15px;text-decoration:none;">Mock Apple Pie</a>
                              </p>
                              <p style="text-align:left;">
                                <a target='_blank' class='link2' href="http://www.foodnetwork.com/recipes/traditional-apple-pie-recipe.html" style="padding:10px 20px;font-size:15px;text-decoration:none;">Traditional Apple Pie
                                </a>
                              </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="3"></td></tr>
                    <tr>
                      <td colspan="5">
                        <table cellpadding="0" cellspacing="0" border="0" width="560" align="center">
                          <tr>
                            <td>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                  <h2 style="text-align:left;">Pictures from July 4<sup>th</sup>, [DATE|-31556926|Y]</h2>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p1.jpg" width="270" data-max-width="270">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p2.jpg" width="270" data-max-width="270">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p3.jpg" width="270" data-max-width="270">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p4.jpg" width="270" data-max-width="270">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="3"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <table width="560" cellpadding="0" cellspacing="0" align="center" border="0">
                          <tr>
                            <td valign="top" width="560" style="padding-bottom: 10px;">
                                <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                        <h2 style="text-align:left;">Come and visit!</h2>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align='center' width="560" style="padding-bottom: 20px;">
                                <div class="contentGmapEditable contentEditableContainer">
                                    <div class="contentEditable">
                                        <img data-default="placeholder" src="images/map.jpg" width="560" alt="[CLIENTS.ADDRESS]">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">

                                        <p style="text-align:left;">Come see us at [CLIENTS.ADDRESS] or give us a all at [CLIENTS.PHONE].</p>
                                        <p style="text-align:right;"><a target='_blank' href="#" class='link2'>Get Directions</a></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </table>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            
            <div class='movableContent'>
                <table cellspacing="0" cellpadding="0" border="0" width='600'>
                  <tr><td height="20"></td></tr>
                  <tr>
                      <td>
                          <table align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="padding-top: 7px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px; line-height: 150%; background: #464449;text-decoration:none;">
                              <tr><td height='20'></td></tr>
                              <tr>
                                  <td align="center">
                                      <table align="center" cellpadding="0" cellspacing="0" width="600"  >
                                          <tr>
                                              <td>
                                                  <table align="center" cellpadding="0" cellspacing="0" width="600"  >
                                                      <tr>
                                                          <td width='20'></td>
                                                          <td align="left" width='50'>
                                                              <div class="contentEditableContainer contentImageEditable">
                                                                  <div class="contentEditable" style="text-align:left;">
                                                                      <a target='_blank' href="[CLIENTS.WEBSITE]"><img data-default="placeholder" src="images/logo.png" alt="[CLIENTS.COMPANY_NAME]" width="50" data-max-width="50" ></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td width='10'></td>
                                                          <td width="500" align="left">
                                                              <div class="contentEditableContainer contentTextEditable">
                                                                  <div class="contentEditable" style="text-align:left;">
                                                                      <p style="color: #ffffff; text-align: left; font-size: 20px; line-height: 150%;">[CLIENTS.COMPANY_NAME]</p>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td width='20'></td>
                                                      </tr>
                                                  </table>
                                              </td>
                                          </tr>
                                          <tr><td height='20'></td></tr>
                                          <tr>
                                              <td>
                                                  <table align="center" cellpadding="0" cellspacing="0" width="600" >
                                                      <tr>
                                                          <td width='20'></td>
                                                          <td width='351'>
                                                              <div class="contentEditableContainer contentTextEditable">
                                                                  <div class="contentEditable" style="text-align:left;">
                                                                      <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">[CLIENTS.ADDRESS]</p>
                                                                      <p style="color: #47C0D1; text-align: left; font-size: 11px; line-height: 150%;"><a target='_blank' href="[CLIENTS.WEBSITE]" style="text-decoration:none;; color: #47C0D1;">[CLIENTS.WEBSITE]</a>&nbsp;|&nbsp;<a target='_blank' href="mailto:[SENDER_EMAIL]" style="text-decoration:none; color: #47C0D1;">[SENDER_EMAIL]</a></p>
                                                                      <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">Call us: [CLIENTS.PHONE]</p>
                                                                      <p >
                            <a target='_blank' href="[FORWARD]" style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">Forward to a friend</a></p>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td width='20'></td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentTwitterEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="http://twitter.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteTweet.png" title="Follow us on Twitter" width="20" data-customIcon="true" data-max-width='20'></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentFacebookEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="http://facebook.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitebook.png" title="Like us on Facebook" width="20" data-customIcon="true" data-max-width='20'></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="https://plus.google.com/" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePlus.png" title="Google plus" width="20" ></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="http://pinterest.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePin.png" title="See who we're pinning" width="20" ></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="http://tumblr.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteCam.png" title="Follow us on Tumblr" width="20" ></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="http://youtube.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteTube.png" title="Follow us on Tumblr" width="20" ></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td align="right" width="27" valign="top">
                                                              <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
                                                                  <div class="contentEditable">
                                                                      <a target='_blank' href="#" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteRss.png" title="Get the latest blog posts" width="20" ></a>
                                                                  </div>
                                                              </div>
                                                          </td>
                                                          <td width='20'></td>
                                                      </tr>
                                                  </table>
                                              </td>
                                          </tr>
                                          <tr><td height='20'></td></tr>
                                          <tr>
                                            <td>                                          
                                              <table cellpadding="0" cellspacing="0" border="0" width="600">
                                                  <tr>
                                                      <td width='20'></td>
                                                      <td  align="left" width='560'>
                                                          <div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
                                                              <div class="contentEditable">
                                                                  <p style="color: #ffffff; text-align: left; font-size: 11px; line-height: 150%;">This email was sent to [email] because you signed up when you visited our website. <a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:none; color: #47C0D1;">Click here</a> to unsubscribe.</p>
                                                              </div>
                                                          </div>
                                                      </td>
                                                      <td width='20'></td>
                                                  </tr>
                                              </table>
                                            </td>  
                                          </tr>
                                          <tr><td height='20'></td></tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr><td height="20"><td></tr>
                </table>
              </div>


          </td>
        </tr>
      </table>
    </td>
  </tr>        
</table> 
    <!--Default Zone

    <div class="customZone" data-type="image">
        <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background: #464449;'>
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class="contentEditable">
                        <img data-default="placeholder" src="images/header.jpg" width="560" data-max-width="600" style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background: #464449;'>
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
    </div>

    <div class="customZone" data-type="text">
       <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="3"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">The Stars and Stripes</h2>
                              <p style="text-align:left;"><em>"Resolved, that the flag of the United States be thirteen stripes, alternate red and white; that the union be thirteen stars, white in a blue field representing a new constellation."</em><br>
                                  - Resolution adopted by the  Marine Committee of the Second Continental Congress on June 14, 1777.</p>
                              <p style="text-align:left;">However, there were no instructions as to how the stars where to be placed, wich is why initially, the flags had the stars in several different formations.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read more</a></p>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
    </div>

    <div class="customZone" data-type="imageText">
        <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p2.jpg" width="275" data-max-width="300">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                              <h2 style="text-align:left;">As American as Apple Pie</h2>
                              <p style="text-align:left;">One American tradition; two very different ways of preparing it - one of them doesn't even have apples in the ingredients!
                              </p>
                              <p style="text-align:left;">Get the recipes:</p>
                              <p style="text-align:left;">
                                <a target='_blank' class='link2' href="http://www.kraftcanada.com/recipes/ritz-mock-apple-pie-83403" style="padding:10px 20px;font-size:15px;text-decoration:none;">Mock Apple Pie</a>
                              </p>
                              <p style="text-align:left;">
                                <a target='_blank' class='link2' href="http://www.foodnetwork.com/recipes/traditional-apple-pie-recipe.html" style="padding:10px 20px;font-size:15px;text-decoration:none;">Traditional Apple Pie
                                </a>
                              </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
    </div>

    <div class="customZone" data-type="Textimage">
        <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">Towering Pyramids: Bonfires on July 3rd</h2>
                              <p style="text-align:left;">Before fireworks were mainstream, huge bonfires were built to celebrate Independance day.</p>
                              <p style="text-align:left;">The bonfires reached monumental proportions, but none matched the 100-foot pyramid built for the Gallows Hill bonfire in Salem, MA.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read the article on The Atlantic</a></p>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="images/p1.jpg" width="275" data-max-width="300">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
    </div>

    <div class="customZone" data-type="textText">
       <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td width='270'>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">The Stars and Stripes</h2>
                              <p style="text-align:left;"><em>"Resolved, that the flag of the United States be thirteen stripes, alternate red and white; that the union be thirteen stars, white in a blue field representing a new constellation."</em><br>
                                  - Resolution adopted by the  Marine Committee of the Second Continental Congress on June 14, 1777.</p>
                              <p style="text-align:left;">However, there were no instructions as to how the stars where to be placed, wich is why initially, the flags had the stars in several different formations.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read</a></p>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td width='270'>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">The Stars and Stripes</h2>
                              <p style="text-align:left;"><em>"Resolved, that the flag of the United States be thirteen stripes, alternate red and white; that the union be thirteen stars, white in a blue field representing a new constellation."</em><br>
                                  - Resolution adopted by the  Marine Committee of the Second Continental Congress on June 14, 1777.</p>
                              <p style="text-align:left;">However, there were no instructions as to how the stars where to be placed, wich is why initially, the flags had the stars in several different formations.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read more </a></p>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
    </div>

    <div class="customZone" data-type="qrcode">
        <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="5"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td width='75'>
                        <div class='contentEditableContainer contentQrcodeEditable'>
                          <div class="contentEditable">
                            <img data-default="placeholder" src="https://app.cakemail.com/editor_images2/image_bd15a06f/campaigns/3565049/editor_images/image_d2e084b1/template12/qr_code.png" width="75" height="75">
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                              <h2 style="text-align:left;">As American as Apple Pie</h2>
                              <p style="text-align:left;">One American tradition; two very different ways of preparing it - one of them doesn't even have apples in the ingredients!
                              </p>
                              <p style="text-align:left;">Get the recipes:</p>
                              <p style="text-align:left;">
                                <a target='_blank' class='link2' href="http://www.kraftcanada.com/recipes/ritz-mock-apple-pie-83403" style="padding:10px 20px;font-size:15px;text-decoration:none;">Mock Apple Pie</a>
                              </p>
                              <p style="text-align:left;">
                                <a target='_blank' class='link2' href="http://www.foodnetwork.com/recipes/traditional-apple-pie-recipe.html" style="padding:10px 20px;font-size:15px;text-decoration:none;">Traditional Apple Pie
                                </a>
                              </p>
                          </div>
                        </div>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="5"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
    </div>

    <div class="customZone" data-type="gmap">
        <div class='movableContent'>
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" cellpadding="0" cellspacing="0" align="center" class="bgItem" style="border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                    <tr><td height='20' colspan="3"></td></tr>
                    <tr>
                      <td width='20'></td>
                      <td>
                        <table width="560" cellpadding="0" cellspacing="0" align="center" border="0">
                          <tr>
                            <td valign="top" width="560" style="padding-bottom: 10px;">
                                <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                        <h2 style="text-align:left;">Come and visit!</h2>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="560" style="padding-bottom: 20px;">
                                <div class="contentGmapEditable contentEditableContainer">
                                    <div class="contentEditable">
                                        <img data-default="placeholder" src="images/map.jpg" width="560" alt="[CLIENTS.ADDRESS]">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">

                                        <p style="text-align:left;">Come see us at [CLIENTS.ADDRESS] or give us a all at [CLIENTS.PHONE].</p>
                                        <p style="text-align:right;"><a target='_blank' href="#" class='link2'>Get Directions</a></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </table>
                      </td>
                      <td width='20'></td>
                    </tr>
                    <tr><td height='20' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
    </div>  

    <div class="customZone" data-type="social">
        <div class="movableContent bgItem">
            <table cellpadding="0" cellspacing="0" border="0"  class="bgItem" style="padding:5px;">
                <tr>
                    <td width="43" valign="top">
                                                <div class="contentEditableContainer contentTwitterEditable">
                                                    <div class="contentEditable" style='background:#464449;'>
                                                        <img src="images/whiteTweet.png" data-max-width='20' width='20' data-customIcon="true" data-noText="true">
                                                    </div>
                                                </div>
                    </td>
                    <td width="247">
                        <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable">
                                <h3>Twitter</h3>
                                <p>Follow us on twitter to stay up to date with company news and other information.</p>
                            </div>
                        </div>
                    </td>
                    <td width="40"></td>
                    <td width="43" valign="top">
                                             <div class="contentEditableContainer contentFacebookEditable">
                                                    <div class="contentEditable" style='background:#464449;'>
                                                        <img src="images/whiteBook.png" data-max-width='20' width='20' data-customIcon="true" data-noText="true">
                                                    </div>
                                                </div>
                    </td>
                    <td width="247">
                        <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable">
                                <h3>Facebook</h3>
                                <p>Like us on Facebook to keep up with our news, updates and other discussions.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="customZone" data-type="twitter">
        <div class="movableContent bgItem">
            <table cellpadding="0" cellspacing="0" border="0"  class="bgItem" style="padding:5px;">
                <tr>
                    <td width="43" valign="top">
                    <div class="contentEditableContainer contentTwitterEditable">
                                                    <div class="contentEditable" style='background:#464449;'>
                        <img data-default="placeholder" src="images/whiteTweet.png" width="20" data-max-width='20' data-customIcon="true">
                        </div>
                                                </div>
                    </td>
                    <td>
                        <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable">
                                <h3>Twitter</h3>
                                <p>Follow us on twitter to stay up to date with company news and other information.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="customZone" data-type="facebook">
        <div class="movableContent bgItem" >
            <table cellpadding="0" cellspacing="0" border="0"  class="bgItem" style="padding:5px;">
                <tr>
                    <td width="43" valign="top">
                    <div class="contentEditableContainer contentFacebookEditable">
                                                    <div class="contentEditable" style='background:#464449;'>
                        <img data-default="placeholder" src="images/whiteBook.png" width="20" data-max-width='20' data-customIcon="true">
                        </div>
                                                </div>
                    </td>
                    <td>
                        <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable">
                                <h3>Facebook</h3>
                                <p>Like us on Facebook to keep up with our news, updates and other discussions.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="customZone" data-type="line">
        <div class="movableContent bgBody">
            &nbsp;
        </div>
    </div>


  

  <div class="customZone" data-type="colums1v2"><div class='movableContent'>
            <table width="600" cellpadding="0" cellspacing="0" align="center" >
                <tr><td height='20'></td></tr>
                <tr>
                   <td >
                      <table width="600" cellpadding="0" cellspacing="0" align="center" class='bgItem' style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                         <tr><td colspan="3" height='20'></td></tr>
                         <tr>
                            <td width='20'></td>
                            <td class='newcontent'>
                               
                            </td>
                            <td width='20'></td>
                         </tr>
                         <tr><td colspan="3" height='20'></td></tr>
                      </table>
                    </td>
                </tr>
            </table>
      </div></div>

      <div class="customZone" data-type="colums2v2"><div class='movableContent'>
            <table width="600" cellpadding="0" cellspacing="0" align="center" >
                <tr><td height='20'></td></tr>
                <tr>
                   <td >
                      <table width="600" cellpadding="0" cellspacing="0" align="center" class='bgItem' style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                         <tr><td colspan="5" height='20'></td></tr>
                         <tr>
                            <td width='20'></td>
                            <td width='270' class='newcontent'>
                               
                            </td>
                            <td width='20'></td>
                            <td width='270' class='newcontent'>
                               
                            </td>
                            <td width='20'></td>
                         </tr>
                         <tr><td colspan="5" height='20'></td></tr>
                      </table>
                    </td>
                </tr>
            </table>
      </div></div>

      <div class="customZone" data-type="colums3v2"><div class='movableContent'>
            <table width="600" cellpadding="0" cellspacing="0" align="center" >
                <tr><td height='20'></td></tr>
                <tr>
                   <td >
                      <table width="600" cellpadding="0" cellspacing="0" align="center" class='bgItem' style='border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>
                         <tr><td colspan="7" height='20'></td></tr>
                         <tr>
                            <td width='20'></td>
                            <td width='178' class='newcontent'>
                               
                            </td>
                            <td width='12'></td>
                            <td width='178' class='newcontent'>
                               
                            </td>
                            <td width='12'></td>
                            <td width='178' class='newcontent'>
                               
                            </td>
                            <td width='20'></td>
                         </tr>
                         <tr><td colspan="7" height='20'></td></tr>
                      </table>
                    </td>
                </tr>
            </table>
      </div></div>

      <div class="customZone" data-type="textv2">
        <div class='contentEditableContainer contentTextEditable'>
                          <div class="contentEditable">
                            <p>
                              <h2 style="text-align:left;">The Stars and Stripes</h2>
                              <p style="text-align:left;"><em>"Resolved, that the flag of the United States be thirteen stripes, alternate red and white; that the union be thirteen stars, white in a blue field representing a new constellation."</em><br>
                                  - Resolution adopted by the  Marine Committee of the Second Continental Congress on June 14, 1777.</p>
                              <br>
                              <p style='text-align:right;'><a target='_blank' href="#" style='color:#ffffff;' class='button1'>Read more </a></p>
                            </p>
                          </div>
                        </div>      
      </div>




-->


</body></html>