div(id="{$_name}")
	{preview}
	|I AM Preview0
	{/}
	.template(style="display:none")
		div
			table(style="width:600;align:center;border:0;cell-padding:0;cell-spacing:0;margin-top:3%")
		div 
			table(style="text-align:center;padding:5px;background-color:black;color:white;width:100%;height:100px") 
				tr
					td.h1 A
					br
		