div(id="{$_name}")
	{preview}
	|I AM Preview2
	{/}
	.template(style="display:none")
		div
			table(style="width:600;align:center;border:0;cell-padding:0;cell-spacing:0;margin-top:3%")
		div 
			table(style="align:center;padding:5px;width:1000px;height:100px;float:left;background-color:pink;margin-left:13%;margin-right:20%")
				tr
					td B
					td C
					td D