    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>[SUBJECT]</title>
      <style type="text/css">
      body {
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       padding-top: 0 !important;
       padding-bottom: 0 !important;
       margin:0 !important;
       width: 100% !important;
       -webkit-text-size-adjust: 100% !important;
       -ms-text-size-adjust: 100% !important;
       -webkit-font-smoothing: antialiased !important;
     }
     .tableContent img {
       border: 0 !important;
       display: block !important;
       outline: none !important;
     }
     a{
      color:#382F2E;
    }

    p, h1, h2{
      margin:0;
    }

    div,p,ul,h1{
      margin:0;
    }

    .bigger{
      font-size: 24px;
    }
h2{
color:#444444;
font-size:16px;
font-weight:normal;
}
p{
color:#666666;
font-size:13px;
line-height:19px;
font-weight:normal;
}
a{
color:#cf5820;
}
a.link2{
padding:10px 20px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
color:#ffffff;
font-size:13px;
background:#8fa425;
text-decoration:none;
}
a.link3{


}
.bgBody{
background: #333333;
}
.bgItem{
background: #ffffff;
}
ul{
  color:#666666;
  font-size:13px;
  line-height:19px;
  font-weight:normal;
}

    </style>
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"333333",
    "link":"cf5820",
    "color":"555555",
    "bgItem":"ffffff",
    "title":"000000"
  }
</script>
  </head>
  <body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>

      <tr>
        <td >
          <table  width="600" border="0" cellspacing="0" cellpadding="0" align="center">
          
<!-- =============================== Body ====================================== -->
          <tr>
            <td valign='top' class='movableContentContainer'>

               <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr>
                    <td bgcolor='#8fa425'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='28' colspan='4'></td></tr>
                        <tr>
                          <td width='28'></td>

                          <td align='left' valign='middle' >
                             <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                              <div class="contentEditable" >
                                <p style='color:#ffffff;font-size:13px;text-decoration:none;'>[DATE|0|F j, Y]</p>
                              </div>
                            </div>
                          </td>

                          <td align='right' valign='top' >
                            <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                              <div class="contentEditable" >
                                <a target='_blank' href="[SHOWEMAIL]" style='color:#fbe79e;font-size:13px;text-decoration:none'>Open in your browser</a>
                              </div>
                            </div>
                          </td>

                          <td width='28'></td>
                        </tr>
                        <tr><td height='28' colspan='4'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center" class='bgItem'>
                  <tr>
                    <td >
                      <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr>
                          <td height='30' colspan='8'>
                          </td>
                        </tr>
                        
                        <tr>
                          <td width='28'>
                          </td>
                          
                          <td width='55' align='left'>
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/logo.png" alt='Company logo' data-default="placeholder" data-max-width="300" width='55' height='55'>
                              </div>
                            </div>
                            </td>

                          <td width='28'>
                          </td>

                          <td>
                            <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h1 style='color:#444444;font-size:24px;font-weight:normal;'>Company Name</h1>
                                            </div>
                                          </div>
                          </td>

                          <td width='15'></td>

                          <td width='100' align='right'>
                            <div class='contentEditableContainer contentTextEditable'>
                              <div class="contentEditable" valign='middle'>
                                <a target='_blank' href='[FORWARD]' style='font-size:13px;'>Send to a friend</a>
                              </div>
                            </div>
                          </td>

                          <td width='28'>
                          </td>

                        </tr>

                        <tr><td height='30' colspan='6'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr>
                    <td>
                      <div class="contentEditableContainer contentImageEditable">
                        <div class="contentEditable" >
                          <img src="images/big.jpg" alt='Featured image' data-default="placeholder" data-max-width="600" width='600' height='338'>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr>
                    <td bgcolor='#cf5820'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">  
                        <tr><td height='25' colspan='3'></td></tr>

                        <tr>
                          <td width='25'></td>
                          
                          <td>
                            <table width="550" border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='font-size:16px;color:#ffc28e;font-weight:normal;margin:0;'>Hop to Spring</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='10'></td></tr>
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='font-size:13px;color:#ffc28e;margin:0;'>
                                        Spring is a time of renewal, rebirth, and for many of us, chocolate. Use this space to highlight what you'll be doing this Easter.
                                      </p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>

                          <td width='25'></td>
                        </tr>

                        <tr><td height='25' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              
              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td class='bgItem'  width='295' valign='top'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>

                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >Easter Egg Hunts</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >The largest Easter Egg hunt, as recorded by the Guiness Book of World Records, was in Winter Haven, Florida on April 1st, 2007. 501,000 eggs were hunted by more than 9,700 children and their parents.</p>
                                      <p ><br />Why not host your own egg hunt... on a slightly smaller scale?</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link2' style='color:#ffffff;'>Link to event</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>

                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>

                    <td width='10'></td>

                    <td class='bgItem' width='295'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>

                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >DIY Natural Egg Dyes</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Add a teaspoon of vinegar to 2 cups of water and one of the following: </p>
                                      <ul >
                                        <li>2 cups raw beets</li>
                                        <li>2 cups crushed blueberries</li>
                                        <li>1 tsp of tumeric </li>
                                        </ul>
                                        <p >Boil for 10 minutes. Allow to cool and dip your hard boiled eggs in the dye, turning often for an even dye.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' class='link2' style='color:#ffffff;'>See our masterpieces</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>

                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>

                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td width='300' valign='top' class='bgItem'>
                      <div class="contentEditableContainer contentImageEditable">
                        <div class="contentEditable" >
                          <img src="images/med.jpg" alt='product image' data-default="placeholder" data-max-width="300" width='300' height='260'>
                        </div>
                      </div>
                    </td>
                    <td width='300' valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >New for Easter!</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Use this space to promote the details of your spring specials or a new product you're introducing for Easter.</p>
                                      <ul >
                                        <li>Remember to use benefits</li>
                                        <li>Solve your customer's problem</li>
                                        <li>Be fun and friendly</li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='[CLIENTS.WEBSITE]' style='padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#60480d;font-size:13px;background:#ffcd51;text-decoration:none;'>Link to your website</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>

                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td width='300' valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >Spring Specials!</h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p >Use this space to promote the details of your spring specials or a new product you're introducing for Easter.</p>
                                      <ul >
                                        <li>Remember to use benefits</li>
                                        <li>Solve your customer's problem</li>
                                        <li>Be fun and friendly</li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='[CLIENTS.WEBSITE]' style='padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#60480d;font-size:13px;background:#ffcd51;text-decoration:none;'>Link to your website</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                    <td width='300' valign='top' bgcolor='#ffffff'>
                      <div class="contentEditableContainer contentImageEditable">
                        <div class="contentEditable" >
                          <img src="images/med_L.jpg" alt='product image' data-default="placeholder" data-max-width="305" width='305' height='260'>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>

                  <tr>
                    <td valign='top' bgcolor='#cf5820'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td>
                                  <table border="0" cellspacing="0" cellpadding="0"  align="center">
                                    <tr>
                                      <td width='175'><div style='border:1px solid #ffc28e;'></div></td>
                                      <td width='200' style='padding:0 10px;'>
                                        <div class="contentEditableContainer contentTextEditable">
                                          <div class="contentEditable" style='color:#ffc28e;font-size:26px;font-weight:normal;font-family:georgia;text-align:center;'>
                                            <h1 class='bigger'>Frequently Asked Question</h1>
                                          </div>
                                        </div>
                                      </td>
                                      <td width='175'><div style='border:1px solid #ffc28e;'></div></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr><td height='25'></td></tr>
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='color:#ffc28e;font-size:13px;line-height:19px;font-weight:normal;text-align:center;'>This is a great spot to answer a question that people ask often. </p>
                                      <p style='color:#ffc28e;font-size:13px;line-height:19px;font-weight:normal;text-align:center;'>You can also use this space to offer a promotion or seasonal special. </p>
                                      <p style='color:#ffc28e;font-size:13px;line-height:19px;font-weight:normal;text-align:center;'>It’s visually different, so keep it for an important message.</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35'></td></tr>
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" align='center'>
                                      <a target='_blank' href='[CLIENTS.WEBSITE]' style='padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#cf5820;font-size:13px;background:#ffc28e;text-decoration:none;'>Call to action</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>
                  
                  <tr>
                    <td valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h2 >[RSS=http://www.yourwebsite.com/blog/feed/]<a target='_blank' href='[RSS-0-link]' style='color:#444444;font-size:16px;font-weight:normal;text-decoration:none;'>[RSS-0-title]</a></h2>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left' width='330'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='color:#AAAAAA;font-size:13px;line-height:19px;font-weight:normal;'>[RSS-0-description]</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='[RSS-0-link]' style='font-weight:bold;font-size:13px;'>Read More</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='120'></td>
                          <td >
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/blogImg.png" alt='Blog image' data-default="placeholder" data-max-width="100" width='100' height='100'>
                              </div>
                            </div>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='10'></td></tr>
                  
                  <tr>
                    <td valign='top' class='bgItem'>
                      <table border="0" cellspacing="0" cellpadding="0"  align="center">
                        <tr><td height='25' colspan='3'></td></tr>
                        <tr>
                          <td width='25'></td>
                          <td valign='top'>
                            <table border="0" cellspacing="0" cellpadding="0"  align="center">
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <h1 style='color:#444444;font-size:16px;font-weight:normal;'><a target='_blank' href='[RSS-1-link]' style='color:#444444;font-size:16px;font-weight:normal;text-decoration:none;'>[RSS-1-title]</a></h1>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='15'></td></tr>
                              <tr>
                                <td align='left' width='330'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='color:#AAAAAA;font-size:13px;line-height:19px;font-weight:normal;'>[RSS-1-description]</p>[ENDRSS]
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='35px'></td></tr>
                              <tr>
                                <td align='left'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <a target='_blank' href='#' style='font-weight:bold;font-size:13px;'>Read More</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width='120'></td>
                          <td >
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="images/blogImg.png" alt='Blog image' data-default="placeholder" data-max-width="100" width='100' height='100'>
                              </div>
                            </div>
                          </td>
                          <td width='25'></td>
                        </tr>
                        <tr><td height='35' colspan='3'></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>


              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='50'></td></tr>

                  <tr><td  style='border-bottom:1px solid #999999;'></td></tr>

                  <tr><td height='25'></td></tr>

                  <tr>
                    <td valign='top' align='center'>
                      <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable" >
                          <p style='color:#A8B0B6; font-size:13px;line-height: 16px;'>If you no longer wish to receive these emails, you can&nbsp;<a target='_blank' href='[UNSUBSCRIBE]' style='color:#A8B0B6;font-weight:bold;'>click here to unsubscribe</a>.
                          </p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
                  <tr><td height='25'></td></tr>

                  <tr>
                    <td>
                      <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                          <td valign='top' align='left' width='370'>
                            <div class="contentEditableContainer contentTextEditable">
                              <div class="contentEditable" align='center'>
                                <p  style='text-align:left;color:#999999;font-size:12px;font-weight:normal;line-height:20px;'>
                                  <span style='font-weight:bold;'>[CLIENTS.COMPANY_NAME]</span>
                                  <br>
                                  [CLIENTS.ADDRESS]
                                  <br>
                                  <a target='_blank' style='text-align:left;color:#999999;font-size:12px;font-weight:normal;line-height:20px;' href="[FORWARD]">Forward to a friend</a>
                                </p>
                              </div>
                            </div>
                          </td>

                          <td width='30'></td>

                          <td valign='top' width='52'>
                            <div class="contentEditableContainer contentFacebookEditable">
                              <div class="contentEditable">
                                <a target='_blank' href="#"><img src="images/facebook2.png" width='52' height='52' data-customIcon="true"  alt='facebook icon' data-default="placeholder" data-max-width="52"></a>
                              </div>
                            </div>
                          </td>

                          <td width='16'></td>

                          <td valign='top' width='52'>
                            <div class="contentEditableContainer contentTwitterEditable">
                              <div class="contentEditable">
                                <a target='_blank' href="#"><img src="images/twitter2.png" width='52' data-customIcon="true"  height='52' alt='twitter icon' data-default="placeholder" data-max-width="52"></a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

            </td>
          </tr>
<!-- =============================== footer ====================================== -->
          

        </table>
      </td>
    </tr>

    <tr><td height='55'></td></tr>


    </table>

   
      </body>
      </html>
