<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h1,h2,h3,ul,ol,li,div{
  margin:0;
  padding:0;
}

h1,h2{
  font-weight: normal;
  background:transparent !important;
  border:none !important;
}

.contentEditable h2.big{
  font-size: 30px !important;
}

 .contentEditable h2.bigger{
  font-size: 37px !important;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a.link1{
  font-size:15px;
  color:#A38DB3;
  text-decoration:none;
  font-family: Helvetica Neue;
}

.link2{
font-size:14px;
color:#d2176e;
text-decoration:none;
line-height:8px;
font-family: Helvetica;
padding-top:15px;
padding-bottom:15px;
padding-right:20px;
padding-left:20px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.link3{
font-size:13px;
color:#d2176e;
text-decoration:none;
line-height:0px;
font-family: Helvetica;
font-weight: bold;
}

.contentEditable li{
  margin-top:10px;
  margin-bottom:10px;
  list-style: none;
  color:#ffffff;
  text-align:center;
  font-size:13px;
  line-height:19px;
}

.appart p{
  font-size:13px;
  line-height:19px;
  color:#aaaaaa !important;
}

p{

}


</style>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, sans-serif;
background: #2a283e;
background: -moz-linear-gradient(top, #432955 2%, #2a283e 15%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#432955), color-stop(15%,#2a283e));
background: -webkit-linear-gradient(top, #432955 2%,#2a283e 15%);
background: -o-linear-gradient(top, #432955 2%,#2a283e 15%);
background: -ms-linear-gradient(top, #432955 2%,#2a283e 15%);
background: linear-gradient(to bottom, #432955 2%,#2a283e 15%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#432955", endColorstr="#2a283e",GradientType=0 );'>
    <!-- =============== START HEADER =============== -->
    
  <tr>
    <td align='center' class="bgItem">
      <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" >
        
 <!-- =============== END HEADER =============== -->
          <!-- =============== START BODY =============== -->

        <tr>
          <td align='center' class='movableContentContainer'>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20' colspan="3"></td></tr>
                <tr>
                  <td>
                    <div class="contentEditableContainer contentImageEditable">
                      <div class="contentEditable" align='left'>
                        <img src="imgs/logo.png" alt='logo' data-default="placeholder"  width='64' height='74' >
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" align='left' style='color:#DBCDE6;font-size:21px;'>
                        <p style='line-height: 70px;'>
                          Company Name
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="contentEditableContainer contentTextEditable" >
                      <div class="contentEditable" align='right'>
                        <a target='_blank' href="[SHOWEMAIL]" class='link1' style='line-height: 70px;'>Open in your browser</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td height='20' colspan="3"></td></tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td bgcolor="#04518b" style='border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;'>
                    <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" >
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentImageEditable'>
                            <div class='contentEditable'>
                              <img src="imgs/bigImg.png" alt='header' data-default="placeholder" data-max-width='580' width='580' height='262' >
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='20'></td></tr>
                      <tr>
                        <td align='center'>
                          <table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                              <td width='500'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable' style='font-size:15px;line-height:24px;color:#ADD8FB;'>
                                    <p>
                                      Hi [Name],
                                      <br><br>
                                      When it comes time to recharging the batteries after the long, winter season, it’s nice to know that there are just as many getaway options as there are travellers. Whether you’re looking for a quiet beach spot or somewhere to let your hair down and dance into the wee hours, we’ve got you covered with our quick-reference Spring Break Guide below.
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr><td height='20'></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent' >
              <table width="580" border="0" cellspacing="0" cellpadding="0">
                <tr><td height='20'></td></tr>
                <tr>
                  <td bgcolor="#2175B8" align='center' style='border-top-left-radius: 12px; border-top-right-radius: 12px;'>
                    <table width="280" border="0" cellspacing="0" cellpadding="0" >
                      <tr><td height='30'></td></tr>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-family: Georgia;font-size:20px;line-height:36px;font-style:italic;color:#E1F2FF;text-align: center;'>
                              <p>
                                What kind of getaway are you in for this spring break?
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='30'></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
              
            </div>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#1AA1D8">
                <tr>
                  <td width='163' align='left' valign="top">
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class='contentEditable' >
                        <img src="imgs/treeBike.png" alt='header' data-default="placeholder" data-max-width='163' width='163' height='314' >
                      </div>
                    </div>
                  </td>
                  <td width='22'></td>
                  <td width='355'>
                    <table width="355" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr><td height='50'></td></tr>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-size:15px;line-height:22px;color:#AFE8FF;'>
                              <h2 style='color:#0078A9;font-size: 32px;line-height: 36px;font-weight: bold;'>THE ESCAPIST</h2><br>
                              <p>
                                Escapists travel solo or in pairs, but if there’s one thing that soothes their soul it’s the serenity of a quiet spot. Everyone knows Brazil is a fabulous destination for beach resorts, mardi gras parties and adventure, but it also has some of the world’s best hidden gems. Fernando de Noronha, Brazil is definitely one of them offersing stunning natural vistas, beautiful beaches, excellent surfing and the kind of tranquility the true escapist craves.
                              </p><br><br>
                              <a target='_blank' href="#" class='link2' style='background-color:#006087;color:#ffffff;'>Hello World</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='40'></td>
                </tr>
                <tr><td height='65' colspan="4"></td></tr>
              </table>
            </div>

            <div class='movableContent' >
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#4FD9BE">
                <tr>
                  <td width='40'></td>
                  <td width='295'>
                    <table width="295" border="0" cellspacing="0" cellpadding="0" align="center">
                      <td height='50'></td>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-size:15px;line-height:22px;color:#E3FFFA;'>
                              <h2 style='color:#1A9E84;font-size: 32px;line-height: 36px;font-weight: bold;'>THE ADVENTURER</h2><br>
                              <p>
                                Escapists travel solo or in pairs, but if there’s one thing that soothes their soul it’s the serenity of a quiet spot. Everyone knows Brazil is a fabulous destination for beach resorts, mardi gras parties and adventure, but it also has some of the world’s best hidden gems. Fernando de Noronha, Brazil is definitely one of them offersing stunning natural vistas, beautiful beaches, excellent surfing and the kind of tranquility the true escapist craves.
                              </p><br><br>
                              <a target='_blank' href="#" class='link2' style='background-color:#0E806A;color:#ffffff;'>Hello World</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='6'></td>
                  <td width='239' valign="middle" style='vertical-align: middle' align='right'>
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class='contentEditable' >
                        <img src="imgs/diving.png" alt='header' data-default="placeholder" data-max-width='239' width='239' height='265' >
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td height='65' colspan="4"></td></tr>
              </table>
            </div>

            <div class='movableContent' >
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#F4C242" style='border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;'>
                <tr>
                  <td width='180' valign='bottom' align='left' style='vertical-align: bottom;' rowspan="2">
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class='contentEditable' >
                        <img src="imgs/boat.png" alt='header' data-default="placeholder" data-max-width='180' width='180' height='189' >
                      </div>
                    </div> 
                  </td>
                  <td width='35'></td>
                  <td width='325'>
                    <table width="325" border="0" cellspacing="0" cellpadding="0" align="center">
                      <td height='50'></td>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-size:15px;line-height:22px;color:#FFF6E0;'>
                              <h2 style='color:#BB8B12;font-size: 32px;line-height: 36px;font-weight: bold;'>THE PARTY ANIMAL</h2><br>
                              <p>
                                No spring break would be complete without an epic party that meets the discerning standards of the Party Animal. And what better time of year to make that happen than during Mardi Gras? The options are many, but the cost, convenience and enchanting charm of New Orleans are hard to beat. From parade floats in the French Quarter to some of the best music and musicians the world around, New Orleans is our vote for an unforgettable Mardi Gras Spring Break.
                              </p><br><br>
                              <a target='_blank' href="#" class='link2' style='background-color:#A07506;color:#ffffff;'>Hello World</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='40'></td>
                </tr>
                <tr><td height='65' colspan="3"></td></tr>
              </table>
            </div>


            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td align="center">
                    <table bgcolor="#3A3854" width="580" border="0" cellspacing="0" cellpadding="0" align="center" style='border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top-left-radius: 12px; border-top-right-radius: 12px;'>
                      <tr><td height='28' colspan="3"></td></tr>
                      <tr>
                        <td width='40'></td>
                        <td width='500'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-family: Georgia;line-height:24px;font-style:italic;color:#E1F2FF;text-align: center;'>
                              <h2 style='font-size: 20px;'>
                                What kind of getaway are you in for this spring break?
                              </h2>
                            </div>
                          </div>
                          <br>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-size:15px;line-height:24px;color:#B5B2D9;text-align:center;'>
                              <p>
                               When it comes time to recharging the batteries after the long, winter season, it’s nice to know that there are just as many getaway options as there are travellers.
                              </p>
                            </div>
                          </div>
                        </td>
                        <td width='40'></td>
                      </tr>
                      <tr><td height='28' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div> 

            <div class='movableContent'>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr><td height='20'></td></tr>
              <tr>
                <td align="center">
                  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#773974" style='border-top-left-radius: 12px; border-top-right-radius: 12px;'>
                    <tr><td height='55' colspan="3"></td></tr>
                    <tr>
                      <td width='35'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class='contentEditable' style='font-size:15px;line-height:22px;color:#F6E1F5;'>
                            <p>
                              So there you have it – our quick-reference Spring Break Guide for helping you make sure that your travel option is right for you. And what a great opportunity to connect with your customers with a similar seasonal email campaign!
                              
                            </p>
                          </div>
                        </div>
                      </td>
                      <td width='35'></td>
                    </tr>
                    <tr><td height='55' colspan="3"></td></tr>
                  </table>
                </td>
              </tr>
            </table>
            </div>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  bgcolor="#954C91" style='border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;'>
                <tr><td height='40' colspan="3"></td></tr>
                <tr>
                  <td width='35'></td>
                  <td align="center">
                    <div class='contentEditableContainer contentTextEditable'>
                      <div class='contentEditable' style='font-size:26px;line-height:36px;color:#F6E1F5;font-family: Georgia;font-style: italic;text-align: center;'>
                        <p>
                          Bon voyage!
                        </p>
                      </div>
                    </div>
                  </td>
                  <td width='35'></td>
                </tr>
                <tr><td height='40' colspan="3"></td></tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td align="center">
                    <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#3A3854" style='border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top-left-radius: 12px; border-top-right-radius: 12px;'>
                      <tr>
                        <td height='28' colspan="3"></td>
                        <td width='65' rowspan="3" valign="middle" style='vertical-align: middle;'>
                          <div class='contentEditableContainer contentFacebookEditable'>
                            <div class='contentEditable'>
                              <img src="imgs/facebook.png" data-default="placeholder" data-max-width="65" width='65' height='65' alt='facebook' data-customIcon="true">
                            </div>
                          </div>
                        </td>
                        <td width='5' rowspan="3"></td>
                        <td width='65' rowspan="3" valign="middle" style='vertical-align: middle;'>
                          <div class='contentEditableContainer contentTwitterEditable'>
                            <div class='contentEditable'>
                              <img src="imgs/twitter.png" data-default="placeholder" data-max-width="65" width='65' height='65' alt='twitter' data-customIcon="true">
                            </div>
                          </div>
                        </td>
                        <td width='15' rowspan="3"></td>
                      </tr>
                      <tr>
                        <td width='15'></td>
                        <td width='375'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='font-size:13px;line-height:19px;color:#B5B2D9;'>
                              <p>
                                Travel with us
                              </p>
                            </div>
                          </div>
                        </td>
                        <td width='40'></td>                
                      </tr>
                      <tr><td height='28' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table>
              <tr><td height='35' colspan="3"></td></tr>
                <tr>
                  <td width='20'></td>
                  <td align="center">
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#7A779A;text-align:center;font-size:13px;line-height:19px;'>
                        <p>Sent by [SENDER_NAME] <br>
                          [CLIENTS.ADDRESS] <br>
                          [CLIENTS.PHONE] <br>
                          <a target='_blank' href="[FORWARD]" style='color:#7A779A;text-align:center;font-size:13px;line-height:19px;text-decoration: none;'>Forward to a friend</a> <br>
                          <a target='_blank' href="[UNSUBSCRIBE]" style='color:#7A779A;text-align:center;font-size:13px;line-height:19px;text-decoration: none;'>Unsubscribe</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td width='20'></td>
                </tr>
                <tr><td height='20' colspan="3"></td></tr>
              </table>
            </div>


          </td>
        </tr>
  
<!-- =============== END FOOTER =============== -->
      </table>
    </td>
  </tr>
</table>


  </body>
  </html>
