<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>[SUBJECT]</title>

<style type="text/css">
  body, .bgBody {background: url('bg.png') repeat top left #e7e7cc; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:14px; line-height:160%; color:#444;}
  div {line-height:18px;}
  p {margin-bottom:10px; margin-top:0; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:14px; line-height:160%; color:#444;}
  a {color:#cd2222;text-decoration:none;}
  h2 {margin-top:0; color:#ff830a; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:20px; font-weight:normal; }
  .bgItem{background:#f6f6ee;}
  a.link2{
padding:7px 9px;
color:#fffefb;
background:#ffb005;
text-decoration:none;
font-size:14px;
border-radius:30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;
  }
  div{
    display:inline-block !important;
  }
</style>

<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"fff1cc",
    "link":"fffefb",
    "color":"222222",
    "bgItem":"f6f6ee",
    "title":"ff830a"
  }
</script>

</head>

<body style="margin:0;">

  <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" class="bgBody">
    <tbody>
      <tr>
        <td align="center">

          <!--content starting-->
          <table cellpadding="0" cellspacing="0" width="600" border="0">

            <tbody>
              

              
              <!--Body--> 

              <tr>
                <td class="bgItem" align="center" width='600' bgcolor="#f6f6ee">
                  <table cellpadding="0" cellspacing="0" width="600" border="0">
                    <tbody>
                      <tr>
                        <td class='movableContentContainer' align="center" style='text-align:center;'>

                        <div class="movableContent">
                          <table cellpadding="0" cellspacing="0" border="0" width='600' class='bgBody'>
                            <tr>
                              <td align="center">
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable">
                                    <p style="color:#494528;font-size:12px;font-family:'Trebuchet MS', Helvetica, sans-serif">❂ Join us for our Cinco de Mayo celebration ❂<br><a target='_blank' href="[SHOWEMAIL]" style='color:#47cd99;'>Open in Browser</a>&nbsp;❂&nbsp;<a target='_blank' href="[UNSUBSCRIBE]" style='color:#47cd99;'> Unsubscribe</a>&nbsp;❂&nbsp;<a target='_blank' style='color:#47cd99;' href="[FORWARD]">Forward to a friend</a></p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>

                        <div class="movableContent">
                          <table cellpadding="0" cellspacing="0" border="0" width='600' class='bgBody'>
                            <tr>
                              <td align="center">    
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable" style="text-align:center;">
                                    <img src="imgs/featuredImage.png" data-default="placeholder" width="600" height="100" data-max-width="600">
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>

                          <!-- Image + text -->
                          <div class="movableContent">
                            <table cellpadding="0" cellspacing="0" border="0" width='540'>
                              <tbody>
                                <tr><td height='40' colspan="3"></td></tr>
                                <tr>
                                  <td valign="top">
                                    <!--Calendar: Needs a table. If you type in the date, many email clients will allow you to add it to your calendar-->
                                    <table width="175" cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <!-- Top portion of calendar-->
                                        <tr style='padding:0;margin:0;line-height:0px;'>
                                          <td colspan="3" style='padding:0;margin:0;line-height:0px;'>
                                            <div class="contentEditableContainer contentImageEditable" style='padding:0;margin:0;line-height:0px;'>
                                              <div class="contentEditable" style='padding:0;margin:0;line-height:0px;'>
                                                <img src="imgs/top.png" width="175" data-default="placeholder">  
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <!-- Middle of calendar with empty area in middle. You can use the Numbers.zip available at http://templates.cakemail.com/zips/cinodemayo.zip-->
                                        <tr style='padding:0;margin:0;line-height:0px;'>
                                          <td width="11" style='padding:0;margin:0;line-height:0px;'>
                                            <div class="contentEditableContainer contentImageEditable" style='padding:0;margin:0;line-height:0px;'>
                                              <div class="contentEditable" style='padding:0;margin:0;line-height:0px;'>
                                                <img src="imgs/left.png" width="11" height="115" data-default="placeholder">
                                              </div>
                                            </div>
                                          </td>
                                          <td width="153" height"115" style='padding:0;margin:0;line-height:0px;'>
                                            <div class="contentEditableContainer contentTextEditable" style='padding:0;margin:0;line-height:0px;'>
                                              <div class="contentEditable" style='padding:0;margin:0;line-height:0px;'>
                                                <h2 style="text-align: center;font-family:'Trebuchet MS', Helvetica, sans-serif;line-height: 22px;">Join us <br> May 5, [DATE|0|Y]</h2>
                                              </div>
                                            </div>
                                          </td>
                                          <td width="11" style='padding:0;margin:0;line-height:0px;'>
                                            <div class="contentEditableContainer contentImageEditable" style='padding:0;margin:0;line-height:0px;'>
                                              <div class="contentEditable" style='padding:0;margin:0;line-height:0px;'>
                                                <img src="imgs/right.png" width="11" height="115" data-default="placeholder">
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <tr style='padding:0;margin:0;line-height:0px;'>
                                          <td colspan="3" style='padding:0;margin:0;line-height:0px;'>
                                            <div class="contentEditableContainer contentImageEditable" style='padding:0;margin:0;line-height:0px;'>
                                              <div class="contentEditable" style='padding:0;margin:0;line-height:0px;'>
                                                <img src="imgs/bottom.png" width="175" data-default="placeholder">
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width='20'></td>
                                  <td valign="top" >
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable">
                                        <h2 style="text-align: left;">Save the date!</h2>
                                        <p style="text-align: left;">Set the date and send a “Save the date” note to your list of contacts who've opted in to receive your emails. Send it out as soon as you can, ideally, 6 to 8 weeks before the event.</p>
                                        <p style="text-align:right;margin:0;font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:14px; line-height:36px;color:#222"><a target='_blank' href="#" class='link2'>Register to the event</a></p>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        <!-- END Image + text -->

                        <!-- Text only -->
                          <div class="movableContent">
                            <table cellpadding="0" cellspacing="0" border="0" width='540'>
                              <tr><td height='40'></td></tr>
                              <tr>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable" >
                                    <div class="contentEditable">
                                      <h2 style="text-align: left;">Tell people what they can expect </h2>
                                      <p style="text-align: left;">On the weeks leading up to the event, generate a buzz around your event by sharing the details.</p>
                                      <ul style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:14px; line-height:160%; color:#222;">
                                        <li>If it’s a trade show, name drop a little by sharing some of the exhibitors and who the keynote speaker will be. </li>
                                        <li>Give the agenda or the schedule for the days and how they’ll be laid out.</li>
                                        <li>As soon as possible, tell people the venue and inform them of any off-site events planned at the same time - while some people may not be able to justify going to one event, complimentary events ongoing at the same time can help drive attendance.</li>
                                      </ul>
                                      <p style="text-align:right;margin:0;font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:14px; line-height:36px;color:#222"><a target='_blank' href="#" class='link2'>Register to the event</a></p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>
                      <!-- END Text only -->

                          <div class="movableContent">
                            <table cellpadding="0" cellspacing="0" border="0" width='540'>
                              <tr><td colspan="3" height='40'></td></tr>
                              <tr>
                                <td valign="top" width="200">
                                  <div class="contentEditableContainer contentImageEditable">
                                    <div class="contentEditable">
                                      <img src="imgs/placeholders_3.png" width="175" data-default="placeholder">
                                    </div>
                                  </div>
                                </td>
                                <td width='20'></td>
                                <td valign="top" width="340">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                      <h2 style="text-align: left;">Out of town?</h2>
                                      <p style="text-align: left;">Make the recommended accommodations clear and easy to book.</p>
                                      <p style="text-align:left;">All an attendee should have to do is click on a button to go on a landing page you created specifically for this purpose, or call someone to book his room.</p>
                                      <p style="text-align:right;margin:0;font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:14px; line-height:36px;color:#222"><a target='_blank' href="#" class='link2'>Book your room</a></p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>


                          <div class="movableContent">
                            <table cellpadding="0" cellspacing="0" border="0" width='540'>
                              <tr><td height="40" colspan="3"></td></tr>
                              <tr>
                                <td valign="top" >
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                      <h2 style="text-align: left;">Make registration easy</h2>
                                      <p style="text-align: left;">It should be the main call to action of every email you send. Keep it easy to find; ideally on the top right corner of your email.
                                      </p>
                                       <p style="text-align: left;">
                                      Create a link to either a landing page where people can sign up or an email address where people can RSVP.
                                      </p>
                                      <p style="text-align:left;margin:0;font-family:'Trebuchet MS', Helvetica, sans-serif;font-size:14px; line-height:36px;;color:#222"><a target='_blank' href="#" class='link2'>Register to the event</a>
                                      </p>
                                    </div>
                                  </div>
                                </td>
                                <td width='20'></td>
                                <td valign="top">
                                  <div class="contentEditableContainer contentImageEditable">
                                    <div class="contentEditable">
                                      <img src="imgs/placeholders_2.png" width="175" data-default="placeholder">
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>

                          <div class="movableContent">
                            <div>
                              <table cellpadding="0" width='540' cellspacing="0" border="0" style="margin-top:10px;">
                                <tbody>
                                <tr><td height='40' colspan="3"></td></tr>
                                <tr>
                                  <td valign="top">
                                    <div class="contentEditableContainer contentGmapEditable">
                                      <div class="contentEditable">
                                        <img src="imgs/placeholders_1.png" width="175" data-default="placeholder">
                                      </div>
                                    </div>
                                  </td>
                                  <td width='20'></td>
                                  <td valign="top" >
                                    <div class="contentEditableContainer contentImageEditable">
                                      <div class="contentEditable">
                                        <h2 style="text-align: left;">Last minute reminders</h2>
                                        <ul style="font-family:'Trebuchet MS', Helvetica, sans-serif; font-size:14px; line-height:160%; color:#222;">
                                          <li>Provide the best routes to get to the venue - are there any roads blocked due to construction?</li>
                                          <li>Tell them about parking and wifi (is it free? do they have to pay?) </li>
                                          <li>Remind them of the schedule</li>
                                        </ul>

                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody></table>
                            </div>
                            <div style="font-size:0;padding-top:10px;padding-bottom:10px;"><img src="imgs/line.png" width="540" height="2"></div>
                          </div>

                          <!-- Twitter + Facebook -->
                          <div class="movableContent">
                              <table cellpadding="0" cellspacing="0" border="0" width='540'>
                                <tbody>
                                <tr><td height='40' colspan="5"></td></tr>
                                <tr>
                                  <td valign="middle" width="62">
                                    <div class="contentEditableContainer contentTwitterEditable">
                                      <div class="contentEditable">
                                        <img src="imgs/twitter.png" alt="Follow us on Twitter" title="Follow us on Twitter" width="42" height="42" data-max-width='42' data-customIcon="true" data-notext="true">
                                      </div>
                                    </div>
                                  </td>
                                  <td width="208">
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable">
                                        <p style="text-align: left;">Share event news with the #Event hashtag! </p>
                                      </div>
                                    </div>
                                  </td>
                                  <td width='20'></td>
                                  <td valign="top" width="62" >
                                    <div class="contentEditableContainer contentFacebookEditable">
                                      <div class="contentEditable">
                                        <img src="imgs/facebook.png" width="42" height="42" data-max-width='42' data-customIcon="true" data-notext="true">
                                      </div>
                                    </div>
                                  </td>
                                  <td width="208">
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable">
                                        <p style="text-align: left;">Register to the event on Facebook.</p>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody></table>
                          </div>
                                  <!-- .Twitter + Facebook -->


                          <div class="movableContent">
                            <table cellpadding="0" cellspacing="0" border="0" width='600' >
                             <tr><td height='40'></td></tr>
                              <tr>
                                <td class='bgBody'>
                                  <div>
                                    <div style="font-size:0px;line-height:0px;">
                                      <div class="contentEditableContainer contentImageEditable">
                                        <div class="contentEditable">
                                          <img src="imgs/footer.png" width="600" height='30' data-default="placeholder" data-max-width="580">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>

                           <div class="movableContent">
                            <table cellpadding="0" cellspacing="0" border="0" width='600' class='bgBody'>
                              <!-- Company Name -->
                              <tr>
                                <td>
                                  <div class="customZone" data-type="Textimage">
                                    <div class="movableContent">
                                      <div>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                          <tr>
                                            <td colspan="4" height="15">
                                            </td>
                                          </tr>
                                          <tr>
                                           <td valign="middle" width="50">
                                            <div class="contentEditableContainer contentImageEditable">
                                              <div class="contentEditable">
                                                <img src="imgs/logo.png" width="50" data-default="placeholder">
                                              </div>
                                            </div>
                                          </td>
                                          <td width="10"></td>
                                          <td valign="middle" style="padding-left: 10px;padding-right:10px" width="300">
                                            <div class="contentEditableContainer contentTextEditable">
                                              <div class="contentEditable">
                                                <span style="font-size:18px;font-family:'Trebuchet MS', Helvetica, sans-serif;line-height:160%; text-align: left;">[CLIENTS.COMPANY_NAME]</span><br>
                                                <span style="font-size:11px;font-family:'Trebuchet MS', Helvetica, sans-serif;line-height:160%; text-align: left;">[CLIENTS.ADDRESS]</span>
                                              </div>
                                            </div>
                                          </td>
                                          <td valign="middle" width="240">
                                            <p style="font-size:14px;font-family:'Trebuchet MS', Helvetica, sans-serif;line-height:160%; text-align: right;">
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='color:#cd2222'>Home</a>&nbsp;❂&nbsp;<a target='_blank' style='color:#cd2222' href="#">RSVP</a>&nbsp;❂&nbsp;<a target='_blank' style='color:#cd2222' href="#">Event details</a></p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td colspan="4" height="15">
                                            </td>
                                          </tr>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- .CompanyName -->
                                </td>
                              </tr>
                            </table>
                          </div>


                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
                </td> 
              </tr>
              <!-- FOOTER -->
              <!-- END FOOTER -->

            </tbody>
          </table> <!--table 600px-->
        </td>
      </tr>
    </tbody></table><!--table 100%-->


  <style class="themeEditor">					body,table.bgBody,html, .bgcolor, .bgbody, .bgBody {font-size:16px; background-color:#fff1cc; color:#222222 ;} 					.contentTextEditable .contentEditable, .textcolor,div,td, .bgItem p, p{color:#222222 ;} 					.bgItem a, .bgItem p a, .contentTextEditable a, .contentTextEditable .contentEditable a{ } 					.bgItem , td.bgItem { background:#fffefb ;} 					h2,.contentTextEditable .contentEditable h2, .contentEditable h2{ color:#ff830a !important; font-size:20px;} 				</style></body></html>
