<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
    	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    	<title>[SUBJECT]</title>
    	<style type="text/css">
	    	body {background: #ffffff; font-family: Georgia, serif; margin:0; padding:0;}
	        p {margin-bottom: 15px;margin-top: 0px; padding:0; line-height:150%; color:#1e2d59; font-size:16px; font-family: Georgia, serif; font-weight: normal;}
	        ul {margin-bottom: 15px;margin-top: 0px; padding:0; list-style-type: none;}
	        li {margin: 0px; padding:0; line-height:150%; color:#1e2d59; font-size:13px; font-family: Georgia, serif; font-weight: normal;}
	        a {margin: 0; color:#1e2d59;text-decoration: underline; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 150%; font-weight: bold; font-size: 13px; display: inline-block;}
	        h1 {margin-bottom: 15px;margin-top: 0px; padding:0; line-height:150%; color:#1e2d59; font-size:24px; font-family: Georgia, serif; font-weight: bold; font-style: italic;}
	        h2 {margin-bottom: 24px;margin-top: 24px; padding:0; color:#1e2d59; font-size:18px; font-family: Georgia, serif;font-weight: bold;line-height:150%;}
	        h3 {margin-bottom: 15px;margin-top: 0px; padding:0; color:#1e2d59; font-size:16px; font-family: Georgia, serif;font-weight: bold;line-height:150%;}
	        .bgItem {
	        	background-color:#dff0ed;
	        }
	        .bgBody {
	        	background-color: #FFFFFF;
	        }
        </style>
        <script type="colorScheme" class="swatch active">
        {
          "name":"Default",
          "bgBody":"FFFFFF",
          "link":"2E4486",
          "color":"1e2d59",
          "bgItem":"dff0ed",
          "title":"02462C"
        }
      </script>
	</head>

	<body>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="bgBody" valign="top">
			<!-- MASTER TABLE; controls the movable content container! -->
		  	<tr>
		    	<td align="center" class="movableContentContainer">               
		      	<!-- Header: Preheader -->
		      		<div class="movableContent">
		      	        <table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
		      	            <tbody>
		      	            	<tr>
		      	            		<td align="center" colspan="5" height="10">
		      	                  	</td>
		      	                </tr>
		      	                <tr>
		      	                	<td valign="middle" align="left" width="260">
		      	                    	<div class="contentEditableContainer contentTextEditable">
		      	                    		<div class="contentEditable">
		      	                        		<p style="margin-top: 0px; margin-bottom: 0px; color: #747474; font-size: 12px;">Are you ready for Back to School?</p>
		      	                      		</div>
		      	                    	</div>
		      	                  	</td>
		      	                  	<td width="10">
		      	                  	</td>
		      	                  	<td valign="middle" align="right" width="200">
		      	                    	<div class="contentEditableContainer contentTextEditable">
		      	                    		<div class="contentEditable">
		      	                        		<a target='_blank' href="[SHOWEMAIL]" style="text-align:right; text-decoration:none; color: #747474; font-size: 12px;">
		      	                          		Open in Browser</a>
		      	                      		</div>
		      	                    	</div>
		      	                  	</td>
		      	                  	<td width="10">
		      	                  	</td>
		      	                  	<td width="20" valign="middle">
		      	                    	<div class="contentEditableContainer contentImageEditable">
		      	                      		<div class="contentEditable">
		      	                        		<a target='_blank' href="[SHOWEMAIL]" style="text-align:right;">
		      	                          			<img src="imgs/Browser.png" height="12">
		      	                          		</a>
		      	                      		</div>
		      	                    	</div>
		      	                  	</td>
		      	                </tr>
		      	            </tbody>
		      	        </table>
		      	    </div>
		      	<!-- .Header: Preheader -->

		      	<!-- Featured Image -->        
		      	<div class="movableContent">
		      	    <table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" >
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	      <tr>
		      	        <td style="padding:0;">
		      	          <div class="contentEditableContainer contentImageEditable" >
		      	            <div class="contentEditable">
		      	              <img src="imgs/Header.png" width="500" style='margin:0; padding:0;' data-max-width="500">
		      	            </div>
		      	          </div>
		      	        </td>
		      	      </tr>
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	    </table>
		      	</div>
		      	<!-- END: Featured Image -->

		      	<!-- 2 col: image|header|text|button + header|text|button -->
		      		<div class="movableContent">
		      	        <table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
		      	            <tbody>
		      	            	<!--White Divider-->
		      	            	<tr>
		      	            		<td align="center" colspan="3" height="10px;">
		      	                  	</td>
		      	                </tr>
		      	                <!--.WhiteDivider-->
		      	                <tr>
		      	            		<td align="center">
		      	            			<!--Box 1-->
		      	            			<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" width="300">
		      	            				<!--Top Margin-->
		      	            				<tr>
		      	            					<td colspan="3" height="15">
		      	            					</td>
		      	            				</tr>
		      	            				<!--.Top Margin-->
		      	            				<!--LeftMargin-->
		      	            				<tr>
		      	            					<td width="15">
		      	            					</td>
		      	            				<!--.LeftMargin-->
		      	            				
		      	            				<!--Content-->
		      	            					<td align="center">
		      	            						<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" width="270" height='400' >
					      	            				<!--Image-->
					      	            				<tr>
					      	            					<td align="center">	
							      	            				<div class="contentEditableContainer contentImageEditable" >
							      	            				  <div class="contentEditable">
							      	            				    <img src="imgs/Placeholder_1.png" width="270" style='margin:0; padding:0;' data-max-width="270">
							      	            				  </div>
							      	            				</div>
							      	            			</td>
							      	            		</tr>
					      	            				<!--.Image-->
					      	            				<!--Spacer-->
					      	            				<tr>
					      	            					<td height="15">
					      	            					</td>
					      	            				</tr>
					      	            				<!--.Spacer-->
					      	            				<!--Header-->
					      	            				<tr>
					      	            					<td>
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<h2>News for [DATE|0|F]</h2>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            				<!--.Header-->
					      	            				<!--Text-->
					      	            				<tr>
					      	            					<td>
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<p><em>Swim and Gym</em> will be starting next week. Classes are every Monday, so please make sure to pack your children's swimming gear.</p>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            				<!--.Text-->
					      	            				<!--Spacer-->
					      	            				<tr>
					      	            					<td height="30">
					      	            					</td>
					      	            				</tr>
				      	            					<!--.Spacer-->
					      	            				<!--Button-->
					      	            				<tr>
					      	            					<td align="right">
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<p>
											                            	<a target='_blank' href="#" style="background:#1e2d59;color:#FFFFFF; padding:10px 16px;text-decoration:none; font-size:16px;line-height:150%; font-weight: normal;">See the schedule</a>
											                        	</p>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            				<!--.Button-->
				      	            				</table>
				      	            			</td>
				      	            		<!--.Content-->
				      	            		<!--RightMargin-->
		      	            					<td width="15" >
		      	            					</td>
		      	            				</tr>
		      	            				<!--.RightMargin-->
		      	            				<!--Bottom Margin-->
		      	            				<tr>
		      	            					<td colspan="3" height="15">
		      	            					</td>
		      	            				</tr>
		      	            				<!--.Bottom Margin-->
		      	            			</table>
		      	            			<!--Box1-->
		      	                  	</td>
		      	                  	<!--VerticalSpacer-->
		      	                  	<td width="20" height="350"></td>
		      	                  	<!--VerticalSpacer-->

		      	                  	<td align="center">
		      	                  		<!--Box 2-->
		      	            			<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" width="180">
		      	            				<!--Top Margin-->
		      	            				<tr>
		      	            					<td colspan="3" height="15">
		      	            					</td>
		      	            				</tr>
		      	            				<!--.Top Margin-->
		      	            				<!--LeftMargin-->
		      	            				<tr>
		      	            					<td width="15">
		      	            					</td>
		      	            				<!--.LeftMargin-->
		      	            				
		      	            				<!--Content-->
		      	            					<td align="center">
		      	            						<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" width="150" height="400">
					      	            				<!--Header-->
					      	            				<tr>
					      	            					<td>
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<h2>Supplies </h2>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            				<!--.Header-->
					      	            				<!--Text-->
					      	            				<tr>
					      	            					<td>
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<ul>
							      	            				    		<li>12 No. 2 pencils, sharpened</li>
							      	            				    		<li>3 glue sticks</li>
							      	            				    		<li>2 pencil erasers</li>
							      	            				    		<li>24 markers</li>
							      	            				    		<li>8 crayons</li>
							      	            				    		<li>8 colored pencils</li>
							      	            				    		<li>1 binder</li>
							      	            				    		<li>6 pocket folders</li>
							      	            				    		<li>1 pair of scissors</li>
							      	            				    		<li>1 pencil sharpener with cover</li>
							      	            				    		<li>1 zip-up backpack</li>
							      	            				    		<li>Pencil Box</li>
						      	            				    		</ul>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            				<!--.Text-->
					      	            				<!--Spacer-->
					      	            				<tr>
					      	            					<td height="30">
					      	            					</td>
					      	            				</tr>
				      	            					<!--.Spacer-->
					      	            				<!--Button-->
					      	            				<tr>
					      	            					<td align="right">
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<p>
											                            	<a target='_blank' href="#" style="background:#1e2d59;color:#FFFFFF; padding:10px 16px;text-decoration:none; font-size:16px;line-height:150%; font-weight: normal;">Print the list</a>
											                        	</p>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            				<!--.Button-->
				      	            				</table>
				      	            			</td>
				      	            		<!--.Content-->
				      	            		<!--RightMargin-->
		      	            					<td width="15">
		      	            					</td>
		      	            				</tr>
		      	            				<!--.RightMargin-->
		      	            				<!--Bottom Margin-->
		      	            				<tr>
		      	            					<td colspan="3" height="15">
		      	            					</td>
		      	            				</tr>
		      	            				<!--.Bottom Margin-->
		      	            			</table>
		      	            			<!--.Box2-->
		      	            		</td>

		      	                </tr>
		      	                <tr>
		      	            		<td align="center" height="10px;">
		      	                  	</td>
		      	                </tr>
		      	            </tbody>
		      	        </table>
		      	    </div>
		      	<!-- .2 col: image|header|text|button + header|text|button -->

		      	<!-- Box 3:Coupon -->        
		      	<div class="movableContent">
		      	    <table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" >
		      	      <!--White divider-->
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	      <!--.White Divider-->
		      	      <tr>
		      	        <td style="padding:0;">
		      	          <table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" class="bgItem">
		      	          	<!--Top Margin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</tr>
		      	          	<!--.TopMargin-->
		      	          	<!-- ContentArea-->
		      	          	<tr>
		      	          		<td>
		      	          			<table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0">
		      	          				<tr>
		      	          					<!--Right Margin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--.RightMargin-->
		      	          					<!--CONTENT-->
		      	          					<td width="470" align="center">
		      	          						<table align="center" width="470" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0">
		      	          							<!--Image-->
		      	          							<tr>
		      	          								<td width="470" align="center" >
					      	          						<div class="contentEditableContainer contentImageEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <img src="imgs/coupon.png" style='margin:0; padding:0;' data-max-width="470">
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<!--.Image-->

					      	          				<!--Header-->
					      	          				<tr>
		      	          								<td width="470" align="center" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <h1> 10% off your next purchase!</h1>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<!--.Header-->

					      	          				<!--Paragraph-->
					      	          				<tr>
		      	          								<td width="470" align="center" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <p> Use promo code <em>"PROMO"</em> at check out!</p>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<!--.Paragraph-->

					      	          				<!--Spacer-->
					      	            				<tr>
					      	            					<td height="15">
					      	            					</td>
					      	            				</tr>
				      	            				<!--.Spacer-->

					      	          				<!--Button-->
					      	            				<tr>
					      	            					<td align="center">
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<p>
											                            	<a target='_blank' href="#" style="background:#1e2d59;color:#FFFFFF; padding:10px 16px;text-decoration:none; font-size:16px;line-height:150%; font-weight: normal;">Redeem my code!</a>
											                        	</p>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            			<!--.Button-->

					      	          			</table>
		      	          					</td>
		      	          					<!--.CONTENT-->
		      	          					<!--LeftMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--.LeftMargin-->
		      	          				</tr>
		      	          			</table>
		      	          		</td>
		      	          	</tr>
		      	          	<!--.ContentArea-->
		      	          	<!--BottomMargin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</td>
		      	          	<!--.BottomMargin-->
		      	          </table>
		      	        </td>
		      	      </tr>
		      	      <!--White Divider-->
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	      <!--White Divider-->
		      	    </table>
		      	</div>
		      	<!-- .Box 3:Coupon-->

		      	<!-- 2 col: Image + Text-->
				<div class="movableContent">
		      	    <table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" >
		      	      <!--White divider-->
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	      <!--.WhiteDivider-->
		      	      <tr>
		      	        <td style="padding:0;">
		      	          <!--Box 4-->
		      	          <table align="center" width="240" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" class="bgItem">
		      	          	<!--TopMargin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</tr>
		      	          	<!--.TopMargin-->
		      	          	<!--ContentArea-->
		      	          	<tr>
		      	          		<td>
		      	          			<table align="center" width="240" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" >
		      	          				<tr>
		      	          					<!--LeftMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--.LeftMargin-->
		      	          					
		      	          					<td width="210" align="center">
		      	          						<table align="center" width="210" height="400" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0">
		      	          							<tr>
		      	          								<td width="210" align="center" >
					      	          						<div class="contentEditableContainer contentImageEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <img src="imgs/Placeholder_2.png" style='margin:0; padding:0;' data-max-width="210">
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<tr>
		      	          								<td width="210" height="80" align="left" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						  	<h2>Outing</h2>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<tr>
		      	          								<td width="210" align="left" height="150">
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						  	<p>Please sign and return the permission slips for the outing to the museum that will be held on [DATE|2629743|F j, Y]</p>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<tr>
		      	          								<td width="210" align="right" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						  	<p><a>Get the permission slip</a></p>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          			</table>
		      	          					</td>
		      	          					<!--rightMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--RightMargin-->
		      	          				</tr>
		      	          			</table>
		      	          			
		      	          		</td>
		      	          	</tr>
		      	          	<!--.ContentArea-->
		      	          	<!--BottomMargin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</tr>
		      	          	<!--.BottomMargin-->
		      	          </table>
		      	          <!--.Box 4-->
		      	        </td>

		      	        <td width="20"></td>

		      	        <td>
		      	        <!--Box 5-->
		      	          <table align="center" width="240" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" class="bgItem">
		      	          	<!--TopMargin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</tr>
		      	          	<!--.TopMargin-->
		      	          	<!--ContentArea-->
		      	          	<tr>
		      	          		<td>
		      	          			<table align="center" width="240" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" >
		      	          				<tr>
		      	          					<!--LeftMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--.LeftMargin-->
		      	          					
		      	          					<td width="210" align="center">
		      	          						<table align="center" width="210" height="400" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0">
		      	          							<tr>
		      	          								<td width="210" align="center" >
					      	          						<div class="contentEditableContainer contentImageEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <img src="imgs/Placeholder_3.png" style='margin:0; padding:0;' data-max-width="210">
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<tr>
		      	          								<td width="210" align="left" height="80" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						  	<h2>Science topics</h2>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<tr>
		      	          								<td width="210" height="150" align="left" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						  	<p>This month, we'll be exploring the following magnetism.
					      	          						  	<p>Why not try some experiments at home?</p>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<tr>
		      	          								<td width="210" align="right" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						  	<p>
					      	          						  		<a>See example experiments
						      	          						  	</a>
						      	          						  </p>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          			</table>
		      	          					</td>
		      	          					<!--rightMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--RightMargin-->
		      	          				</tr>
		      	          			</table>
		      	          			
		      	          		</td>
		      	          	</tr>
		      	          	<!--.ContentArea-->
		      	          	<!--BottomMargin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</tr>
		      	          	<!--.BottomMargin-->
		      	          </table>
		      	          <!--.Box 4-->
		      	    	</td>



		      	      </tr>
		      	      <!--WhiteDivider-->
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	       <!--.WhiteDivider-->
		      	    </table>
		      	</div>

		      	<!-- Box 6:Contact -->        
		      	<div class="movableContent">
		      	    <table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" >
		      	      <!--White divider-->
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	      <!--.White Divider-->
		      	      <tr>
		      	        <td style="padding:0;">
		      	          <table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0" class="bgItem">
		      	          	<!--Top Margin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</tr>
		      	          	<!--.TopMargin-->
		      	          	<!-- ContentArea-->
		      	          	<tr>
		      	          		<td>
		      	          			<table align="center" width="500" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0">
		      	          				<tr>
		      	          					<!--LeftMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--.LeftMargin-->
		      	          					<!--CONTENT-->
		      	          					<td width="210" align="center">
		      	          						<div class="contentEditableContainer contentGmapEditable" >
		      	          							<div class="contentEditable">
		      	          								<img src="imgs/map.jpg" />
		      	          							</div>
		      	          						</div>
		      	          					</td>
		      	          					<td width="20"></td>
		      	          					<td width="240" align="left">
		      	          						<table align="left" width="240" cellpadding="0" style='margin:0; border-spacing: 0px;' cellspacing="0" border="0">
					      	          				<!--Header-->
					      	          				<tr>
		      	          								<td width="240" align="left" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <h2>Contact us!</h2>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<!--.Header-->

					      	          				<!--Paragraph-->
					      	          				<tr>
		      	          								<td width="240" align="left" >
					      	          						<div class="contentEditableContainer contentTextEditable" >
					      	          						  <div class="contentEditable">
					      	          						    <p style="font-family: 'Helvetica Neue', Helvetica, Arial; font-weight: bold;">
					      	          						    	[CLIENTS.ADDRESS]
					      	          						    </p>
					      	          						  </div>
					      	          						</div>
					      	          					</td>
					      	          				</tr>
					      	          				<!--.Paragraph-->

					      	          				<!--Spacer-->
					      	            				<tr>
					      	            					<td height="15">
					      	            					</td>
					      	            				</tr>
				      	            				<!--.Spacer-->

					      	          				<!--Link-->
					      	            				<tr>
					      	            					<td width="240" align="right">
						      	            					<div class="contentEditableContainer contentTextEditable">
						      	            						<div class="contentEditable">
						      	            				    		<p>
											                            	<a target='_blank' href="#">Get directions</a>
											                        	</p>
						      	            				  		</div>
						      	            					</div>
						      	            				</td>
						      	            			</tr>
					      	            			<!--.Link-->

					      	          			</table>
		      	          					</td>
		      	          					<!--.CONTENT-->
		      	          					<!--LeftMargin-->
		      	          					<td width="15">
		      	          					</td>
		      	          					<!--.LeftMargin-->
		      	          				</tr>
		      	          			</table>
		      	          		</td>
		      	          	</tr>
		      	          	<!--.ContentArea-->
		      	          	<!--BottomMargin-->
		      	          	<tr>
		      	          		<td height="15">
		      	          		</td>
		      	          	</td>
		      	          	<!--.BottomMargin-->
		      	          </table>
		      	        </td>
		      	      </tr>
		      	      <!--White Divider-->
		      	      <tr>
		      	        <td height="10">
		      	        </td>
		      	      </tr>
		      	      <!--White Divider-->
		      	    </table>
		      	</div>
		      	<!-- .Box 6:Contact-->

		      	<!-- Footer -->
		      		<div class="movableContent">
		      	        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #F2F2F2;">
		      	            <!--WhiteSpacer-->		      	            
		      	            <tr>
		      	            	<td style="background-color: #FFFFFF;" height="10">
		      	            	</td>
		      	            </tr>
		      	            <!--.WhiteSpacer-->
		      	            <!--GreySpacer-->
		      	            <tr>
		      	            	<td height="20">
		      	            	</td>
		      	            </tr>
		      	            <tr>
		      	            	<td align="center">
		      	            		<table align="center" border="0" cellpadding="0" cellspacing="0" width="290" style="background-color: #F2F2F2;">
		      	            			<tr>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentFacebookEditable" >
					      	          				<div class="contentEditable">
					      	          					<img src="imgs/facebook.png" data-max-width="25" data-customIcon="true" width='25'>
					      	          				</div>
					      	          			</div>
					      	          		</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentTwitterEditable" >
					      	          				<div class="contentEditable">
					      	          					<img src="imgs/twitter.png" data-max-width="25" data-customIcon="true" width='25'>
					      	          				</div>
					      	          			</div>
					      	          		</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentImageEditable" >
					      	          				<div class="contentEditable">
					      	          					<img src="imgs/pinterest.png" data-max-width="25" width='25'>
					      	          				</div>
					      	          			</div>
					      	          		</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentImageEditable" >
					      	          				<div class="contentEditable">
					      	          					<img src="imgs/youtube.png" data-max-width="25" width='25'>
					      	          				</div>
					      	          			</div>
					      	          		</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentImageEditable" >
					      	          				<div class="contentEditable">
					      	          					<img src="imgs/instagram.png" data-max-width="25" width='25'>
					      	          				</div>
					      	          			</div>
					      	          		</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentImageEditable" >
					      	          				<div class="contentEditable">
					      	          					<img src="imgs/googleplus.png" data-max-width="25" width='25'>
					      	          				</div>
					      	          			</div>
					      	          		</td>
		      	            			</tr>
		      	            		</table>
		      	            	</td>
		      	        	</tr>
		      	        	<tr>
		      	        		<td height="10">
		      	        		</td>
		      	        	</tr>
		      	        	<tr>
		      	        		<td align="center">
		      	        			<table align="center" border="0" cellpadding="0" cellspacing="0" width="290" style="background-color: #F2F2F2;">
		      	            			<tr>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentTextEditable">
		      	            						<div class="contentEditable">
		      	            							<p>
		      	            								<a target='_blank' href="[CLIENTS.WEBSITE]" style="text-align:center; text-decoration:none; color: #747474; font-size: 12px;">Visit website</a>
		      	            							</p>
		      	            						</div>
		      	            					</div>
		      	            				</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentTextEditable">
		      	            						<div class="contentEditable">
		      	            							<p>
		      	            								<a target='_blank' href="[UNSUBSCRIBE]" style="text-align:center; text-decoration:none; color: #747474; font-size: 12px;">Unsubscribe</a>
		      	            							</p>
		      	            						</div>
		      	            					</div>
		      	            				</td>
		      	            				<td width="20"></td>
		      	            				<td>
		      	            					<div class="contentEditableContainer contentTextEditable">
		      	            						<div class="contentEditable">
		      	            							<p>
		      	            								<a target='_blank' href="[FORWARD]" style="text-align:center; text-decoration:none; color: #747474; font-size: 12px;">Forward to a Friend</a>
		      	            							</p>
		      	            						</div>
		      	            					</div>
		      	            				</td>
		      	            			</tr>
		      	            		</table>
		      	        		</td>
		      	        	</tr>
		      	        	<tr>
		      	        		<td height="20">
		      	        		</td>
		      	        	</tr>
		      	        </table>
		      	    </div>
		      	<!-- .Footer -->
		      		









			  	</td>
			</tr>
		</table>



	</body>
</html>