<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h1,ul,ol,li,div{
  margin:0;
  padding:0;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}
a.link1{
color:#698EC3;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

a.link2{

}

h2{
color:#000000;
font-size:22px;
font-weight: normal;
}

    .bgBody {background:#EAEAEA;}
    .bgItem {background:#ffffff;}

p, li{
 color:#555555;
 font-size:14px;
 line-height:22px;
}
 
 </style>

<script type="colorScheme" class="swatch active">
    {
        "name":"Default",
        "bgBody":"EAEAEA",
        "link":"000000",
        "color":"555555",
        "bgItem":"ffffff",
        "title":"000000"
    }

    </script>

</head>
<body paddingwidth="0" paddingheight="0" class='bgBody'  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:helvetica, sans-serif;'>
    <!-- ================ header=============== -->
    <tr><td height='20' bgcolor='#EAEAEA'></td></tr>
    <tr>

      <td align='center'>

        <table width="600" border="0" cellspacing="0" cellpadding="0" class='bgItem'>
            <!-- ================ END header =============== -->
            <tr>
              <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class='movableContentContainer' align='center'> 
                      <!--  =========================== The body ===========================  -->

                      <div class='movableContent'>
                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                          <tr><td height='45'></td></tr>

                          <tr>
                            <td>
                              <table width="600" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width='20'></td>
                                  <td align='left'>
                                    <div class="contentEditableContainer contentImageEditable">
                                      <div class="contentEditable" >
                                        <img src="images/logo.png" alt='[CLIENTS.COMPANY_NAME]'>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>

                      <div class='movableContent'>
                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                          <tr><td height='45'></td></tr>

                          <tr>
                            <td bgcolor='#3C2D2C'>
                              <table width="600" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width='235'>
                                    <table width='235' border="0" cellspacing="0" cellpadding="0">
                                      <tr><td height='30' colspan='3'></td></tr>
                                      <tr>
                                        <td width='30'></td>
                                        <td width='175'>
                                          <table width='175' border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td>
                                                <div class="contentEditableContainer contentTextEditable">
                                                  <div class="contentEditable" >
                                                    <p style='line-height:30px;font-size:20px;color:#ffffff;'>Happy<br>
                                                      Thanksgiving day,<br>
                                                      [firstname,Pilgrim]!<br>
                                                      <a target='_blank' href="[CLIENTS.WEBSITE]">Visit our website</a></p>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr><td></td></tr>
                                              <tr>
                                                <td>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width='30'></td>
                                        </tr>
                                        <tr><td height='30' colspan='3'></td></tr>
                                      </table>
                                    </td>
                                    <td width='365'>
                                      <div class="contentEditableContainer contentImageEditable">
                                        <div class="contentEditable" >
                                          <img src="images/bigImg.jpg" data-default="placeholder" data-max-width="365" width='365' height='185' alt='Happy Thanksgiving day!'>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                        </table>
                      </div>


                      <div class='movableContent'>
                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                          <tr><td height='38'></td></tr>
                         
                                                 
                          <tr><td height='12'></td></tr>
                          <tr>
                            <td>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <p >Thanksgiving isn’t just about beautifully baked birds and family gatherings.It’s about being grateful for everything that we have. So from all of us at [CLIENTS.COMPANY_NAME], a heartfelt <strong>&quot;Thanks&quot;</strong>.<br>
                                    All the best,<br>
                                    [SENDER_NAME]
                                  </p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='37'></td></tr>
                          <tr><td><div style='border:1px solid #EBE3E3'></div></td></tr>
                        </table>
                      </div>

                      <div class='movableContent'>
                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                          <tr><td height='80'></td></tr>
                          <tr>
                            <td>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <p style='font-size:12px;color:#999999;text-align:center;'>FROM OUR FAMILY TO YOURS</p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='5'></td></tr>
                          <tr>
                            <td>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <p style='color:#000000;font-size:32px;text-align:center;font-weight:bold;'>This Thanksgiving</p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='42'></td></tr>
                        </table>
                      </div>

                      <div class='movableContent'>
                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                          <tr><td height='38'></td></tr>
                          <tr>
                            <td width='176'>
                              <table width="176" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                                <tr><td height='18' colspan='3'></td></tr>
                                <tr>
                                  <td width='18'></td>
                                  <td>
                                    <table width="140" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align='center'>
                                          <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" >
                                              <img src="images/pumpkin.png" data-default="placeholder" data-max-width="365" width='136' height='115' alt='pumpkin'>
                                            </div>
                                          </div>

                                        </td>
                                      </tr>
                                      <tr><td height='30'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h2 style='font-size:14px;font-weight:bold;'>Orange Pumpkin</h2>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='12'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <p style='color:#CB3D00;font-size:18px;font-weight:bold;'>$9.99</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='25'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Buy now</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width='18'></td>
                                </tr>
                                <tr><td height='25' colspan='3'></td></tr>
                              </table>
                            </td>
                            <td width='6'></td>
                            <td width='176'>
                              <table width="176" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                                <tr><td height='18' colspan='3'></td></tr>
                                <tr>
                                  <td width='18'></td>
                                  <td>
                                    <table width="140" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align='center'>
                                          <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" >
                                              <img src="images/pumpkin.png" data-default="placeholder" data-max-width="365" width='136' height='115' alt='pumpkin'>
                                            </div>
                                          </div>

                                        </td>
                                      </tr>
                                      <tr><td height='30'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h2 style='font-size:14px;font-weight:bold;'>Orange Pumpkin</h2>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='12'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <p style='color:#CB3D00;font-size:18px;font-weight:bold;'>$9.99</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='25'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Buy now</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width='18'></td>
                                </tr>
                                <tr><td height='25' colspan='3'></td></tr>
                              </table>
                            </td>
                            <td width='6'></td>
                            <td width='176'>
                              <table width="176" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                                <tr><td height='18' colspan='3'></td></tr>
                                <tr>
                                  <td width='18'></td>
                                  <td>
                                    <table width="140" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align='center'>
                                          <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" >
                                              <img src="images/pumpkin.png" data-default="placeholder" data-max-width="365" width='136' height='115' alt='pumpkin'>
                                            </div>
                                          </div>

                                        </td>
                                      </tr>
                                      <tr><td height='30'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h2 style='font-size:14px;font-weight:bold;'>Orange Pumpkin</h2>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='12'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <p style='color:#CB3D00;font-size:18px;font-weight:bold;'>$9.99</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='25'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Buy now</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width='18'></td>
                                </tr>
                                <tr><td height='25' colspan='3'></td></tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>

                      <div class='movableContent'>
                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                          <tr><td height='6px'></td></tr>
                          <tr>
                            <td width='176'>
                              <table width="176" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                                <tr><td height='18' colspan='3'></td></tr>
                                <tr>
                                  <td width='18'></td>
                                  <td>
                                    <table width="140" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align='center'>
                                          <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" >
                                              <img src="images/pumpkin.png" data-default="placeholder" data-max-width="365" width='136' height='115' alt='pumpkin'>
                                            </div>
                                          </div>

                                        </td>
                                      </tr>
                                      <tr><td height='30'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h2 style='font-size:14px;font-weight:bold;'>Orange Pumpkin</h2>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='12'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <p style='color:#CB3D00;font-size:18px;font-weight:bold;'>$9.99</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='25'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Buy now</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width='18'></td>
                                </tr>
                                <tr><td height='25' colspan='3'></td></tr>
                              </table>
                            </td>
                            <td width='6'></td>
                            <td width='176'>
                              <table width="176" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                                <tr><td height='18' colspan='3'></td></tr>
                                <tr>
                                  <td width='18'></td>
                                  <td>
                                    <table width="140" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align='center'>
                                          <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" >
                                              <img src="images/pumpkin.png" data-default="placeholder" data-max-width="365" width='136' height='115' alt='pumpkin'>
                                            </div>
                                          </div>

                                        </td>
                                      </tr>
                                      <tr><td height='30'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h2 style='font-size:14px;font-weight:bold;'>Orange Pumpkin</h2>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='12'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <p style='color:#CB3D00;font-size:18px;font-weight:bold;'>$9.99</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='25'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Buy now</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width='18'></td>
                                </tr>
                                <tr><td height='25' colspan='3'></td></tr>
                              </table>
                            </td>
                            <td width='6'></td>
                            <td width='176'>
                              <table width="176" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                                <tr><td height='18' colspan='3'></td></tr>
                                <tr>
                                  <td width='18'></td>
                                  <td>
                                    <table width="140" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align='center'>
                                          <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" >
                                              <img src="images/pumpkin.png" data-default="placeholder" data-max-width="365" width='136' height='115' alt='pumpkin'>
                                            </div>
                                          </div>

                                        </td>
                                      </tr>
                                      <tr><td height='30'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <h2 style='font-size:14px;font-weight:bold;'>Orange Pumpkin</h2>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='12'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <p style='color:#CB3D00;font-size:18px;font-weight:bold;'>$9.99</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr><td height='25'></td></tr>
                                      <tr>
                                        <td>
                                          <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" >
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Buy now</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width='18'></td>
                                </tr>
                                <tr><td height='25' colspan='3'></td></tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>

                  <div class='movableContent'>
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='38'></td></tr>
                      <tr>
                        <td>
                          <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor='#FCF1D3'>
                            <tr><td height='35'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='font-family:Geogia;font-size:15px;color:#D6BF82;text-align:center;'>From November to December</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='18'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='font-size:32px;font-family:Georgia;font-style:italic;color:#3C2D2C;text-align:center'>50% off everything.</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='32'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='text-align:center'><a target='_blank' href="[CLIENTS.WEBSITE]" style='text-decoration:none;color:#ffffff;font-size:15px; background:#EBAB01; padding:8px 12px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;'>Let’s go shopping!</a></p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='43'></td></tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='55' colspan='3'></td></tr>
                      <tr>
                        <td width='250'>
                          <table width="250" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;'>
                            <tr><td height='8' colspan='3'></td></tr>
                            <tr>
                              <td width='8'></td>
                              <td >
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable" >
                                    <img src="images/carving.jpg" data-default="placeholder" data-max-width="234" width='230' height='217' alt='The Best Squash Casserole'>
                                  </div>
                                </div>
                              </td>
                              <td width='8'></td>
                            </tr>
                            <tr><td height='8' colspan='3'></td></tr>
                          </table>
                        </td>
                        <td width='26'></td>
                        <td width='264'>
                          <table width="264" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='font-size:12px;color:#999999;'>Food &amp; Cooking</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='5'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <h2>The Best Squash Casserole</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='12'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p >
                                      It's good to share. So this holiday season, give a recipe that’s family-favourite and ask customers for theirs. Spark a conversation.
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='25'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Find out more</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='55' colspan='3'></td></tr>
                      <tr>
                        <td width='264'>
                          <table width="264" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='font-size:12px;color:#999999;'>Sharing is caring</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='5'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <h2>Give a little bit</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='12'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p >
                                      Ask a question, spark a conversation, tell a story. Be honest, fearless and show who you are in the emails you write. You'll reap great relationships from it.
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='25'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <a target='_blank' href="CLIENTS.WEBSITE" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Find out more</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width='26'></td>
                        <td width='250'>
                          <table width="250" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;'>
                            <tr><td height='8' colspan='3'></td></tr>
                            <tr>
                              <td width='8'></td>
                              <td >
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable" >
                                    <img src="images/carving.jpg" data-default="placeholder" data-max-width="234" width='230' height='217' alt='The Best Squash Casserole'>
                                  </div>
                                </div>
                              </td>
                              <td width='8'></td>
                            </tr>
                            <tr><td height='8' colspan='3'></td></tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='55' colspan='3'></td></tr>
                      <tr>
                        <td width='250'>
                          <table width="250" border="0" cellspacing="0" cellpadding="0" style='border:1px solid #EBE3E3;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;'>
                            <tr><td height='8' colspan='3'></td></tr>
                            <tr>
                              <td width='8'></td>
                              <td >
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable" >
                                    <img src="images/carving.jpg" data-default="placeholder" data-max-width="234" width='230' height='217' alt='The Best Squash Casserole'>
                                  </div>
                                </div>
                              </td>
                              <td width='8'></td>
                            </tr>
                            <tr><td height='8' colspan='3'></td></tr>
                          </table>
                        </td>
                        <td width='26'></td>
                        <td width='264'>
                          <table width="264" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='font-size:12px;color:#999999;'>Keep it short</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='5'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <h2>Customize the layout</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='12'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p >
                                      Feel free to add and remove sections to make the template really <em>yours</em>. Keep in mind that your email should be fairly short: average time spent reading an email is 15 seconds.
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='25'></td></tr>
                            <tr>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Edit the buttons</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>


                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='80'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p style='font-size:12px;color:#999999;text-align:center;'>FROM OUR FAMILY TO YOURS</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='5'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p style='color:#000000;font-size:32px;text-align:center;font-weight:bold;'>This Thanksgiving</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='42'></td></tr>
                    </table>
                  </div>

                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='38'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p style='font-size:12px;color:#999999;'>Food &amp; Cooking</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='5'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <h2>The Best Squash Casserole</h2>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='12'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p >
                                It's good to share. So this holiday season, give a recipe that’s family-favourite and ask customers for theirs. Spark a conversation.
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='25'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Find out more</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='37'></td></tr>
                      <tr><td><div style='border:1px solid #EBE3E3'></div></td></tr>
                    </table>
                  </div>

                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr><td height='38'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p style='font-size:12px;color:#999999;'>Sharing is caring</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='5'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <h2>Give a little bit</h2>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='12'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <p >Ask a question, spark a conversation, tell a story. Be honest, fearless and show who you are in the emails you write. You'll reap great relationships from it.
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='25'></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" >
                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#CB3D00;color:#ffffff;font-size:15px;padding:8px 12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;'>Find out more</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='37'></td></tr>
                      <tr><td><div style='border:1px solid #EBE3E3'></div></td></tr>
                    </table>
                  </div>


                  <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align='center'>
                          <table width="540" border="0" cellspacing="0" cellpadding="0">
                            <tr><td height='38'></td></tr>
                            <tr>
                              <td width='454' valign='middle' class='middle'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <a target='_blank' href='[FORWARD]' style='font-size:13px;line-height:19px;color:#999999;text-decoration:none;'>Forward to a friend</a>
                                  </div>
                                </div>
                              </td>
                              <td width='39'>
                                <div class="contentEditableContainer contentFacebookEditable">
                                  <div class="contentEditable" >
                                    <img src="images/facebook.png" data-default="placeholder" data-max-width="39" width='39' height='39' alt='facebook' data-customIcon="true">
                                  </div>
                                </div>
                              </td>
                              <td width='8'></td>
                              <td width='39'>
                                <div class="contentEditableContainer contentTwitterEditable">
                                  <div class="contentEditable" >
                                    <img src="images/twitter.png" data-default="placeholder" data-max-width="39" width='39' height='39' alt='twitter' data-customIcon="true">
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='26'></td></tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>

                   <div class='movableContent'>
                    <table width="540" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height='180' bgcolor='#EAEAEA' align='center'>
                          <table width="540" border="0" cellspacing="0" cellpadding="0">
                            <tr><td height='55'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p style='font-size:13px;color:#999999;font-weight:bold;'>Sent to [email] by [CLIENTS.COMPANY_NAME] | [CLIENTS.ADDRESS] | [CLIENTS.PHONE]</p>
                                  </div>
                                </div>

                              </td>
                            </tr>
                            <tr><td height='10'></td></tr>
                            <tr>
                              <td align='center' style='font-size:13px;color:#999999;'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <p><a target='_blank' href='[CLIENTS.WEBSITE]' style='font-size:13px;color:#999999;text-decoration:none;line-height:19px;'>Home</a> | <a target='_blank' href='[SHOWEMAIL]' style='font-size:13px;color:#999999;text-decoration:none;line-height:19px;'> Open in browser </a> | <a target='_blank' href='[UNSUBSCRIBE]' style='font-size:13px;color:#999999;text-decoration:none;line-height:19px;'>Unsubscribe</a></p>
                                  </div>
                                </div>

                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>


                </td>
              </tr>

              

            </table>
          </td>
        </tr>

      </table>

    </td>
    </tr>
    <!-- end footer-->

  </table>


  </body>
  </html>
