<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
   /*font-family:Helvetica, sans-serif;*/
   /*font-family:Georgia, serif;*/
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }

p, h1,h2,h3,ul,ol,li,div{
  margin:0;
  padding:0;
}

h1,h2{
  font-weight: normal;
  background:transparent !important;
  border:none !important;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a{
  text-decoration: none;
  display:inline-block;
}

a.link1{
text-decoration: none;
font-size: 16px;
font-weight: normal;
padding: 15px 25px;
background: #065a65;
color: #ffffff;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

a.link2{
font-size: 15px;
font-weight: bold;
text-decoration: underline;
color:#ffffff;
}

a.link3{

}

.contentEditable li{

}

h2{
font-family:Georgia, serif;
font-size: 25px;
font-weight: bold;
font-style: italic;
line-height: 120%;
}

h2{
color: #ffffff;
}

p{
font-size: 15px;
color: #ffffff;
line-height: 120%;
}

.bgItem{
background: #00242d;
}

.bgBody{
background: #065a65;
}

.rounded{
  border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}
.roundedTop{
border-top-left-radius:6px;
-moz-border-top-left-radius:6px;
-webkit-border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-top-right-radius:6px;
-webkit-border-top-right-radius:6px;
}

.roundedBottom{
border-bottom-left-radius:6px;
-moz-border-bottom-left-radius:6px;
-webkit-border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
-moz-border-bottom-right-radius:6px;
-webkit-border-bottom-right-radius:6px;
}

</style>

<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"065a65",
    "link":"ffffff",
    "color":"ffffff",
    "bgItem":"00242d",
    "title":"ffffff"
}
</script>

</head>
<body paddingwidth="0" paddingheight="0" class='bgBody'  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Arial, sans-serif;'>
    
    
  <tr>
    <td align='center'>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
        <tr>
          <td align='center' class='movableContentContainer'>
          <!-- =============== START BODY =============== -->

            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='10'></td>
                        <td>
                          <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                              <td align="left" width='64'>
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable">
                                    <img src="imgs/logo.png" alt="Logo" width='64' height='59' data-default="placeholder" data-max-width="300" data-max-height="100">
                                  </div>
                                </div>
                              </td>
                              <td width='15'></td>
                              <td align="left" valign="middle" style='vertical-align: middle;'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div  class="contentEditable" >
                                    <h1 style='font-family: Arial, sans-serif;font-weight: bold;font-size: 15px;color:#ffffff;'>[CLIENTS.COMPANY_NAME]</h1>
                                  </div>
                                </div>
                              </td>
                              <td width='25'></td>
                              <td align="right" valign="middle" style='vertical-align: middle;'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div  class="contentEditable" style='text-align: right;'>
                                    <a target='_blank' href="[SHOWEMAIL]" style='color:#004257;font-size: 15px;font-weight: bold;'>Open in browser</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width='10'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='10'></td>
                        <td>
                          <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                              <td align="middle">
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable">
                                    <img src="imgs/header.jpg" alt="Heaer" width='580' data-default="placeholder" data-max-width="580">
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width='10'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'></td>
                        <td>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class='rounded bgItem'>
                            <tr><td  height='15'></td></tr>
                            <tr>
                              <td align="middle" >
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable">
                                    <h2  style='text-align: center;'>- Happy Halloween! -</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td  height='15'></td></tr>
                          </table>
                        </td>
                        <td width='20'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'></td>
                        <td>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class='rounded bgItem'>
                            <tr>
                              <td align="middle" >
                                <table width="375" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tr><td colspan="3" height='20'></td></tr>
                                  <tr>
                                    <td colspan="3">
                                      <div class="contentEditableContainer contentImageEditable">
                                        <div class="contentEditable">
                                          <img src="imgs/bigImg.jpg" alt="Featured image" width='375' data-default="placeholder" data-max-width="375">
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr><td height='20' colspan="3"></td></tr>
                                  <tr>
                                    <td width='15'></td>
                                    <td align="center">
                                      <div class="contentEditableContainer contentTextEditable">
                                        <div class="contentEditable">
                                          <h2 style='color: #065a65 !important;text-align: center;'>Best Halloween Spots</h2>
                                          <br/>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                          <br/><br/>
                                          <p><a target='_blank' href="#" class='link1' style='color:#ffffff;' >Check it out</a></p>
                                        </div>
                                      </div>
                                    </td>
                                    <td width='15'></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr><td  height='25'></td></tr>
                          </table>
                        </td>
                        <td width='20'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'></td>
                        <td>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class='roundedTop' style='border-top:1px solid #00242d;border-left:1px solid #00242d;border-right:1px solid #00242d;'>
                            <tr><td colspan="5" height='20'></td></tr>
                            <tr>
                              <td width='20'></td>
                              <td width='240'>
                                <div class="contentEditableContainer contentImageEditable">
                                  <div class="contentEditable">
                                    <img src="imgs/sideImg.jpg" alt="Side image" width='240' data-default="placeholder" data-max-width="240">
                                  </div>
                                </div>
                              </td>
                              <td width='20'></td>
                              <td>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable">
                                    <h2 >Chocolate Rampage!</h2>
                                    <br/>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <br/><br/><br/><br/><br/>
                                    <p style='text-align: right;'><a target='_blank' href="#" class='link2'>Read more</a></p>
                                  </div>
                                </div>
                              </td>
                              <td width='20'></td>
                            </tr>
                            <tr><td colspan="5" height='20'></td></tr>
                          </table>
                        </td>
                        <td width='20'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>


          <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'></td>
                        <td>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class='roundedBottom bgItem'>
                            <tr><td height='25'></td></tr>
                            <tr>
                              <td align="middle" >
                                <table width="375" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tr>
                                    <td width='15'></td>
                                    <td align="center">
                                      <div class="contentEditableContainer contentTextEditable">
                                        <div class="contentEditable">
                                          <h2  style='color: #065a65 !important;text-align: center;'>Trick or Treat?</h2>
                                          <br/>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                          <br/><br/>
                                          <p><a target='_blank' href="#" class='link1' style='color:#ffffff;' >Read more</a></p>
                                        </div>
                                      </div>
                                    </td>
                                    <td width='15'></td>
                                  </tr>
                                  <tr><td height='40' colspan="3"></td></tr>
                                  <tr>
                                    <td width='15'></td>
                                    <td align="center">
                                      <div class="contentEditableContainer contentTextEditable">
                                        <div class="contentEditable">
                                          <h2  style='color: #065a65 !important;text-align: center;'>Pumpkin Patch Fun</h2>
                                          <br/>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
                                          <br/><br/>
                                          <p><a target='_blank' href="#" class='link1' style='color:#ffffff;'>Check it out</a></p>
                                        </div>
                                      </div>
                                    </td>
                                    <td width='15'></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr><td  height='25'></td></tr>
                          </table>
                        </td>
                        <td width='20'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>


            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20'></td></tr>
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'></td>
                        <td>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class='rounded' style='border:1px solid #00242d;'>
                            <tr><td height='20'></td></tr>
                            <tr>
                              <td>
                                <table  width="300" border="0" cellspacing="0" cellpadding="0" align="center">
                                  <tr>
                                    <td width='20'></td>
                                    <td width='50'>
                                      <div class="contentEditableContainer contentFacebookEditable">
                                        <div class="contentEditable">
                                          <img src="imgs/facebook.png" alt="Facebook" width='50' data-max-width='50' data-customIcon="true">
                                        </div>
                                      </div>
                                    </td>
                                    <td width='20'></td>
                                    <td  width='50'>
                                      <div class="contentEditableContainer contentTwitterEditable">
                                        <div class="contentEditable">
                                          <img src="imgs/twitter.png" alt="Twitter" width='50' data-max-width='50' data-customIcon="true" >
                                        </div>
                                      </div>
                                    </td>
                                    <td width='20'></td>
                                    <td  width='50'>
                                      <div class="contentEditableContainer contentImageEditable">
                                        <div class="contentEditable">
                                          <img src="imgs/google.png" alt="Google plus" width='50' data-max-width='50'>
                                        </div>
                                      </div>
                                    </td>
                                    <td width='20'></td>
                                    <td  width='50'>
                                      <div class="contentEditableContainer contentTwitterEditable">
                                        <div class="contentEditable">
                                          <img src="imgs/pinterest.png" alt="Pinterest" width='50' data-max-width='50'>
                                        </div>
                                      </div>
                                    </td>
                                    <td width='20'></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr><td height='20'></td></tr>
                          </table>
                        </td>
                        <td width='20'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='30'></td></tr>
                <tr>
                  <td style='background:#88aeb3;'>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'></td>
                        <td>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                            <tr><td height='62'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable">
                                    <p style='color:#065a65;'>Sent by [SENDER_NAME] <br>
                                      [CLIENTS.ADDRESS] <br>
                                      [CLIENTS.PHONE] <br>
                                      <a target='_blank' href="[FORWARD]" style='font-size:15px; color:#065a65;'>Forward to a friend</a><br/>
                                      <a target='_blank' href="[UNSUBSCRIBE]"  style='font-size:15px; color:#065a65;'>Unsubscribe</a>
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td  height='62'></td></tr>
                          </table>
                        </td>
                        <td width='20'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>


          <!-- =============== END BODY =============== -->

          </td>
        </tr>   
      </table>
    </td>
  </tr>
</table>


  </body>
  </html>
