
<div class="xepan-subscription-form jumbotron well">
  <div class="row">
    <div class="col-md-12 atk-form-field atk-form-row">{$first_name}</div>
  </div>
  <div class="row">
    <div class="col-md-12 atk-form-field atk-form-row">
      		
      {$last_name}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 atk-form-field atk-form-row">{$email}</div>
  </div>
  <div class="row">
    <div class="col-md-12 atk-form-field atk-form-row">{$contact_no}		</div>
  </div>
  <div class="row">
    <div class="col-md-12 atk-form-field atk-form-row">{$Content}		</div>
  </div>
  <div class="row">
    <div class="col-md-12">{$FormButtons}		</div>
  </div>
</div>
<style type="text/css" media="screen">
  .xepan-subscription-form input{
  width: 100%;
  margin-bottom:5px;
  }
  .xepan-subscription-form .row{
  margin-top:5px;
  margin-bottom:5px;
  }
</style>