div.xepan-subscription-form.jumbotron.well
	.row
		.col-md-12.atk-form-field.atk-form-row
			{$first_name}
	.row
		.col-md-12.atk-form-field.atk-form-row		
			{$last_name}
	.row
		.col-md-12.atk-form-field.atk-form-row
			{$email}
	.row
		.col-md-12.atk-form-field.atk-form-row
			{$contact_no}		
	.row
		.col-md-12.atk-form-field.atk-form-row
			{$Content}		
	.row
		.col-md-12
			{$FormButtons}		
style(type='text/css', media='screen').
	.xepan-subscription-form input{
	width: 100%;
	margin-bottom:5px;
	}
	.xepan-subscription-form .row{
	margin-top:5px;
	margin-bottom:5px;
	}