-<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>[SUBJECT]</title>
	<style type="text/css">
		body {background: #cfeee4; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:13px; line-height:150%; color:#666; margin:0; padding:0;}
		.movableContentContainer p {margin-bottom:10px; margin-top:0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px; line-height: 150%; color:#666666;}
		td, div {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px; line-height: 150%; }
		a {color:#ff4341;text-decoration: none;}
		h1 {margin-top:15px;padding:0; color:#000; font-size:22px; line-height: 150%; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
		h2 {margin-top:0; color:#444; font-size:16px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 150%; }
		h3 {margin:0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 150%; }
		.bgItem{background: #ffffff;}
		.leftAligned{text-align: left;}
		.footer p {color:#ffffff !important;}
		.bgItem{background:#ffffff;}
		.bgBody{background:#cfeee4;}
	</style>
	<script type="colorScheme" class="swatch active">
		{
			"name":"Default",
			"bgBody":"cfeee4",
			"link":"0a97dc",
			"color":"666666",
			"bgItem":"ffffff",
			"title":"1a7385"
		}
	</script>
</head>
<body class="bgBody" style="margin:0;">

		<!-- container table -->
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgBody" width="100%">
			<tr>
				<td align="center" class="movableContentContainer">
					<!-- Email body table -->
						<!-- Start sections -->

						<div class='movableContent'>
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-height: 0px;">
								<tr bgcolor="#0a97dc" >
									<td align="center" style="font-size:11px;">
										<div class="contentEditableContainer contentTextEditable">
											<div class="contentEditable">
												<span style="color: #ffffff">
													Are you ready for summer?&nbsp;☼&nbsp;Great summer deals for our VIPs</span>
												</div>
											</div>
										</td>
									</tr>
									<tr bgcolor="#0a97dc">
										<td height="7">
										</td>
									</tr>
									<tr bgcolor="0a97dc" >
										<td align="center">
											<table width="580">
												<tr>
													<td align="left" style="font-size:11px;" width='25'>
														<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
															<div class="contentEditable">
																<a target='_blank' href="[SHOWEMAIL]" style="text-decoration:none; color: #fff;"><img src="images/whiteBrowser.png" width="20" valign="middle"></a>
																<!-- A frequent typo I make is to show the email to Bowser...-->
															</div>
														</div>
													</td>
													<td align="left" style="font-size:11px;">
														<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
															<div class="contentEditable">
																<a target='_blank' href="[SHOWEMAIL]" style="text-decoration:none; color: #fff;">&nbsp;&nbsp;Show email in browser</a>
																<!-- A frequent typo I make is to show the email to Bowser...-->
															</div>
														</div>
													</td>
													<td align="right" valign="middle" style="font-size:11px;">
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
						</div>

						<div class='movableContent'>
							<!-- Company Name & Logo & NavBar -->
							<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgbody" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<!--content starting-->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="580">
												<tbody>
													<tr>
														<td colspan="3" height="30">
														</td>
													</tr>

													<tr>
														<td align="left" valign="middle" style="font-size:11px;">
															<div class="contentEditableContainer contentImageEditable" style="min-height: 0px; padding-right: 15px;">
																<div class="contentEditable"><a target='_blank' href="[CLIENTS.WEBSITE]"><img src="http://us.servecake.com/editor_images/image_bd15a06f/files/logo.png" alt="[CLIENTS.COMPANY_NAME]" title="[CLIENTS.COMPANY_NAME]" width="50" height="50" valign="middle" data-max-width="100"></a></div>
															</div>
														</td>
														<td align="left" valign="middle" style="font-size:24px; color: #1a7385">
															<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																<div class="contentEditable">
																	<h2>[CLIENTS.COMPANY_NAME]</h2>
																</div>
															</div>
														</td>
														<td align="right" valign="middle"  style="font-size:11px;color:#999999;width:300px;">
															<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																<div class="contentEditable">
																	<p style="color:#1a7385;">
																		<a target='_blank' href="#" style="text-decoration:none; color: #1a7385;">Home Page</a> | <a target='_blank' href="#" style="text-decoration:none; color: #1a7385;">Store</a> | <a target='_blank' href="#" style="text-decoration:none; color: #1a7385;">Contact Us</a>
																	</p>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="3" height="15">
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>

						</div>


						<div class='movableContent'>
								<!-- Title -->
								<table align="center" border="0" cellpadding="0" cellspacing="0" class="bgbody" width="100%">
									<tbody>
										<tr>
											<td align="center">
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="580">
													<tr>
														<td colspan="3">
															<!-- Featured Image -->
															<div style="border: 0px; padding-top: 0px; position: relative;">
																<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																	<div class="contentEditable"><a target='_blank' href="[CLIENTS.WEBSITE]"><img src="images/summer_header.jpg" alt="Summer is here" title="Summer is here" width="580" height='200' data-max-width="580"></a>
																	</div>
																</div>
															</div>
															<!-- .Image -->
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- .Title-->
						</div>

						<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'>
											<tr>
												<td colspan="3">
													<!-- Title -->
													<div class="contentEditableContainer contentTextEditable" style="border-top-width: 1px; border-top-style: solid; border-top-color: #cfeee4; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cfeee4; min-height: 0px;">
														<div class="contentEditable" style="padding:10px 20px 10px;background-color:#eaf4ec;text-align:center;">
															<h2 style="font-size:20px;color: #1a7385;">[SUBJECT]</h2>
															<p style="font-size:13px; color: #1a7385;">One-line description of topic of email</p>
														</div>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>

						<!-- Text -->
						<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'><tr><td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" >
											<tr>
												<td height="20">
												</td>
											</tr>
											<tr>
												<td align="center">
													<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
														<div class="contentEditable" style="text-align:left;">
															<h2>Summer fun</h2>
															<p>Use this section to include a brief blurb about who you are, and what’ you’ll be doing this summer. Answer questions such as:</p>
															<ul>
																<li>Who are you?</li>
																<li>What do you do?</li>
																<li>Will you be hosting a special event like a BBQ or a summer sale?</li>
																<li>Why are you a part of the community? Why do you do what you do?</li>
															</ul>
															<!-- Button Table -->
															<table cellpadding="0" cellspacing="0" border="0" align="right" width="100%">
																<tbody>
																	<tr height="20">
																		<td>
																		</td>
																	</tr>
																	<tr>
																		<td align="right">
																			<div class="contentEditableContainer contentTextEditable">
																				<div class="contentEditable" align='center' >
																					<a target='_blank' href="#" style="padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px;background:#0a97dc;text-decoration:none;">Read more</a>
																				</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															<!-- .Button -->
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td height="20">
												</td>
											</tr>
											<tr>
												<td height="1">
													<div height="1" style="font-size:0px;">
														<img data-default="placeholder" src="images/line.png" width="540" height="1">
													</div>
												</td>
											</tr>
										</table></td></tr></table>
									</td>
								</tr>
							</table>
						</div>
						<!-- .Text -->


						<!-- Image + text -->
						<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'><tr><td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="540">
											<tbody>
												<tr height="20">
													<td colspan="2">
													</td>
												</tr>
												<tr>
													<td valign="top">
														<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
															<div class="contentEditable">
																<img src="images/placeholder_2.jpg" alt="Picnics" title="Picnics" width="175" height="175" data-max-width="175">
															</div>
														</div>
													</td>
													<td style="padding-left:20px;" valign="top">
														<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
															<div class="contentEditable" style="text-align:left;">
																<h2>Customize the layout</h2>
																<p style="text-align:left;">
																	Feel free to add and remove sections to make the template really yours. Keep in mind that your email should be fairly short: average time spent reading an email is 15 seconds.</p>
																	<!-- Button Table -->
																	<table cellpadding="0" cellspacing="0" border="0" align="right" width="100%">
																		<tr height="20">
																			<td>
																			</td>
																		</tr>
																		<tr>
																			<td align="left">
																				<div class="contentEditableContainer contentTextEditable">
																					<div class="contentEditable" align='left' >
																						<a target='_blank' href="#" style="padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px;background:#0a97dc;text-decoration:none;">Read more</a>
																					</div>
																				</div>
																			</td>
																		</tr>
																		<tr height="20">
																			<td>
																			</td>
																		</tr>
																	</table>
																	<!-- .Button -->
																</div>
															</div>
														</td>
													</tr>
													<tr height="20">
														<td colspan="2">
														</td>
													</tr>
													<tr height="1">
														<td colspan="2">
															<div height="1" style="font-size:0px;">
																<img data-default="placeholder" src="images/line.png" width="540" height="1">
															</div>
														</td>
													</tr>
												</tbody>
											</table></td></tr></table>
										</td>
									</tr>
								</table>
							</div>
							<!-- .Image + text -->

							<!-- Text.Image-->

							<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'><tr><td>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540">
												<tbody>
													<tr height="20">
														<td colspan="2">
														</td>
													</tr>
													<tr>
														<td style="padding-right:20px;" valign="top">
															<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																<div class="contentEditable" style="text-align:left;">
																	<h2>Customize the layout</h2>
																	<p style="text-align:left;">
																		Feel free to add and remove sections to make the template really yours. Keep in mind that your email should be fairly short: average time spent reading an email is 15 seconds.</p>
																		<!-- Button Table -->
																		<table cellpadding="0" cellspacing="0" border="0" align="right" width="100%">
																			<tr height="20">
																				<td>
																				</td>
																			</tr>
																			<tr>
																				<td align="left">
																					<div class="contentEditableContainer contentTextEditable">
																						<div class="contentEditable" align='left' >
																							<a target='_blank' href="#" style="padding:10px 20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#ffffff;font-size:13px;background:#0a97dc;text-decoration:none;">Read more</a>
																						</div>
																					</div>
																				</td>
																			</tr>
																			<tr height="20">
																				<td>
																				</td>
																			</tr>
																		</table>
																		<!-- .Button -->
																	</div>
																</div>
															</td>
															<td valign="top">
																<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																	<div class="contentEditable">
																		<img src="images/placeholder_1.jpg" alt="Beach balls and Fun in the Sun" title="Beach balls and Fun in the Sun" width="175" height="175" data-max-width="175">
																	</div>
																</div>
															</td>
															
														</tr>
														<tr height="20">
															<td colspan="2">
															</td>
														</tr>
														<tr height="1">
															<td colspan="2">
																<div height="1" style="font-size:0px;">
																	<img data-default="placeholder" src="images/line.png" width="540" height="1">
																</div>
															</td>
														</tr>
													</tbody>
												</table></td></tr></table>
											</td>
										</tr>
									</table>
								</div>
								<!-- .Text+Image -->

								<!-- Images over text-->
								<!-- Images: 250x250 -->
								<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'><tr><td>
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="540">
													<tbody>
														<tr>
															<td height="20" colspan="2">
															</td>
														</tr>
														<tr>
															<td valign="top" width="270" align="left">
																<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																	<div class="contentEditable"><img src="images/placeholder_3.jpg" alt="BBQ" title="BBQ" width="250" height="250" data-max-width="250"></div>
																</div>																						
															</td>
															<td valign="top" width="270" align="right">
																<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;">
																	<div class="contentEditable"><img src="images/placeholder_3.jpg" alt="BBQ" title="BBQ" width="250" height="250" data-max-width="250"></div>
																</div>																						
															</td>
														</tr>
														<tr>
															<td height="10" colspan="2">
															</td>
														</tr>
													</tbody>
												</table></td></tr></table>
											</td>
										</tr>
									</table>
								</div>
								<!-- .Images -->
								<!-- Text + Text -->
								<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'><tr><td>
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="540">
													<tbody>
														<tr>
															<td height="10" colspan="3">
															</td>
														</tr>
														<tr>
															<td valign="top" width="250">
																<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																	<div class="contentEditable" style="text-align:left;">
																		<h2 style="text-align:left;">
																			Featured item</h2>
																			<p style="text-align:left;">
																				Get 50% off BBQ gear all summer! Just Tweet us your best grilling trick or recipe to get the top secret promo code.</p>
																				<p style="text-align:left;">
																					<a target='_blank' href="">Read more</a></p>
																				</div>
																			</div>
																		</td>
																		<td width="40">
																		</td>
																		<td valign="top" width="250">
																			<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																				<div class="contentEditable" style="text-align:left;">
																					<h2 style="text-align:left;">
																						Featured item</h2>
																						<p style="text-align:left;">
																							Get 50% off BBQ gear all summer! Just Tweet us your best grilling trick or recipe to get the top secret promo code.</p>
																							<p style="text-align:left;">
																								<a target='_blank' href="">Read more</a></p>
																							</div>
																						</div>
																					</td>
																				</tr>
																				<tr>
																					<td height="20" colspan="3">
																					</td>
																				</tr>
																				<tr height="1">
																					<td colspan="3">
																						<div height="1" style="font-size:0px;">
																							<img data-default="placeholder" src="images/line.png" width="540" height="1">
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table></td></tr></table>
																	</td>
																</tr>
															</table>
														</div>
														<!-- .Text + text -->
														<!-- .Images over text -->
														<!-- Map -->
														<div class="movableContent" style="margin: 0px auto; border: 0px; padding-top: 0px; position: relative;">
																<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td>
																			<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" class='bgItem'><tr><td>
																			<table cellpadding="0" cellspacing="0" border="0" width="540" align="center" style='padding-top: 20px;padding-bottom: 20px;'>
																				<tbody>

																					<tr>
																						<td valign="top">
																							<div class="contentEditableContainer contentGmapEditable" style="min-height: 0px;">
																								<div class="contentEditable">   
																									<img data-default="placeholder" src="http://us.servecake.com/editor_images/image_d2e084b1/archive/gmap_example.png" width="175" style="padding:2px;border:1px solid #dbdeec;border-radius:3px;-webkit-border-radius:3px;">
																								</div>
																							</div>
																						</td>
																						<td valign="top" style="padding-left:20px;width:100%">
																							<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																								<div class="contentEditable" style="text-align:left;">
																									<h2 style="text-align:left;">
																										[CLIENTS.ADDRESS]</h2>
																										<p style="text-align:left;">
																											Where are you located? Use a map and provide a link with directions.<br>
																											<br>
																											Provide your opening hours as well as other information, like your phone number, so your contacts can get in touch if they need to.</p>
																											<p style="text-align:left;">
																												<a target='_blank' href="#">Get directions →</a></p>
																											</div>
																										</div>
																									</td>
																								</tr>
																								
																							</tbody>
																						</table></td></tr></table>
																					</td>
																				</tr>
																			</table>
																		</div>
																		<!-- .Map -->
																		<!-- end sections -->


																		<div class='movableContent'>
																			<!-- Footer -->
																				<table bgcolor="0a97dc" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-height: 0px;">
															
															<tr  bgcolor="0a97dc" >
																<td height="14">
																</td>
															</tr>
															<tr bgcolor="0a97dc" >
																<td align="center">
																	<table  width="540" border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																			<tr>
																				<td align="left" style="font-size:11px;">
																					<div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
																						<div class="contentEditable">
																							<p style="color: #fff">
																								<a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:none; color: #fff;">Unsubscribe</a> | <a target='_blank' href="[FORWARD]" style="text-decoration:none; color: #fff;">Forward to a friend</a>
																							</p>
																						</div>
																					</div>
																				</td>
																				<td align="right" width='25' valign="middle" style="font-size:11px;">
																					<div class="contentEditableContainer contentTwitterEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<img src="images/whiteTweet.png" title="Follow us on Twitter" width="20" data-max-width="25" data-customIcon="true" >
																						</div>
																					</div>
																				</td>
																				<td align="right" width='25' valign="middle" style="font-size:11px;">
																					<div class="contentEditableContainer contentFacebookEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<img src="images/whitebook.png" title="Like us on Facebook" width="20" data-max-width='25' data-customIcon="true" >
																						</div>
																					</div>
																				</td>
																				<td align="right" width='25' valign="middle" style="font-size:11px;">
																					<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<a target='_blank' href="https://plus.google.com/" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePlus.png" title="Google plus" width="20" data-max-width="25"></a>
																						</div>
																					</div>
																				</td>
																				<td align="right" width='25' valign="middle" style="font-size:11px;">
																					<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<a target='_blank' href="http://pinterest.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePin.png" title="See who we're pinning" width="20" data-max-width="25"></a>
																						</div>
																					</div>
																				</td>
																				<td align="right" valign="middle" width='25' style="font-size:11px;">
																					<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<a target='_blank' href="http://tumblr.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteCam.png" title="Follow us on Tumblr" width="20" data-max-width="25" ></a>
																						</div>
																					</div>
																				</td>
																				<td align="right" width='25' valign="middle" style="font-size:11px;">
																					<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<a target='_blank' href="http://youtube.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteTube.png" title="Follow us on Tumblr" width="20" data-max-width="25"></a>
																						</div>
																					</div>
																				</td>
																				<td align="right" valign="middle" style="font-size:11px;" width='25'>
																					<div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
																						<div class="contentEditable">
																							<a target='_blank' href="#" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteRss.png" title="Get the latest blog posts" width="20" data-max-width="25"></a>
																						</div>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>	
															<tr>
																<td bgcolor="0a97dc"  height="14">
																</td>
															</tr>													
														</table>
																		</div>

																</td>
															</tr>
														</table>
														
					

	      <style class="themeEditor">					body,table.bgBody,html, .bgcolor, .bgbody, .bgBody {font-size:13px; background-color:#cfeee4; color:#ffffff ;} 					.contentTextEditable .contentEditable, .textcolor,div,td, .bgItem p, p{color:#666666 ;} 					.bgItem a, .bgItem p a, .contentTextEditable a, .contentTextEditable .contentEditable a{ color:#0a97dc;} 					.bgItem , td.bgItem { background:#ffffff ;} 					h2,.contentTextEditable .contentEditable h2, .contentEditable h2{ color:#1a7385 !important; font-size:16px;} 				</style></body></html>

