.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                div(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .row
        {header}{cols}{col}{/}{/}{/}
        {rows}{row}
        div(class="{$odd_even} col-md-{col-width}4{/}" data-id="{$id}")
            {cols}
            .main-box.clearfix.project-box(class="{$box}")
              .ribbon-wrapper-green(style= "cursor:pointer; cursor: hand; max-width:600px;")
                .ribbon-green 
                  span.small.text-muted.campaign-visit-detail(data-id="{$id}" style="color:white;"){$defect} {$dummy_spot}
              .main-box-body.clearfix
                .project-box-header(class="{$bg}")
                  .name
                    a(href='{$url}')
                      {$title}
                .project-box-content
                  span.chart(data-percent="{completed_percentage}0{/}")
                    span.percent
                    | % 
                    br
                    span.lbl completed
                .project-box-footer.clearfix
                  a(href='#') 
                    strong.text-success   Sent
                    .row    
                      span.text-success   {$total_combined_postings_done}   
                  a(href='#') 
                    strong.text-success   Schedule Left  
                    .row
                      span.text-success   {$schedule_left} 
                  a(href='#') 
                    strong.text-success   Days Left   
                    .row
                      span.text-success   {$remaining_duration}   
                .project-box-ultrafooter.clearfix
                  .col-md-4
                    {$action}
                  .col-md-4
                  .col-md-4  
                    {$edit}
                    {$delete}

        {/}
        {/}{/}
        {not_found}
        div.row
            .col-md-12.text-center.alert.alert-warning(role="alert")
                span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
        {/}

        {totals}{cols}{col}{$content}{/}{/}{/}
    {$Paginator}

script.
  $('.chart').easyPieChart({
  easing: 'Linear',
  onStep: function(from, to, percent) {
    console.log(percent);
    $(this.el).find('.percent').text(Math.round(percent));
  },
  barColor: '#3498db',
  trackColor: '#f2f2f2',
  scaleColor: false,
  lineWidth: 8,
  size: 130,
  animate: 1500
  });

style(type='text/css').
  .wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
  }
  .ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  }
  .ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }
  .ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
  }
  .ribbon-green:before {
  left: 0;
  }
  .ribbon-green:after {
  right: 0;
  }​  
