.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table-responsive
        table.table.user-list.table-hover.footable.toggle-circle-filled(style="width:100%")
            {header}
            thead.xepan-hover-hand
                {cols}{col}
                th
                th
                    span Name 
                th(data-hide="phone")
                    span Category
                th
                    span(style="border-bottom:1px solid gray;") Created By &nbsp;
                    span Assign To
                th
                    span Last Communication
                th(id="{$score_sortid}")
                    span Score {$score_sort}
                th
                    span Visits
                th
                    span Created at
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                        {$selected}
                    td
                      {avatar}
                      img(alt='', src='{image}img/samples/scarlet-159.png{/}')
                      {/}
                      //- {$code}
                      a.user-link.do-view-lead(href='#',data-id="{$id}")
                        {$organization_name_with_name}
                      //- a.user-link(href='{url}index.php?page=xepan_marketing_leaddetails&contact_id={$id}{/}')
                      span.user-subhead {source}Source{/}
                        h6 [{city}{/}] - [{$type}]
                    td
                        a.catagory-associated(data-type="checklist" data-value="{$existing_associated_catagories}" data-title="Associated Categories" data-pk="{$id}" style= "cursor:pointer; cursor: hand;")
                    td
                        div(title="Lead Created By" style="border-bottom:1px solid gray;") {$created_by}
                        div(title="Lead Assign To") {$assign_to}
                    td
                        {$last_communication}
                    td
                        a.do-view-lead-score(href="#" data-id="{$id}")
                            span.alert.alert-warning{score}0{/}
                    td
                        a.do-view-lead-visitor(href="#" data-id="{$id}")
                            span.alert.alert-success{$total_visitor}
                    td
                        {$created_at}
                    td
                        {$action}
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
