.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                div(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix
        .row
            {header}{cols}{col}{/}{/}{/}
            {rows}{row}
            div(class="{$odd_even} col-md-{col-width}4{/}" data-id="{$id}")
                {cols}
                .col-lg-12.col-md-6.col-sm-6
                  .main-box.clearfix.project-box.green-box
                    .main-box-body.clearfix
                      .project-box-header.green-bg
                        .name
                          a(href='#')
                            | {$title}
                      .project-box-content
                        iframe(style="height:250px; border1: none; pointer-events: none; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0;" src='index.php?page=xepan_marketing_newsletterpreview&cut_page=1&content_id={$id}' width="100%") 
                      .project-box-ultrafooter.clearfix
                        .col-md-4
                        .col-md-4
                          a.user-link(href='index.php?page=xepan_marketing_newsletterdesign&action=add&content_id={$id}')      
                                button.btn.btn-primary.atk-button(style='')
                                    |  Select
                        .col-md-4  
      
                
            {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}{cols}{col}{$content}{/}{/}{/}
        {$Paginator}
        