
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th id="{$title_sortid}"><span>Title</span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$title_sort}</span></th>
        <th><span>Communication    </span></th>
        <th><span>Description    </span></th>
        <th><span>Duration </span></th>
        <th> </th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{avatar}<img alt="" src="{image}img/samples/scarlet-159.png{/}"/>{/}
            {title}{/}
            <div class="row"> <a href="{url}index.php?page=xepan_marketing_leaddetails&amp;contact_id={$lead_id}{/}"> <span class="user-subhead">{lead}Lead{/}</span></a></div>
          </td>
          <td><span sparkType="bar" sparkHeight="40px" sparkbarColor="lightgray" class="sparkline">{communication}40,10,30,30,10,5,20,40,10,30,30{/}    </span></td>
          <td><span class="small">{$description}    </span></td>
          <td>{duration}Duration{/}</td>
          <td>
             
            {$action}
          </td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>