
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th></th>
        <th id="{$title_sortid}"><span>Title</span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$title_sort}</span></th>
        <th><span>Assigned To </span></th>
        <th><span>Fund</span></th>
        <th><span>Last Communication           </span></th>
        <th data-hide="phone"><span>Description    </span></th>
        <th>         </th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td>{avatar}<img alt="" src="{image}img/samples/scarlet-159.png{/}"/>{/}
            {title}{/}
            <div class="row"> <a href="#" data-id="{$id}" data-lead-id="{$lead_id}" class="user-link do-view-opportunity"> <span class="user-subhead">{$effective_name}</span></a><span class="text-muted small">[{$city} :: {$country}] </span></div>
          </td>
          <td> <span>{$assign_to} </span></td>
          <td> <span>{$fund} </span></td>
          <td><span>{$last_communication}    </span></td>
          <td><span class="small">{$description}</span></td>
          <td>
             
            {$action}
          </td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>