
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="btnn btn-primaryy pull-right">{$grid_buttons} 
      </div>
      <div style="width:50%;margin:auto" class="form-group">
        <div class="pull-right"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
      </div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>
        <tr>{cols}
          <th><span>Lead</span></th>
          <th><span>Status</span></th>
          <th><span>Title</span></th>
          <th><span>Duration</span></th>
          <th> </th>{/}
        </tr>
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><img alt="" src="{image}img/samples/scarlet-159.png{/}"/><a href="{url}index.php?page=xepan_hr_employeedetail&amp;contact_id={$id}{/}" class="user-link">{contact}Scarlett{/}</a></td>
          <td>{status}{/}</td>
          <td>{title}{/}</td>
          <td>{duration}{/}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
            {/}
          </td>
        </tr>{/}{/}
        {not_found}
        <tr>
          <td class="atk-padding-large atk-align-center"><span class="atk-label atk-effect-warning"><span class="icon-attention">&nbsp;{$not_found_message}</span></span></td>
        </tr>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>