
<div id="{$_name}" class="xepan-grid {$class}">
  <table style="width:100%; margin-bottom:0px !important;" class="table user-list">
    {header}
    {cols}{col}   
    {/}{/}
    {/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}
        <td style="width:50%;padding:0px !important;"><small><a href="{url}{/}" style="margin-left:0;" class="user-link">{$name} {$title} &nbsp; </a>
            <p class="user-subhead text-muted">{$source} {$city} {$campaign_type} </p></small></td>
        <td style="width:25%;padding:0px !important;">{$type} {$communication_type}</td>
        <td style="width:25%;padding:0px !important;">
           
          {$status}
        </td>{/}
      </tr>{/}{/}
      {not_found}
      {$not_found_message}
      {/}
    </tbody>
  </table>{$Paginator}
</div>