.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
  {Pannel}
  header.main-box-header.clearfix.atk-actions(class=" {$class} ")
    div.filter-block
      .pull-right {$grid_buttons} 
      .form-group.pull-right.xepan-filter-form
        div(class="form-control pull-left")|{$quick_search}
          i(class="fa fa-search search-icon")
  {/Pannel}
  .main-box-body.clearfix
    .row
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      div(class="{$odd_even} col-md-{col-width}4{/}" data-id="{$id}")
        {cols}
        .col-lg-12.col-md-6.col-sm-6
          .main-box.clearfix.project-box.green-box
            .main-box-body.clearfix  
              .project-box-header.green-bg
                .name
                  a(href='#')
                    | {$title} 
              .project-box-content
                span
                  {message_160}{/} 
              .project-box-footer.clearfix
                a(href='#')
                  span.value {$Outbox}
                  span.label Outbox
                a(href='#')
                  span.value {$remaining}
                  span.label remaining
                a(href='#')
                  span.value {$draft}
                  span.label Draft
              .project-box-ultrafooter.clearfix
                .col-md-1
                .col-md-5.pull-left
                  {$action}
                .col-md-2
                .col-md-4.pull-right     
                  {$edit}
                  {$delete}

      {/}
      {/}{/}
      {not_found}
      div.row
        .col-md-12.text-center.alert.alert-warning(role="alert")
          span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
      {/}

      {totals}{cols}{col}{$content}{/}{/}{/}
    {$Paginator}
