.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                div(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix
        .row
            {header}{cols}{col}{/}{/}{/}
            {rows}{row}
            div(class="{$odd_even} col-md-{col-width}4{/}" data-id="{$id}")
                {cols}
                .col-lg-12.col-md-6.col-sm-6
                  .main-box.clearfix.project-box
                      .project-box-header
                        .name.text-center
                          a(href='?page=xepan_marketing_socialpost&post_id={$id}' target="_blank")
                            h1(title ="{$title}" style="width: 100%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;") {$title}
                      .row.text-muted 
                        .col-md-4
                          span &nbsp; Visitors : {$total_visitor}
                        .col-md-4
                          span Likes : {$total_like}
                        .col-md-4  
                          span Comments : {$total_comments} 
                      hr
                      small.text-primary URL : {$url}
                      .row
                        .col-md-5
                          img(src="{$first_image}" alt="No Image" style="max-width:100%; width:100px; height:58px;" ) 
                        .col-md-7  
                          .project-box-content
                            .text-muted(style="height:57px; overflow: hidden; text-overflow: ellipsis;") {$msg} 
                      .project-box-footer.clearfix
                        a(href='#')
                          span.sparkline.source_graph(sparkType="pie" data-id="{$id}" sparkHeight="50px") {$source_graph}
                          span.text-success Platform
                        a(href='#')
                        //-   span.sparkline(sparkType="pie" sparkHeight="50px" sparksliceColors="[orange,green,red]") 1,2,3  
                        //-   span.text-success Location
                        a.pull-right(href='#')
                          span.sparkline.timing_graph(sparkType="pie" data-id="{$id}" sparkHeight="50px") {$timing_graph}  
                          span.text-success   Timings   
                      .project-box-ultrafooter.clearfix
                        .col-md-4
                          {$action}
                        .col-md-4 
                        .col-md-4.pull-right
                          {$edit}
                          {$delete}

            {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}{cols}{col}{$content}{/}{/}{/}
        {$Paginator}

script.
  $('.chart').easyPieChart({
  easing: 'Linear',
  onStep: function(from, to, percent) {
    console.log(percent);
    $(this.el).find('.percent').text(Math.round(percent));
  },
  barColor: '#3498db',
  trackColor: '#f2f2f2',
  scaleColor: false,
  lineWidth: 8,
  size: 130,
  animate: 1500
  });

style(type='text/css', media='screen').
  .project-box .project-box-header .name a{
  padding-top : 0px !important;
  padding-bottom : 0px !important;
  padding-left : 0px !important;
  padding-right : 0px !important; 
  }    

  .project-box .project-box-footer a{
  padding: 0px 15px !important;
  margin: 0px 0px 0px 0px !important;
  }

  .project-box .project-box-footer {
    border-top: 1px solid #e9eef0;
    margin-top:10px !important;
  }

  .project-box .project-box-content{
    padding: 0px 0px 0px 0px !important;
  }

  hr{
    margin: 2px 0px 5px 0px !important;
  }

  .project-box .project-box-footer a{
  border-right:0px !important;
  }

