
<div id="{$_name}" class="main-box clearfix {$class}">
  <div class="main-box-body clearfix row col-md-12">{header}{cols}{col}{/}{/}{/}
    <header class="main-box-header clearfix">
      <div class="main-box small-graph-box {response}green-bg{/}"><span class="value">{$post_title}</span><span class="subinfo">{$post_content}</span><span class="subinfo">URL : {$post_url}</span></div>
      <div title="Fetch Comments, likes and shares" class="btn btn-success btn-sm btn-block update-activity-button">Update Activities          </div>
      {$grid_buttons}
    </header>
    {rows}{row}
    <div data-id="{$id}" class="{$odd_even}"></div>{cols}    
    <div class="main-box">
      <div class="clearfix">
        <div class="infographic-box merged merged-top pull-left"><span class="value green">{$user}</span><span class="headline">{$social_app}</span><span class="value green">Posted On</span><span class="headline">{$posted_on}</span></div>
        <div class="infographic-box merged merged-top merged-right pull-left"> <span class="headline green"> Likes : {$likes}</span><span class="headline green"> Shares : {$share}</span><span href="#" data-id="{$id}" style="cursor:pointer; cursor: hand;" class="headline green post-comments"> Comments : {$total_comments}</span><span class="headline green"> Post Type : {$post_type}</span><span class="headline green"> Monitoring : {$monitoring}</span><span class="headline green"> Force Monitor : {$forcemonitoring}</span>{$action}      </div>
      </div>
    </div>{/}
    {/}{/}
    {not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
    {totals}{cols}{col}{$content}{/}{/}{/}
  </div>{$Paginator}
</div>
<style type="text/css" media="screen">
  .conversation-wrapper .conversation-body {
  background-color: #ffffff !important;
  margin-left: 0px !important;
  padding: 0px 0px 0px 0px !important;
  }    
</style>