
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th class="text-right"><a href="#" class="asc"><span>User</span></a></th>
        <th class="text-right"><a href="#" class="asc"><span>Campaign                        </span></a></th>
        <th><span>Post Type </span></th>
        <th><a href="#" class="asc"><span>Posted On </span></a></th>
        <th><a href="#" class="asc"><span>Likes </span></a></th>
        <th><a href="#" class="asc"><span>Comments </span></a></th>
        <th><a href="#" class="asc"><span>Unread Comments </span></a></th>
        <th><span>Is Monitoring</span></th>
        <th><span>Force Monitor</span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td><a href="#" data-id="{$id}" class="user-link do-view-employee">{$user}</a><span class="user-subhead">{$social_app} </span></td>
          <td>{$campaign}</td>
          <td>{$post_type}</td>
          <td>{$posted_on}</td>
          <td></td>{$likes}
          <td><a href="#" data-id="{$id}" class="do-view-post-comment">{$total_comments}</a></td>
          <td><a href="#" data-id="{$id}" class="do-view-post-comment">{$unread_comments}</a></td>
          <td>{$is_monitoring}</td>
          <td>{$force_monitor}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>
<style>
  .user-list tbody td .user-link{
    margin-left:0px!important;
  }
</style>