
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>[SUBJECT]</title>

    <style type="text/css">
    body, .bgBody {background: #fff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px; line-height:22px; color:#555;margin:0;}
    p {margin-bottom:10px;  line-height:22px;margin-top:0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px;}
    a {color:#fb3544;text-decoration:none;}
    h1 {color:#fb3544; font-size:22px; line-height:32px; margin-bottom:10px;;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
    h2 {color:#fb3544; font-size:18px; margin-bottom:10px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;border:none;}
    .bgBody {background:#fb3544;}
    .bgItem {background:#fff;}

    .bgBody, .bgBody td, table,table td, td{
        border-spacing: 0px !important;
        border:0 !important;
        border:none !important;
        border-collapse: collapse !important;
    }
    </style>

    <script type="colorScheme" class="swatch active">
    {
        "name":"Default",
        "bgBody":"fb3544",
        "link":"fb3544",
        "color":"999999",
        "bgItem":"ffffff",
        "title":"#fb3544"
    }
    </script>

</head>

<body style="margin:0;">

    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="bgBody" align='center'>
        <tr>
            <td  align='center'>


                <!--content starting-->
                

                <table width="598" cellspadding="0" cellspacing="0" border='0' align="center" class="bgItem">

                    <tr>
                        <td style="font-size:16px; line-height:24px; " width="598" class="movableContentContainer">

                            <div class="movableContent" class='bgBody'>
                                <table width="598" cellspadding="0" cellspacing="0" border="0" align="center" class='bgBody'>
                                    <tr>
                                        <td align="center" style="padding-top:10px;" width='598'>
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                    <p style="color:#ffffff">&#x2764; &#x2764; Treat your Valentine's on February 14<sup>th</sup>! &#x2764;&#x2764; <br><a target='_blank' href="[SHOWEMAIL]" style="color:#ffccd4; ">View email in browser</a></p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="598" align="center" style="background-color:#ffccd4;">
                                            <!--Header Image-->
                                            <div class="movableContent" data-type="image">
                                                <div class="contentEditableContainer contentImageEditable">
                                                    <div class="contentEditable">
                                                        <img data-default="placeholder" src="images/header.jpg" data-max-width="598" width='598' height="200">
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!-- Text -->
                            <div class="movableContent">
                                <table width="598" cellspadding="0" cellspacing="0" border='0'>
                                    <tr>
                                        <td width='20'></td>
                                        <td width='558'>
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                    <h2 style="text-align:left;">Don't let Cupid take all the glory! </h2>
                                                    <p style="text-align:left;">From limited time, special flavours to romantic delicacies, Valentine's day is a time to connect with your customers and tell <em>them</em> why they're so special, and why you love them so much.</p>
                                                    <p style="text-align:right;"><a target='_blank' href="[CLIENTS.WEBSITE]">Read more</a></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td width='20'></td>
                                    </tr>
                                </table>
                                
                            </div>
                            <!-- .Text -->

                            <!-- Line -->
                            <div class="movableContent">
                                <img data-default="placeholder" src="images/line_white.png" height="10" width="598">
                            </div>
                            <!-- .Line -->

                            <!-- Image + Text -->
                            <div class="movableContent">
                                <table width="598" cellpadding="0" cellspacing="0" border='0'>
                                    <tr>
                                        <td width='20'></td>
                                        <td valign="top" align="center" width='190'>
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable">
                                                    <img data-default="placeholder" src="images/temp_img_1.png" data-max-width="300" width="190">
                                                </div>
                                            </div>
                                        </td>
                                        <td width='20'></td>
                                        <td valign="top" width='348'>
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                   <h2 style="text-align:left;">What's special about Valentine's day?</h2>
                                                   <p style="text-align:left;">Hosting a couple's event? Limited time chocolate cupcake available? </p>
                                                   <p style="text-align:right;"><a target='_blank' href="[CLIENTS.WEBSITE]">Share the details!</a>
                                                   </p>
                                               </div>
                                           </div>
                                       </td>
                                       <td width='20'></td>
                                   </tr>
                               </table>
                           </div>
                           <!-- .Image + Text -->

                           <!-- Line -->
                           <div class="movableContent" style="margin-top:10px;margin-bottom:10px;">
                            <img data-default="placeholder" src="images/line_black.png" width="598">
                        </div>
                        <!-- .Line -->

                        <!-- Image + Image + Image -->
                        <div class="movableContent">
                            <table width="598" cellpadding="0" cellspacing="0" border='0'>
                                <tr>
                                    <td width='20'></td>
                                    <td valign="top" align="center" width='177'>
                                        <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable">
                                                <img data-default="placeholder" src="images/temp_img_2.png" data-max-width="150" width="150">
                                            </div>
                                        </div>
                                    </td>
                                    <td width="15">
                                    </td>
                                    <td valign="top" align="center" width='175'>
                                        <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable">
                                                <img data-default="placeholder" src="images/temp_img_2.png" data-max-width="150" width="150">
                                            </div>
                                        </div>
                                    </td>
                                    <td width="14">
                                    </td>
                                    <td valign="top" valign="top" align="center" width='177'>

                                        <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable">
                                                <img data-default="placeholder" src="images/temp_img_2.png" data-max-width="150" width="150">
                                            </div>
                                        </div>
                                    </td>
                                    <td width='20'></td>
                                </tr>
                                <!--Text + Text + Text-->
                                <tr align='center'>
                                    <td width='20'></td>
                                    <td valign="top" width='177'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable">
                                                <h2 style="text-align:left;">New Flavours!</h2>
                                                <p style="text-align:left;">Red Velvet with Chocolate Twists</p>


                                            </div>
                                        </div>
                                    </td>
                                    <td width="15">
                                    </td>
                                    <td valign="top" width='175'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable">

                                                <h2 style="text-align:left;">New Flavours!</h2>
                                                <p style="text-align:left;">Red Velvet with Chocolate Twists</p>


                                            </div>
                                        </div>
                                    </td>
                                    <td width="14">
                                    </td>
                                    <td valign="top" width='177'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable">
                                                <h2 style="text-align:left;">New Flavours!</h2>
                                                <p style="text-align:left;">Red Velvet with Chocolate Twists</p>

                                            </div>
                                        </div>
                                    </td>
                                    <td width='20'></td>
                                </tr>
                                <!--Buttons-->
                                <tr>
                                    <td width='20'></td>
                                    <td align='left' valign='middle' width='177'>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class="contentEditable">
                                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#cd0111; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>I want one!</a>
                                          </div>
                                      </div>
                                  </td>
                                  <td width="15">
                                  </td>
                                  <td align='left' valign='middle' width='175'>
                                      <div class='contentEditableContainer contentTextEditable'>
                                        <div class="contentEditable">
                                          <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#cd0111; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>I want one!</a>
                                      </div>
                                  </div>
                              </td>
                              <td width="15">
                              </td>
                              <td align='left' valign='middle' width='177'>
                                  <div class='contentEditableContainer contentTextEditable'>
                                    <div class="contentEditable">
                                      <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#cd0111; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>I want one!</a>
                                  </div>
                              </div>
                          </td>
                          <td width='20'></td>
                      </tr>
                  </table>
              </div>
              <!-- .Image + Image + Image-->
              <!-- Line -->
              <div class="movableContent" style="margin-top:10px;margin-bottom:10px;">
                <img data-default="placeholder" src="images/line_black.png" width="598">
            </div>
            <!-- .Line -->
            <!-- Image + Image + Image -->
            <div class="movableContent">
                <table width="598" cellpadding="0" cellspacing="0" border='0'>
                    <tr>
                        <td width='20'></td>
                        <td valign="top" align="center" width='177'>
                            <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable">
                                    <img data-default="placeholder" src="images/temp_img_2.png" data-max-width="150" width="150">
                                </div>
                            </div>
                        </td>
                        <td width="15">
                        </td>
                        <td valign="top" align="center" width='175'>
                            <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable">
                                    <img data-default="placeholder" src="images/temp_img_2.png" data-max-width="150" width="150">
                                </div>
                            </div>
                        </td>
                        <td width="14">
                        </td>
                        <td valign="top" valign="top" align="center" width='177'>

                            <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable">
                                    <img data-default="placeholder" src="images/temp_img_2.png" data-max-width="150" width="150">
                                </div>
                            </div>
                        </td>
                        <td width='20'></td>
                    </tr>
                    <!--Text + Text + Text-->
                    <tr align='center'>
                        <td width='20'></td>
                        <td valign="top" width='177'>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <h2 style="text-align:left;">New Flavours!</h2>
                                    <p style="text-align:left;">Red Velvet with Chocolate Twists</p>


                                </div>
                            </div>
                        </td>
                        <td width="15">
                        </td>
                        <td valign="top" width='175'>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">

                                    <h2 style="text-align:left;">New Flavours!</h2>
                                    <p style="text-align:left;">Red Velvet with Chocolate Twists</p>


                                </div>
                            </div>
                        </td>
                        <td width="14">
                        </td>
                        <td valign="top" width='177'>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <h2 style="text-align:left;">New Flavours!</h2>
                                    <p style="text-align:left;">Red Velvet with Chocolate Twists</p>

                                </div>
                            </div>
                        </td>
                        <td width='20'></td>
                    </tr>
                    <!--Buttons-->
                    <tr>
                        <td width='20'></td>
                        <td align='left' valign='middle' width='177'>
                            <div class='contentEditableContainer contentTextEditable'>
                                <div class="contentEditable">
                                  <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#cd0111; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>I want one!</a>
                              </div>
                          </div>
                      </td>
                      <td width="15">
                      </td>
                      <td align='left' valign='middle' width='175'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class="contentEditable">
                              <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#cd0111; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>I want one!</a>
                          </div>
                      </div>
                  </td>
                  <td width="14">
                  </td>
                  <td align='left' valign='middle' width='177'>
                      <div class='contentEditableContainer contentTextEditable'>
                        <div class="contentEditable">
                          <a target='_blank' href="[CLIENTS.WEBSITE]" style='background:#cd0111; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>I want one!</a>
                      </div>
                  </div>
              </td>
              <td width='20'></td>
          </tr>
      </table>
  </div>
  <!-- .Image + Image + Image-->
  <!-- Line -->
  <div class="movableContent" style="margin-top:10px;margin-bottom:10px;">
    <img data-default="placeholder" src="images/line_black.png" width="598">
</div>
<!-- .Line -->

<!-- Text + Text -->
<div class="movableContent">
    <table width="598" cellpadding="0" cellspacing="0" border='0'>
        <tr>
            <td width='20'></td>
            <td valign="top" width="259">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                     <div class="contentEditable">
                        <h2 style="text-align:left;">Share a recipe</h2>
                        <p style="text-align:left;">While you don't want to give away your secret ingredient, the occasional recipe or baker's tip goes a long way to building a relationship. Who doesn't like a good recipe swap?</p>
                        <p style="text-align:right;"><a target='_blank' href="[CLIENTS.WEBSITE]">Read More</a></p>
                    </div>
                </div>
            </div>
        </td>
        <td width='40'></td>
        <td valign="top" width="259">
            <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable">
                    <div class="contentEditable">
                        <h2 style="text-align:left;">Opening Hours</h2>
                        <p style="text-align:left;">Monday through Friday, 9 AM to 5 PM<br>Saturday, 10 AM to 5 PM<br> Sunday, 12 PM to 5 PM</p>
                        <p style="text-align:right;"><a target='_blank' href="[CLIENTS.WEBSITE]">See events</a></p>
                    </div>
                </div>
            </div>
        </td>
        <td width='20'></td>
    </tr>
</table>
</div>
<!-- .Text + Text -->

<!-- Line -->
<div class="movableContent" style="margin-top:10px;margin-bottom:10px;">
    <img data-default="placeholder" src="images/line_black.png" width="598">
</div>
<!-- .Line -->

<!-- Qr Code -->
<div class="movableContent">
    <table width="598" cellpadding="0" cellspacing="0" border='0'>
        <tr>
            <td width='20'></td>
            <td valign="top"  style="padding-top:20px">
                <div class="contentQrcodeEditable contentEditableContainer">
                    <div class="contentEditable">
                        <img data-default="placeholder" src="images/qr_code.png" width="75" height="75">
                    </div>
                </div>
            </td>
            <td width='20'></td>
            <td valign="top" >
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                        <div class="contentEditable">
                            <h2 style="text-align:left;">Using a QR Code</h2>
                            <p style="text-align:left;">If you have a mobile app or mobile website, you can use a QR code to create a link to it.</p>
                        </div>
                    </div>
                </div>
            </td>
            <td width='20'></td>
        </tr>

    </table>
</div>
<!-- .Qr Code -->

<!-- Line -->
<div class="movableContent" style="margin-top:10px;margin-bottom:10px;">
    <img data-default="placeholder" src="images/line_black.png" width="598">
</div>
<!-- .Line -->

<!-- Gmap -->
<div class="movableContent">
    <table width="598" cellpadding="0" cellspacing="0" border='0'>
        <tr>
            <td width='20'></td>
            <td valign="top"  style="padding-top:20px">
                <div class="contentGmapEditable contentEditableContainer">
                    <div class="contentEditable">
                        <img data-default="placeholder" src="images/gmap_example.png" width="175">
                    </div>
                </div>
            </td>
            <td width='20'></td>
            <td valign="top" >
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                        <h2 style="text-align:left;">Contact Us</h2>
                        <p style="text-align:left;">[CLIENTS.ADDRESS]</p>
                        <p style="text-align:left;">[CLIENTS.PHONE]</p>
                        <p style="text-align:left;">Or <a target='_blank' href="mailto:[SENDER_EMAIL]">send us an email</a></p>
                    </div>
                </div>
            </td>
            <td width='20'></td>
        </tr>
    </table>
</div>
<!-- .Gmap -->

<!-- Line -->
<div class="movableContent" style="margin-top:10px;margin-bottom:10px;">
    <img data-default="placeholder" src="images/line_black.png" width="598">
</div>
<!-- .Line -->

<!-- Social -->
<div class="movableContent">
    <table width="598" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td valign="top" width="280">
                <div class="contentEditableContainer contentFacebookEditable">
                    <div class="contentEditable">
                        <img data-default="placeholder" src="images/icon_facebook.png" data-customIcon="true" data-noText="true" width='280'  data-max-width='280'>
                    </div>
                </div>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">

                        <p>Like us on Facebook to keep up with our news, updates and other discussions.</p>
                    </div>
                </div>
            </td>
            <td width='38'></td>
            <td valign="top" width="280">
                <div class="contentEditableContainer contentTwitterEditable">
                    <div class="contentEditable">
                        <img data-default="placeholder" src="images/icon_twitter.png" data-customIcon="true" data-noText="true" width='280'  data-max-width='280'>
                    </div>
                </div>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">

                        <p>Follow us on Twitter to stay up to date with company news and other information.</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- .Social -->

<div class="movableContent">
<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#000">
    <tr>
        <td>
            <!--content starting-->
            <table width="598" cellspadding="0" cellspacing="0" border="0" align="center" bgcolor="#000">

                <tr>
                    <td align="center" style="padding-top:10px; font-size:12px; color:#FFF; padding-bottom:20px;">
                     <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable">
                            <p>[CLIENTS.ADDRESS]</p>
                            <a target='_blank' href="[FORWARD]" >Forward to a friend</a> <br>
                            <p>If you don’t want to receive emails from us anymore, <a target='_blank' href="[UNSUBSCRIBE]">click here to unsubscribe</a>.</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>



</td>
</tr>
</table>


</td>
</tr>
</table><!--table 100%-->


</body>

</html>