
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">{$heading} &nbsp;&nbsp;&nbsp;&nbsp; [Employee: {$employee}]</div>
    <div class="panel-body">
      <div style="cursor:pointer; cursor:hand;" class="row">
        <div class="col-md-6"><strong>Leads Added : &nbsp;&nbsp;</strong><span class="value1">{$value1} </span></div>
        <div class="col-md-6"><strong>Leads Assigned : &nbsp;&nbsp;</strong><span class="value2">{$value2}</span></div>
      </div>
    </div>
  </div>
</div>