<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
 }

 p, h1{
  color:#382F2E;
 }
h2{
color:#382F2E;
font-size: 21px;
margin:0;
font-weight:normal;
font-family:Georgia, serif;
}
a{
color:#382F2E;
font-size: 14px;
margin:0;
line-height: 45px;
font-family:Georgia, serif;
}

p{
color:#967B76;
font-size: 16px;
margin:0;
line-height: 22px;
font-family:Georgia, serif;
}
 .bgBody{
  background: #d1d2d4;
 }
 </style>
 
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"d1d2d4",
    "link":"382F2E",
    "color":"967B76",
    "bgItem":"ffffff",
    "title":"382F2E"
  }
</script>
</head>
<body paddingwidth="0" paddingheight="0"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" >
    <!--header-->
    <tr>
      <td valign='top'>
        <table  width="600" border="0" cellspacing="0" cellpadding="0" align="center" style='background-color:#ffffff;font-family:Georgia, serif;' >

          <tr>
            <td class='movableContentContainer bgItem' >
              

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style='background:#2E0B05;'>
                 <tr >
                  <td bgcolor='#2E0B05'valign='top' align="center" width='600' style='padding:6px 25px;'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" align='center'>
                        <p style="color:#EACEAA;font-size:12px;font-family:Verdana, sans-serif;text-align:center;">You are receiving this email because you signed up for our mailing list. <a target='_blank' href="[SHOWEMAIL]" style='color:#bbbbbb;font-weight:bold;'> Open</a> this email in your browser.</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style='background:#2E0B05;'>
                <tr >
                  <td bgcolor='#2E0B05'valign='top' align="center" width='600' >
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='20'>&nbsp;</td>
                        <td width='280' align='left' style='padding:15px 0;'>
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable" >
                              <img src="images/logo.png" alt='Compagnie logo' data-default="placeholder" data-max-width="280">
                            </div>
                          </div>  
                        </td>
                        <td width='280'>
                          <table width="280" border="0" cellspacing="0" cellpadding="0" align="center" style='background-color:#2E0B05;font-family: Verdana, sans-serif;'>
                            <tr>
                              <td width='60' align='right'>
                                <div class="contentEditableContainer contentFacebookEditable">
                                  <div class="contentEditable">
                                    <img src="images/facebook.png" alt='facebook icon' width='35' height='35' data-default="placeholder" data-max-width="35" data-customIcon="true" data-noText="false">
                                  </div>
                                </div> 
                              </td>
                              <td width='45' align='right'>
                                <div class="contentEditableContainer contentTwitterEditable">
                                  <div class="contentEditable" >
                                    <img src="images/twitter.png" alt='twitter icon' width='35' height='35' data-default="placeholder" data-max-width="35" data-customIcon="true" data-noText="false">
                                  </div>
                                </div> 
                              </td>
                              <td width='175' align='right'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable" >
                                    <a target='_blank' href="#" style='padding:10px 18px;color:#2E0B05;background:#EACEAA;text-decoration:none;font-weight:bold;font-size:13px;border-radius:30px;’-moz-border-radius:30px;-webkit-border-radius:30px;font-family:Georgia, serif;'>Visit our website</a>
                                  </div>
                                </div> 
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width='20'>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor='#2E0B05'>
                <tr>
                  <td  width='600' height='222'>
                    <div class="contentEditableContainer contentImageEditable">
                      <div class="contentEditable" align='center'>
                        <img src="images/cafe.jpg" alt='Featured image'  data-default="placeholder" data-max-width="600">
                      </div>
                    </div> 
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style='background:#9F2F00;'>
                <tr >
                  <td bgcolor='#9F2F00' style='padding: 20px;' >
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" align='center'>
                         <p style='color:#ffffff;font-style:italic;font-size: 16px;margin:0;font-family:Georgia, serif;font-style:italic;'>This template features other unique content sections. Some have images, others use unique text areas. If you delete those section, you wont be able to reproduce them. You can still edit them as you please.</p>
                      </div>
                    </div> 
                  </td>
                </tr>
              </table>
            </div>

              <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" >
                  <tr><td height='42'></td></tr>

                  <tr>
                    <td align='center'>
                      <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable">
                           <p style='color:#967B76;font-size: 26px;margin:0;font-family:Georgia, serif;'>Featured Menu Items</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width='560' height='38'>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                          <td align='center' width='186'>
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" align='center'>
                                <img src="images/soup.jpg" alt='soup image' width='170' height='120' data-default="placeholder" data-max-width="170">
                              </div>
                            </div>
                          </td>
                          <td align='center' width='186'>
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" align='center'>
                                <img src="images/salad.jpg" alt='salade image' width='170' height='120' data-default="placeholder" data-max-width="170">
                              </div>
                            </div>
                          </td>
                          <td align='center' width='186'>
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" align='center'>
                                <img src="images/panini.jpg" alt='panini image' width='170' height='120' data-default="placeholder" data-max-width="170">
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td align='center' style='padding:12px 0 0 0;' width='186' valign='top'>
                            <table width="186" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tr>
                                <td align='center' valign='top'>
                                    <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                       <p style='width:88%'>These images are 170px by 120px</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='10'></td></tr>
                              <tr>
                                <td align='center' valign='top'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                       <p style='color:#382F2E;font-size: 24px;margin:0;font-family:Georgia, serif;'>$3.25</p>
                                    </div>
                                  </div>
                                </td> 
                              </tr>
                            </table>
                          </td>
                          <td align='center' style='padding:12px 0 0 0;' width='186' valign='top'>
                            <table width="186" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tr>
                                <td align='center' valign='top'>
                                    <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                        <p style='width:88%;'>If you delete this section, you can't get it back</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='10'></td></tr>
                              <tr>
                                <td align='center' valign='top'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                       <p style='color:#382F2E;font-size: 24px;margin:0;font-family:Georgia, serif;'>$3.25</p>
                                    </div>
                                  </div>
                                </td> 
                              </tr>
                            </table>
                          </td>
                          <td align='center' style='padding:12px 0 0 0;' width='186' valign='top'>
                            <table width="186" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tr>
                                <td align='center' valign='top'>
                                    <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                       <p style='width:88%;'>unless you use the "Browse Previous Version" functionality</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr><td height='10'></td></tr>
                              <tr>
                                <td align='center' valign='top'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                       <p style='color:#382F2E;font-size: 24px;margin:0;font-family:Georgia, serif;'>$3.25</p>
                                    </div>
                                  </div>
                                </td> 
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td height='42'>&nbsp;</td>
                  </tr>
                  <tr>
                    <td height='1' bgcolor='#efe8e0'></td>
                  </tr>
                </table>
              </div>

              <div class='movableContent'>
                <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td height='42'>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align='left'>
                      <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable">
                          <h2>About the caffé</h2>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td height='20'>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align='left' valign='top'>
                      <div class="contentEditableContainer contentTextEditable">
                        <div class="contentEditable">
                          <p >Do you host special events? Tasting sessions? Use local produce? Talk about yourself, your values, share a story or a customer testimonial with your contacts.</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>


            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
                <tr>
                  <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='600' height='41'>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable" align='center'>
                              <img src="images/footterHeader.png" alt="Footer's Head" width='600' height='51'>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td width='600' height='15' bgcolor='#F8F2EB'>&nbsp;</td >
                      </tr>
                      <tr>
                        <td width='600' align='center' bgcolor='#F8F2EB'>
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable" align='center'>
                              <img src="images/map.jpg" alt='map' data-default="placeholder" height='260' data-max-width="600">
                            </div>                  
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td width='600' height='50' bgcolor='#F8F2EB'>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width='600' bgcolor='#F8F2EB' style='padding:0 20px;'>
                          <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                              <td width='300' valign='top'>
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable">
                                     <p style='color:#967B76;font-size: 16px;margin:0;font-family:Georgia, serif;'>[CLIENTS.COMPANY_NAME]<br>[CLIENTS.ADDRESS]</p>
                                     <p style='color:#382F2E;font-size: 24px;margin:0;line-height: 55px;font-family:Georgia, serif;'>514.567.8910</p>
                                  </div>
                                </div>
                              </td>
                              <td width='170'  align='right'>
                                <div class="contentEditableContainer contentTwitterEditable">
                                  <div class="contentEditable" >
                                    <img src="images/twitter_footer.png" alt='twitter icon' width='72' height='72' data-default="placeholder" data-max-width="72" data-customIcon="true" data-noText="false">
                                  </div>                  
                                </div>
                              </td>
                              <td align='right' width='90'>
                                <div class="contentEditableContainer contentFacebookEditable">
                                  <div class="contentEditable" >
                                    <img src="images/facebook_footer.png" alt='facebook icon' width='72' height='72' data-default="placeholder" data-max-width="72" data-customIcon="true" data-noText="false">
                                  </div>                  
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td width='600' height='25' bgcolor='#F8F2EB'>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

              <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
                <tr>
                  <td width='560' bgcolor='#EEE7DD' style='padding:15px 20px 5px 10px;' valign='top'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" align='left'>
                         <p style='color:#bfa29b;font-size: 14px;margin:0;line-height:16px;font-family:Georgia, serif;'>Dont forget to link the twitter and facebook icon from  <br> the header.<br></p>
                         <p><a target='_blank' href="[FORWARD]" style='display:block;'>Forward to a friend</a>
                         <a target='_blank' href='[UNSUBSCRIBE]' style='display:block;line-height:10px;'>Unsubscribe</a><br/></p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>


            </td>
          </tr>

          
          


      </table>
    </td>
  </tr>
<!-- end footer-->

</table>


</body>
</html>
