<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h1,h2,ul,ol,li,div{
  margin:0;
  padding:0;
}

h1,h2{
  font-weight: normal;
  background:transparent !important;
  border:none !important;
}

.contentEditable h2.big{
  font-size: 30px !important;
}

 .contentEditable h2.bigger{
  font-size: 37px !important;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a.link1{
  font-size:13px;
  color:#B791BF;
  text-decoration:none;
}

.link2{
font-size:13px;
color:#ffffff;
text-decoration:none;
line-height:19px;
font-family: Helvetica;
}

.link3{
color:#FBEFFE;
text-decoration: none;
}

.contentEditable li{
  margin-top:10px;
  margin-bottom:10px;
  list-style: none;
  color:#ffffff;
  text-align:center;
  font-size:13px;
  line-height:19px;
}

.appart p{
  font-size:13px;
  line-height:19px;
  color:#aaaaaa !important;
}
.bgBody{background:#CFB4D5;}
.bgItem{background:#CFB4D5;}

</style>


<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"CFB4D5",
    "link":"B791BF",
    "color":"ffffff",
    "bgItem":"CFB4D5",
    "title":"ffffff"
}
</script>


</head>
<body paddingwidth="0" paddingheight="0" class='bgBody'  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" style='font-family:Georgia, serif;'>
    <!-- =============== START HEADER =============== -->
    
  <tr>
    <td width='660' align='center'  >
      <table width="660" border="0" cellspacing="0" cellpadding="0" align="center" class="bgItem">

        <tr>
 <!-- =============== END HEADER =============== -->
          <!-- =============== START BODY =============== -->
          <td align='center' width='660' class='movableContentContainer'>

            <div class='movableContent'>
              <table width="660" border="0" cellspacing="0" cellpadding="0" align="center" >
                <tr>
                  <td align='center'>
                    <div class="contentEditableContainer contentImageEditable">
                      <div class="contentEditable" >
                        <img src="images/bigImg.jpg" alt='Wedding couple' data-default="placeholder" data-max-width="660" width='660' height='250' >
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='15'></td></tr>
                <tr>
                  <td>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#FBEFFE;font-size:13px;text-align:right;'>
                        <p>[DATE|0|F j, Y]</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='30' colspan='3'></td></tr>
                <tr>
                  <td class='middle' width='100'><div style='border-top:1px solid #EBCDF1'></div></td>
                  <td>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#ffffff;text-align:center;font-family:Baskerville;'>
                        <h2 class='bigger'>Bride & Groom</h2>
                      </div>
                    </div>
                  </td>
                  <td class='middle' width='100'><div style='border-top:1px solid #EBCDF1'></div></td>
                </tr>
                <tr><td height='50' colspan='3'></td></tr>
                <tr>
                  <td colspan='3'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#ffffff;text-align:center;font-family:Baskerville;font-weight:normal;font-style:italic;'>
                        <h2 class='big'>Our Story</h2>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td height='20' colspan='3'></td></tr>
                <tr>
                  <td width='80'></td>
                  <td  align='center'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#ffffff;font-size:13px;line-height:19px;'>
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                      </div>
                    </div>
                  </td>
                  <td width='80'></td>
                </tr>
              </table>
            </div>

            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td colspan='5' height='50'></td></tr>
                <tr><td colspan='5'><div style='border-top:1px solid #EBCDF2;'></div></td></tr>
                <tr><td colspan='5' height='35'></td></tr>
                <tr>
                  <td colspan='5'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#ffffff;text-align:center;font-family:Baskerville;font-weight:normal;font-style:italic;'>
                        <h2 class='big'>Menu</h2>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td colspan='5' height='15'></td></tr>
                <tr>
                  <td width='40'></td>
                  <td width='230' align='center'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable">
                        <ul >
                          <li><h2 style='font-size:18px;line-height:50px;'>Standard Menu</h2></li>
                          <li>Hors d'oeuvres</li>
                          <li>***</li>
                          <li>Appetizer</li>
                          <li>***</li>
                          <li>Main</li>
                          <li>***</li>
                          <li>Dessert</li>
                        </ul>
                        <br>
                        <br>
                        <a target='_blank' href="mailto:[SENDER_EMAIL]?subject=Menu Option 1" class='link1' style='text-align:center;display:block;width:100%;background:#FBEFFE;border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;padding-top:10px;padding-bottom:10px;'>I want this</a>
                      </div>
                    </div>
                  </td>
                  <td width='60'></td>
                  <td width='230' align='center'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" >
                        <ul >
                          <li><h2 style='font-size:18px;line-height:50px;'>Vegan Menu</h2></li>
                          <li>Hors d'oeuvres</li>
                          <li>***</li>
                          <li>Appetizers</li>
                          <li>***</li>
                          <li>Main</li>
                          <li>***</li>
                          <li>Dessert</li>
                        </ul>
                        <br>
                        <br>
                        <a target='_blank' href="mailto:[SENDER_EMAIL]?subject=Menu Option 2" class='link1' style='text-align:center;display:block;width:100%;background:#FBEFFE;border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;padding-top:10px;padding-bottom:10px;'>I want this</a>
                      </div>
                    </div>
                  </td>
                  <td width='40'></td>
                </tr>
              </table>
            </div>

            <div class='movableContent' >
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td colspan='2' height='50'></td></tr>
                <tr><td colspan='2'><div style='border-top:1px solid #EBCDF2;'></div></td></tr>
                <tr><td colspan='2' height='35'></td></tr>
                <tr>
                  <td colspan='2'>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#ffffff;text-align:center;font-family:Baskerville;font-weight:normal;font-style:italic;'>
                        <h2 class='big'>The Wedding</h2>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td colspan='2' height='30'></td></tr>
                <tr>
                  <td width='305' style='border-top-left-radius:6px;border-bottom-left-radius:6px;' bgcolor='#ffffff'>
                    <div class="contentEditableContainer contentGmapEditable">
                      <div class="contentEditable" >
                        <img src="images/map.jpg" alt='Google Map' data-default="placeholder" data-max-width="305" width='305' height='240' style='border-top-left-radius:6px;border-bottom-left-radius:6px;'>
                      </div>
                    </div>
                  </td>
                  <td width='295' bgcolor='#ffffff' style='border-top-right-radius:6px;border-bottom-right-radius:6px;'>
                    <table width="295" border="0" cellspacing="0" cellpadding="0" align="center" >
                      <tr><td height='25'></td></tr>
                      <tr>
                        <td width='25'></td>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable appart" style='font-size:13px;line-height:19px;color:#aaaaaa;'>
                              <h3 style='font-size:16px;line-height:24px;color:#444444;'>Sistine Chapel</h3>
                              <p>Viale Vaticano, 00120 Città del
                              <br>Vaticano, Vatican City ‎
                              <br>+39 06 6988 4676</p>
                              <br>
                              <br>
                              <br>
                              <a target='_blank' href="#" class='link2' style='color:#ffffff;background:#CFB4D5;padding:10px 18px;border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;'>Open in Google Maps</a>
                            </div>
                          </div>
                        </td>
                        <td width='25'></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
              
            <div class='movableContent'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='75'></td></tr>

                <tr><td><div style='border-top:1px solid #EBCDF2;'></div></td></tr>

                <tr><td height='25'></td></tr>

                <tr>
                  <td>
                    <div class="contentEditableContainer contentTextEditable">
                      <div class="contentEditable" style='color:#FBEFFE;text-align:center;font-size:13px;line-height:19px;'>
                        <p>Sent by [SENDER_NAME] <br>
                          [CLIENTS.ADDRESS] <br>
                          [CLIENTS.PHONE] <br>
                          <a target='_blank' href="[SHOWEMAIL]" class='link3' style='color:#ffffff;'>Open in browser</a><br>
                          <a target='_blank' href="[FORWARD]" class='link3' style='color:#ffffff;'>Forward to a friend</a><br>
                          <a target='_blank' href="[UNSUBSCRIBE]"  class='link3' style='color:#ffffff;'>unsubscribe</a>
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>


          </td>
        </tr>

        <tr><td height='20'></td></tr>
        
<!-- =============== END FOOTER =============== -->
      </table>
    </td>
  </tr>
</table>


  </body>
  </html>
