<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <style>

body{ 
  width:100% !important; 
  min-width: 100%;
  -webkit-text-size-adjust:100%; 
  -ms-text-size-adjust:100%; 
  margin:0; 
  padding:0;
  color:#978C9A;
}

#backgroundTable { 
  margin:0; 
  padding:0; 
  width:100% !important; 
  line-height: 100% !important; 
}

.bgBody table img { 
  outline:none; 
  text-decoration:none; 
  -ms-interpolation-mode: bicubic;
  width: auto;
  clear: both; 
  display: block;
}
a img { 
  border: none;
}

p {
  margin: 0 0 0 10px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td { 
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; 
}

.bgBody table, table.bgBody,.bgBody tr,.bgBody td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

hr {
  color: #333; 
  background-color: #333; 
  height: 2px; 
  border: none;
}

/* Responsive Grid */

table.body {
  height: 100%;
  width: 100%;
}

td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}

/* Typography */

body, table.body, h1, h2, h3, h4, h5, h6, p, td { 
  color:#978C9A;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal; 
  padding:0; 
  margin: 0;
  text-align: left; 
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  word-break: normal;
  color:#fff;
}

h1 {font-size: 40px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 18px;}
body, table.body, p, td {font-size: 16px;line-height:24px;}

p.lead, p.lede, p.leed {
  font-size: 18px;
  line-height:21px;
}

p { 
  margin-bottom: 10px;
}

small {
  font-size: 10px;
}

a {
  color: #D34E7D;
  font-weight: normal; 
  text-decoration: none;
}

a:hover { 
  color: #D34E7D !important;
}

a:active { 
  color: #D34E7D !important;
}

a:visited { 
  color: #D34E7D !important;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
  color: #D34E7D;
}

h1 a:active, 
h2 a:active,  
h3 a:active, 
h4 a:active, 
h5 a:active, 
h6 a:active { 
  color: #2ba6cb !important; 
} 

h1 a:visited, 
h2 a:visited,  
h3 a:visited, 
h4 a:visited, 
h5 a:visited, 
h6 a:visited { 
  color: #2ba6cb !important; 
} 

/* Panels */

.panel {
  background: #222222;
  border: 2px solid #333;
  padding: 10px !important;
}

.panel.purple {
  background: #34143C;
  border: 2px solid #572878;
  padding: 10px !important;
}
.panel.purple.promo p {
  text-align:center;
  margin:0;
}
.panel.purple.promo a {
  color:#ECBEF7 !important;
  font-size:20px;
  font-weight: normal;
  line-height:40px;
}

</style>
<style>

  table.facebook td {
    background: #3b5998;
    border-color: #2d4473;
  }

  table.facebook:hover td {
    background: #2d4473 !important;
  }

  table.twitter td {
    background: #00acee;
    border-color: #0087bb;
  }

  table.twitter:hover td {
    background: #0087bb !important;
  }


  .template-label {
    color: #ffffff;
    font-weight: normal;
    font-size: 11px;
  }

  .callout .panel {
    background: #ECF8FF;
    border-color: #b9e5ff;
  }


  .gray-text {
    color:#978C9A;
  }
  .gray-text a {
    color:#978C9A !important;
    font-weight: normal;
  }
  .white-text {
    color:#fff;
  }

  .footer {
    border-top:2px solid #333;
  }
  .footer a {
    font-weight: normal;
    font-size:14px;
    color:#978C9A !important;
  }
  .footer h5 {
    padding-bottom: 10px;
  }
  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }
  p{

  }
  a.link1{

  }
  a.link2{

  }
  a.link3{

  }
  a.link4{

  }
  h2{

  }
</style>
<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"181818",
    "link":"D34E7D",
    "color":"999999",
    "bgItem":"181818",
    "title":"ffffff"
}
</script>
</head>
<body >
  <table class='bgBody' bgcolor="#181818" width='100%' class="body"  cellpadding="0"  cellspacing="0" border="0" align='center'>
    <tr>
      <td  class="center" align="center" valign="top">
        <center>

          <table width='100%' cellpadding="0"  cellspacing="0" border="0">
            <tr>
              <td class="center" align="center">
                <center>
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" >
                      <img src="imgs/colors.png" width="100%" style="width:100%;height:10px;" data-default="placeholder" />
                    </div>
                  </div>
                </center>
              </td>
            </tr>
          </table>

          <table width='600' cellpadding="0"  cellspacing="0" border="0">
            <tr> 
              <td class='movableContentContainer bgItem' align='center'>
                <!-- Movable Content start -->
                <!-- content start -->

                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30'></td></tr>
                    <tr>
                      <td align='center'>

                        <table width='600' cellpadding="0"  cellspacing="0" border="0">
                          <tr>
                            <td width='300'>
                              <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable" >
                                  <img src="imgs/logo.png" width="200" height="50" data-default="placeholder" >
                                </div>
                              </div>
                            </td>

                            <td width='300' style="text-align:right; vertical-align:middle;">
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <span class="gray-text"><a target='_blank' href="[SHOWEMAIL]">Open in a browser</a></span>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </div>

                <div class='movableContent'>
                  <table  width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30' ></td></tr>
                    <tr>
                      <td align='center'>

                        <table width='600' cellpadding="0"  cellspacing="0" border="0" align="center">
                          <tr>
                            <td align="center">
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 style="text-align:center;font-size: 40px;" class="white-text">Hello [firstname,Gorgeous]!</h2>
                                  <p style="text-align:center;" class="gray-text">See the wow worthy palette for this season.</p>
                                </div>
                              </div>
                              
                              <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable" style="text-align: center;">
                                  <img width="580" height="350" src="imgs/hero.jpg" data-default="placeholder" data-max-width="580" style='margin:0 auto;'>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                        <table width='600' cellpadding="0"  cellspacing="0" border="0">
                          <tr>
                            <td class="panel purple promo">
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <p><a target='_blank' href="#">Order now and get 50% off</a></p>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </div>

                <!-- row -->
                <!-- Break Tag for row -->
                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                  <tr><td height='30'></td></tr>
                    <tr>
                      <td >
                        <div class="contentEditableContainer contentImageEditable">
                          <div class="contentEditable" >
                            <img src="imgs/temp2.jpg"  width="580" height='200' alt="" data-default="placeholder" data-max-width="580"/>
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <h2 style="margin-top:10px;font-size: 24px;">Hot or cold?</h2>
                            <p>And all the colors in between. Find the right shade for your day look. Discover how you can tone it up at night.</p>
                            <a target='_blank' href="#">Book an appointment &raquo;</a>
                          </div>
                        </div>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </div>

                <!-- /row -->

                <!-- row -->
                 <!-- Break Tag for row -->
                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30' colspan="3"></td></tr>
                    <tr>
                      <td align='center' width='280'>

                        <table width='280' cellpadding="0"  cellspacing="0" border="0">
                          <tr>
                            <td align='center'>
                              <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable" >
                                  <img src="imgs/temp.jpg"  width="280" height='170' alt="" data-default="placeholder" data-max-width="280"/>
                                </div>
                              </div>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 style="margin-top:10px;font-size: 24px;">Do you Duo?</h2>
                                  <p>Blends that complement. Mixes that contrast. Pick your colors and rock 'em.</p>
                                  <a target='_blank' href="#">Pick my duo &raquo;</a>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                      <td width='40'></td>
                      <td align='center' width='280'>

                        <table width='280' cellpadding="0"  cellspacing="0" border="0">
                          <tr>
                            <td align='center'>
                              <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable" >
                                  <img src="imgs/temp.jpg"  width="280" height='170' alt="" data-default="placeholder" data-max-width="280"/>
                                </div>
                              </div>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 style="margin-top:10px;font-size: 24px;">Do you Duo?</h2>
                                  <p>Blends that complement. Mixes that contrast. Pick your colors and rock 'em.</p>
                                  <a target='_blank' href="#">Pick my duo &raquo;</a>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </div>
                
                <!-- /row -->
                <!-- row -->
                <!-- Break Tag for row -->

                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30' colspan="3"></td></tr>
                    <tr>
                      <td align='center' width='185'>
                        <div class="contentEditableContainer contentImageEditable">
                          <div class="contentEditable" >
                            <img src="imgs/girl.png" width="185" height="278" alt="" data-default="placeholder" data-max-width="180"/>
                          </div>
                        </div>
                      </td>
                      <td width='40'></td>
                      <td align='center' width='375'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <h2 style="font-size: 24px;">Pampered Princess Session</h2>
                            <p>Book an appointment for that special someone who deserves to be pampered from head to toe. Make over includes a deep cleanse and includes tips on how to apply make up. Great for Bachelorette parties, pre-prom and spring formals or just because they love color and style.</p>
                            <a target='_blank' href="#">Book an appointment &raquo;</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                
                <!-- /row -->

                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30' colspan="2"></td></tr>
                    <tr>
                      <td align='center'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <h2 style="text-align:center;font-size: 36px;" class="white-text">What's new. What's hot. What's not.</h2>
                            <p style="text-align:center;" class="gray-text">What's trending in style and fashion.</p>
                          </div>
                        </div>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </div>

                <!-- row -->
                <!-- Break Tag for row -->

                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30'></td></tr>
                    <tr>
                      <td align='center'>

                        <table class="twelve columns">
                          <tr>
                            <td style="padding-bottom:30px;">
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 style="font-size: 24px;">We loved...</h2>
                                  <p>Emma's latest do. Upscale and chic, we love the way she played off her eyes and kept the lips soft with...</p>
                                  <a target='_blank' href="#">See how she got the look &raquo;</a>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                          <tr>
                            <td style="padding-bottom:30px;">
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 style="font-size: 24px;">Red envy</h2>
                                  <p>Indulge in a bit of fire and passion with deep red lips. Or maybe pick a shade with a bit of blue to keep it majestic.</p>
                                  <a target='_blank' href="#">Find the right red for you &raquo;</a>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                          <tr>
                            <td style="padding-bottom:30px;">
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2>When makeup goes horribly wrong</h2>
                                  <p>What were they thinking? See how these stars and celebreties tried to play off their strengths with a bit too much enthusiasm.</p>
                                  <a target='_blank' href="#">10 makeup fiasco's to avoid &raquo;</a>
                                </div>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </div>
                
                <!-- /row -->

                <!-- content start -->
                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30'></td></tr>
                    <tr>
                      <td align='center'>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            <h2 style="text-align:center;font-size: 36px;" class="white-text">Lights! Camera! Events!</h2>
                            <p style="text-align:center;" class="gray-text">When it all comes together, it's magical</p>
                          </div>
                        </div>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                </div>


                <!-- row -->
                <!-- Break Tag for row -->

                <div class='movableContent'>
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='30' colspan="3"></td></tr>
                    <tr>
                      <td align='center' width='280'>

                        <table width='280' cellpadding="0"  cellspacing="0" border="0">
                          <tr>
                            <td>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 style="font-size: 24px;">What they're saying</h2>
                                  <p>"I absolutely loved [COMPANY.NAME]! They did such a wonderful job at my wedding, I told all my friends that I'm never shopping anywhere else again. Ever."</p>
                                </div>
                              </div>
                              <br/>
                              <table class="button">
                                <tr>
                                  <td>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" >
                                        <a target='_blank' href="#">See the pics</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                      <td width='40'></td>
                      <td width='280'>

                        <table width='280' cellpadding="0"  cellspacing="0" border="0">
                          <tr>
                            <td>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" >
                                  <h2 class="white-text" style='font-size:18px; '>Get inspired</h2>
                                  <p>Soft blends rather than harsh lines are more flattering for daylight</p>
                                </div>
                              </div>
                              <table>
                                <tr>
                                  <td>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" >
                                        <a target='_blank' href="#">Get the style &raquo;</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <hr>
                              <table>
                                <tr>
                                  <td>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" >
                                        <a target='_blank' href="#">Jenn's new style &raquo;</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <hr>
                              <table>
                                <tr>
                                  <td>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" >
                                        <a target='_blank' href="#">Purse Essentials &raquo;</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <hr>
                              <table>
                                <tr>
                                  <td>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" >
                                        <a target='_blank' href="#">Use promo code "FiftyShades" when you shop today &raquo;</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <hr>
                              <table>
                                <tr>
                                  <td>
                                    <div class="contentEditableContainer contentTextEditable">
                                      <div class="contentEditable" >
                                        <a target='_blank' href="#">Long lasting lipstick - truth or myth? &raquo;</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </div>

                <div class='movableContent'>
                  <!-- Legal + Unsubscribe -->
                  <table width='600' cellpadding="0"  cellspacing="0" border="0">
                    <tr><td height='60'></td></tr>
                    <tr>
                      <td align='center'>
                          <table width='600' cellpadding="0"  cellspacing="0" border="0">
                            <tr>
                              <td width='260'></td>
                              <td align='center' width='40'>
                                  <div class="contentEditableContainer contentFacebookEditable">
                                    <div class="contentEditable" >
                                      <img src="imgs/facebook.png" class="social" width="39" height="39" alt="Facebook" data-default="placeholder" data-max-width="39" data-customIcon="true"/>
                                    </div>
                                  </div>                        
                              </td>
                              <td align='center' width='40'>
                                  <div class="contentEditableContainer contentTwitterEditable">
                                    <div class="contentEditable">
                                      <img src="imgs/twitter.png" class="social" width="39" height="39" alt="Twitter" data-default="placeholder" data-max-width="39" data-customIcon="true"/>
                                    </div>
                                  </div>
                              </td>
                              <td width='260'></td>
                              <td class="expander"></td>
                            </tr>
                          </table>

                          <table width='600' cellpadding="0"  cellspacing="0" border="0">
                            <tr>
                              <td align="center" style="padding-top:10px;">
                                <div class="contentEditableContainer contentTextEditable">
                                  <div class="contentEditable">
                                    <p style="text-align:center;font-size:13px;">
                                      <span class="white-text">[CLIENTS.COMPANY_NAME]</span><br/>
                                    [CLIENTS.ADDRESS]
                                    </p>
                                  </div>
                                </div>
                              </td>
                              <td class="expander"></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding-bottom:20px;">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable">
                                      <p style="text-align:center;font-size:13px;"><a target='_blank' href="#">Terms</a> — <a target='_blank' href="#">Privacy</a> — <a target='_blank' href="[FORWARD]">Forward to a friend</a> — 
                                      <a target='_blank' href="[UNSUBSCRIBE]">Unsubscribe</a></p>
                                    </div>
                                  </div>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                      </td>
                    </tr>
                  </table>
                </div>

                <!-- /row -->
                <!-- container end below -->
              </td>
            </tr>
          </table>


          

        </center>
      </td>
    </tr>
  </table>



  </body>
  </html>