<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
    body {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     margin:0 !important;
     width: 100% !important;
     -webkit-text-size-adjust: 100% !important;
     -ms-text-size-adjust: 100% !important;
     -webkit-font-smoothing: antialiased !important;
   }
   .tableContent img {
     border: 0 !important;
     display: block !important;
     outline: none !important;
   }
   a{
    color:#382F2E;
  }

  p, h1,h2,ul,ol,li,div{
    margin:0;
    padding:0;
  }

  h1,h2{
    font-weight: normal;
    background:transparent !important;
    border:none !important;
  }

  .contentEditable h2.big,.contentEditable h1.big{
    font-size: 26px !important;
  }

  .contentEditable h2.bigger,.contentEditable h1.bigger{
    font-size: 37px !important;
  }

  td,table{
    vertical-align: top;
  }
  td.middle{
    vertical-align: middle;
  }

  a.link1{
    display:inline-block;
    font-size:13px;
    color:#d15d4d;
    line-height: 24px;
    text-decoration:none;
  }
  a{
    text-decoration: none;
  }

  .link2{
    display:inline-block;
    color:#ffffff;
    border-top:10px solid #d15d4d;
    border-bottom:10px solid #d15d4d;
    border-left:18px solid #d15d4d;
    border-right:18px solid #d15d4d;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:#d15d4d;
  }

  .link3{
    display:inline-block;
    color:#555555;
    border:1px solid #cccccc;
    padding:10px 18px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:#ffffff;
  }

  .link4{
    display:inline-block;
    color:#d15d4d;
    line-height: 24px;
  }

  h2,h1{
    line-height: 20px;
  }
  p{
    font-size: 14px;
    line-height: 21px;
    color:#AAAAAA;
  }

  .contentEditable li{

  }

  .appart p{

  }
  .bgItem{
    background: #ffffff;
  }
  .bgBody{
    background: #f8e5d1;
  }

  a:hover{
    color: #d15d4d;
  }

  img { 
    outline:none; 
    text-decoration:none; 
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-width: 100%; 
    clear: both; 
    display: block;
    float: none;
  }

  div{
    line-height: 120%;
  }

</style>


<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"f8e5d1",
    "link":"d15d4d",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
  }
</script>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="f8e5d1"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" bgcolor="f8e5d1" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, sans-serif;'>
    <!-- =============== START HEADER =============== --> 
    <tr><td align='center' height="10" style="background-color: #d15d4d"></td></tr>
    <tr><td height='15'></td></tr>

    <tr>
     <td class='movableContentContainer'>

      <div class='movableContent'>
       <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
         <tr><td height='20'></td></tr>
         <tr>
           <td align="center">
             <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
              <tr>
                <td align='center'>
                  <table width="560" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td height='25' colspan="3"></td>
                    </tr>
                    <tr>
                      <td width='100' align="center">
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class='contentEditable'>
                            <a target='_blank' href="[CLIENTS.WEBSITE]">
                              <img src="images/logo.png" alt="Logo" valign="top" width='60' data-default="placeholder" data-max-width="100" ></a>
                            </div>
                          </div>
                        </td>
                        <td width='20'></td>
                        <td width='440' align="center">

                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;font-weight: light; color:#555555;font-size:26;font-family: Helvetica Neue;'>
                             <table>
                              <tr>
                                <td height="10"></td>
                              </tr>
                              <tr>
                                <td height="40" colspan="2">
                                  <h1 class='big'><a target='_blank' href="[CLIENTS.WEBSITE]" style='color:#444444'>[CLIENTS.COMPANY_NAME]</a></h1>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p style="font-size: 14px; line-height: 21px;">[DATE|0|m, Y] Newsletter</p>
                                </td>
                                <td align="right">
                                  <a target='_blank' href='[SHOWEMAIL]' class='link4' style='color:#27A1E5;font-size: 14px; line-height: 21px; text-align:right;' >Show in browser</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height='20'></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div class='movableContent'>
     <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" >
       <tr>
        <td height='20'></td></tr>
        <tr>
         <td align="center">
           <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center">
            <tr>
              <td align='center'>
                <div class='contentEditableContainer contentImageEditable'>
                  <div class='contentEditable' style="text-align: center;">
                    <img src="images/header.jpg" alt="Farmers' Markets" width='600' data-default="placeholder" data-max-width="600">
                  </div>
                </div>
              </td>
            </tr>
          </table>   
        </td>
      </tr>
    </table>
  </div>

  <div class='movableContent'>
   <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style='font-family:Helvetica, sans-serif;'>
     <tr><td height='20'></td></tr>
     <tr>
       <td>
         <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
          <tr>
            <td align='center'>
              <table width="560" border="0" cellpadding="0" cellspacing="0" align="center">
                <tr><td height='20' colspan="3"></td></tr>
                <tr>
                  <td align="center">
                    <table width="560" border="0" cellpadding="0" cellspacing="0" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px; '>
                      <tr><td height='20' colspan="3"></td></tr>
                      <tr>
                        <td width='35'></td>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: center;'>
                              <h2 style="font-size: 20px;">Eat your colors! </h2>
                              <br>
                              <p>Bright red tomatoes, summer squash (in lots of colors), delectable eggplant, onions, peppers and fresh thyme combine to make an easy french staple: Ratatouille! Serve with crusty bread and maybe a bit of cheese on the side. </p>
                            </div>
                          </div>
                        </td>
                        <td width='35'></td>
                      </tr>
                      <tr><td height='20' colspan="3"></td></tr>
                    </table>
                  </td>
                </tr>
                <tr><td height='20' colspan="3"></td></tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class='movableContent'>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" style='font-family:Helvetica, sans-serif;'>
   <tr><td height='20'></td></tr>
   <tr>
     <td>
       <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
        <tr>
          <td align='center'>
            <table width="520" border="0" cellpadding="0" cellspacing="0">
              <tr><td height='35'></td></tr>
              <tr>
                <td width='230'>
                  <div class='contentEditableContainer contentTextEditable'>
                    <div class='contentEditable' style='text-align: left;'>
                      <h2 style="font-size: 20px;">Sweating the eggplant</h2>
                      <br>
                      <p>To degorge or not to degorge, is often the question of home cooks. Do you spend those extra 30 minutes to salt and drain the egg plant? It takes no time, and makes a world of difference.
                      </p>
                      <br><br>
                      <a target='_blank' href="#" class='link2' style='color:#ffffff'>See why</a>
                      <br>
                    </div>
                  </div>
                </td>
                <td width='60'></td>
                <td width='230' align='center'>
                 <div class='contentEditableContainer contentTextEditable'>
                  <div class='contentEditable' style='text-align: left;'>
                    <h2 style="font-size: 20px;">Jerusalem Artichokes</h2>
                    <br>
                    <p>Not your average artichoke, the Jerusalem Artichoke are the sunflower's underground, edible tuber. Prepare it much as a you would a potato: boiled, braised or fried.
                    </p>
                    <br><br>
                    <a target='_blank' href="#" class='link2' style='color:#ffffff'>See recipes</a>
                    <br>
                  </div>
                </div>
              </td>
            </tr>
            <tr><td height='35'></td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</div>

<div class='movableContent'>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style='font-family:Helvetica, sans-serif;'>
   <tr><td height='20'></td></tr>
   <tr>
     <td>
       <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
        <tr>
          <td align='center'>
            <table width="560" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr><td height='20' colspan="3"></td></tr>
              <tr>
                <td align="center">
                  <table width="560" border="0" cellpadding="0" cellspacing="0" >
                    <tr><td height='20' colspan="3"></td></tr>
                    <tr>
                      <td width='35'></td>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class='contentEditable' style='text-align: center;'>
                            <h2 style="font-size: 20px;">Your veggie basket is ready!</h2>
                            <br>
                            <p>Don't forget to stop by [CLIENTS.ADDRESS] to pick up your vegetable basket!
                            </p>
                            <br><br>
                            <a target='_blank' href="[CLIENTS.ADDRESS]" class='link2' style='color:#ffffff'>Get directions</a>
                            <br>
                          </div>
                        </div>
                      </td>
                      <td width='35'></td>
                    </tr>
                    <tr><td height='20' colspan="3"></td></tr>
                  </table>
                </td>
              </tr>
              <tr><td height='20' colspan="3"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>

<div class='movableContent'>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" style='font-family:Helvetica, sans-serif;'>
   <tr><td height='20'></td></tr>
   <tr>
     <td>
       <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
        <tr>
          <td align='center'>
            <table width="520" border="0" cellpadding="0" cellspacing="0">
              <tr><td height='35'></td></tr>
              <tr>
                <td width='230'>
                  <table width='230' border='0' cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class='contentEditable'>
                            <img src="images/placeholder_1.jpg" alt="side image" width='230' data-default="placeholder" data-max-width="230">
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr><td height='35'></td></tr>
                    <tr>
                      <td>
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class='contentEditable' style='text-align: left;'>
                            <h2 style="font-size: 20px;">Corn</h2>
                            <br>
                            <p>Try something a little different with your corn this year: when husking your corn, keep the outer husks as intact as you can, and remove the silk...
                            </p>
                            <br><br>
                            <a target='_blank' href="#" class='link2' style='color:#ffffff'>See recipes</a>
                            <br>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width='55'></td>
                <td width='230'>
                  <table width='230' border='0' cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td>
                        <div class='contentEditableContainer contentImageEditable'>
                          <div class='contentEditable'>
                            <img src="images/placeholder_2.jpg" alt="side image" width='230'   data-default="placeholder" data-max-width="230">
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr><td height='35'></td></tr>
                    <tr>
                      <td>
                       <div class='contentEditableContainer contentTextEditable'>
                        <div class='contentEditable' style='text-align: left;'>
                          <h2 style="font-size: 20px;">Kale</h2>
                          <br>
                          <p>Remove the thick ribs, and you get a vegetable that's surpringly similar to spinach but with more resistance - great for curries, creamed greens...
                          </p>
                          <br><br>
                          <a target='_blank' href="#" class='link2' style='color:#ffffff'>Find out how</a>
                          <br>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" height="35">
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>


<div class='movableContent'>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" style='font-family:Helvetica, sans-serif;'>
   <tr><td height='20'></td></tr>
   <tr>
     <td>
       <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
        <tr>
          <td align='center'>
            <table width="520" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td height='35' colspan="3">
                </td>
              </tr>

              <tr>
                <td width='150' align="center">
                  <div class='contentEditableContainer contentImageEditable'>
                    <div class='contentEditable'>
                      <img src="images/placeholder_3.jpg" alt="side image" width='150' data-default="placeholder" data-max-width="150">
                    </div>
                  </div>
                </td>
                <td width='30'>
                </td>
                <td width='310'>
                  <table width="310" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td align="center">
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class='contentEditable' style='text-align: left;'>
                            <h2 style='font-size:16px;'>Summer squash</h2>
                            <br>
                            <p>The best way to prepare summer squash is to eat it raw!</p>
                            <br>
                            <p>Add it to your salads sliced or grated.</p>
                            <br>
                            <a target='_blank' href="#" class='link4'  >See more recipes</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height='35' colspan="3"></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>

<div class='movableContent'>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style='font-family:Helvetica, sans-serif;'>
   <tr><td height='20'></td></tr>
   <tr>
     <td>
       <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
        <tr>
          <td align='center' align="center">
            <table width="520" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr><td height='35'></td></tr>
              <tr>
                <td width='310' align="center">
                  <table width="310" cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td align="center">
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              <h2 style='font-size:16px;'>Asparagus</h2>
                              <br>
                              <p>Skewer your asparagrus, add oil or butter and place it on the grill. Cook for 3 to 4 minutes per side, directly on the grill.</p>
                              <br>
                              <a target='_blank' href="#" class='link4'  >More elegant asparagus sides</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='35'></td>
                  <td width='150' align="center">
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class='contentEditable'>
                        <img src="images/placeholder_2.jpg" alt="side image" width='150' data-default="placeholder" data-max-width="150">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr><td height='35'></td></tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class='movableContent'>
 <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style='font-family:Helvetica, sans-serif;'>
   <tr><td height='20'></td></tr>
   <tr>
     <td align="center">
       <table width="600" border="0" cellpadding="0" cellspacing="0" class="bgItem" align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
        <tr>
          <td align='center'>
            <table width="520" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr><td height='35'></td></tr>
              <tr>
                <td width='150' align="center">
                  <div class='contentEditableContainer contentImageEditable'>
                    <div class='contentEditable'>
                      <img src="images/placeholder_1.jpg" alt="side image" width='150' data-default="placeholder" data-max-width="150">
                    </div>
                  </div>
                </td>
                <td width='35'></td>
                <td width='310'>
                  <table width="310" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td align="center">
                        <div class='contentEditableContainer contentTextEditable'>
                          <div class='contentEditable' style='text-align: left;'>
                            <h2 style='font-size:16px;' >Potato</h2>
                            <br>
                            <p>Potato salad is pretty epic: it's a salad that's actually a side dish, and has international incarnations. </p>
                            <br>
                            <a target='_blank' href="#" class='link4' >Get international inspiration</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height='35'></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>

<div class='movableContent'>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style='font-family:Helvetica, sans-serif;' >
   <tr><td height='40'></td></tr>
   <tr>
     <td align='center' bgcolor="d15d4d">
       <table width="600" border="0" cellpadding="0" cellspacing="0"  align="center" style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px' >
        <tr><td height='20'></td></tr>
        <tr>
          <td align='center'>
            <table  width="560" border="0" cellpadding="0" cellspacing="0" align="center">
              <tbody>
                <tr>
                  <td align="left" style="font-size:11px;">
                    <div class="contentEditableContainer contentTextEditable" style="min-height: 0px;">
                      <div class="contentEditable">
                        <p style="color: #fff">
                          <a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:none; color: #fff;">Unsubscribe</a> | <a target='_blank' href="[FORWARD]" style="text-decoration:none; color: #fff;">Forward to a friend</a>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td align="right" width='25' valign="middle" style="font-size:11px;">
                    <div class="contentEditableContainer contentTwitterEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <img src="images/whiteTweet.png" title="Follow us on Twitter" width="20" data-max-width="25" data-customIcon="true" >
                      </div>
                    </div>
                  </td>
                  <td align="right" width='25' valign="middle" style="font-size:11px;">
                    <div class="contentEditableContainer contentFacebookEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <img src="images/whitebook.png" title="Like us on Facebook" width="20" data-max-width='25' data-customIcon="true" >
                      </div>
                    </div>
                  </td>
                  <td align="right" width='25' valign="middle" style="font-size:11px;">
                    <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <a target='_blank' href="https://plus.google.com/" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePlus.png" title="Google plus" width="20" data-max-width="25"></a>
                      </div>
                    </div>
                  </td>
                  <td align="right" width='25' valign="middle" style="font-size:11px;">
                    <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <a target='_blank' href="http://pinterest.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whitePin.png" title="See who we're pinning" width="20" data-max-width="25"></a>
                      </div>
                    </div>
                  </td>
                  <td align="right" valign="middle" width='25' style="font-size:11px;">
                    <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <a target='_blank' href="http://tumblr.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteCam.png" title="Follow us on Tumblr" width="20" data-max-width="25" ></a>
                      </div>
                    </div>
                  </td>
                  <td align="right" width='25' valign="middle" style="font-size:11px;">
                    <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <a target='_blank' href="http://youtube.com" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteTube.png" title="Follow us on Tumblr" width="20" data-max-width="25"></a>
                      </div>
                    </div>
                  </td>
                  <td align="right" valign="middle" style="font-size:11px;" width='25'>
                    <div class="contentEditableContainer contentImageEditable" style="min-height: 0px;display:inline;">
                      <div class="contentEditable">
                        <a target='_blank' href="#" target="_blank" style="text-decoration:none; color: #fff;"><img src="images/whiteRss.png" title="Get the latest blog posts" width="20" data-max-width="25"></a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr><td height='20'></td></tr>
      </table>
    </td>
  </tr>
</table>              
</div>


</td>
</tr>
</table>


  </body>
  </html>
